<div class="ddp-ui-contents-list ddp-type ">
  <!-- banner -->
        <div class="ddp-ui-banner">
          <div class="ddp-type-label">
            Recommended for you
          </div>
          <div class="ddp-box-banner">
            <div class="ddp-banner-main">
              <component-banner [bannerClass]="'ddp-ui-banner-link type-banner01'" [iconClass]="'ddp-icon-datasource'"
                                [tagList]="['사업부','사업부']"
                                [title]="'New Data Source 01'"
                                [description]="'데이터 설명 데이터 설명 데이터 설명 데이터 설명 데이터 설명 데이터 설명<br>데이터 설명 데이터 설명 데이터 설명'"
                                [style.width]="100 + '%'" [style.display]="'table'" [style.height]="100 + '%'"></component-banner>
            </div>
            <div class="ddp-banner-list">
              <component-banner [bannerClass]="'ddp-ui-banner-link type-banner02'" [iconClass]="'ddp-icon-stagingdb'"
                                [title]="'Data Source 002'">
              </component-banner>
              <component-banner [bannerClass]="'ddp-ui-banner-link type-banner03'" [iconClass]="'ddp-icon-stagingdb'"
                                [title]="'Data Source 002'">
              </component-banner>
              <component-banner [bannerClass]="'ddp-ui-banner-link type-banner04'" [iconClass]="'ddp-icon-stagingdb'"
                                [title]="'Data Source 002'">
              </component-banner>
              <component-banner [bannerClass]="'ddp-ui-banner-link type-banner03'" [iconClass]="'ddp-icon-stagingdb'"
                                [title]="'Data Source 002'">
              </component-banner>
            </div>
          </div>
        </div>
  <!-- //banner -->
  <!-- summary -->
  <div class="ddp-wrap-meta-summary">
    <!-- wrap box -->
    <div class="ddp-wrap-box">
      <div class="ddp-box-summary">
        <div class="ddp-type-summary-label">Popular data</div>
        <ul class="ddp-list-summary ddp-clear">
          <li *ngFor="let metadata of popularMetadataList">
            <component-card [imageClass]="'ddp-data-images type-hive'"
                            [title]="metadata.name" [description]="metadata.description"
                            [tagList]="metadata.tags"
                            [popularity]="metadata.popularity"
                            [creator]="metadata?.createdBy?.fullName" (clickedCard)="onClickMetadata(metadata)">
            </component-card>
          </li>
        </ul>
      </div>
      <div class="ddp-box-summary">
        <div class="ddp-type-summary-label">New or Update</div>
        <ul class="ddp-list-summary ddp-clear">
          <li>
            <component-card [imageClass]="'ddp-data-images type-database'"
                            [title]="'New  data'" [description]="'설명설명설명설명설명설명설명설명설명설명설명설명설명설명'" [popularity]="50"  [creator]="'admin'">
            </component-card>
          </li>
          <li>
            <component-card [imageClass]="'ddp-data-images type-database'"
                            [title]="'New  data'" [description]="'설명설명설명설명설명설명설명설명설명설명설명설명설명설명'" [popularity]="50"  [creator]="'admin'">
            </component-card>
          </li>
          <li>
            <component-card [imageClass]="'ddp-data-images type-database'"
                            [title]="'New  data'" [description]="'설명설명설명설명설명설명설명설명설명설명설명설명설명설명'" [popularity]="50"  [creator]="'admin'">
            </component-card>
          </li>
        </ul>
      </div>
    </div>
    <!-- //wrap box -->
    <!-- wrap summary list -->
    <div class="ddp-wrap-list-summary">
      <!-- summary list -->
      <div class="ddp-ui-list-summary">
        <div class="ddp-type-summary-label">My favorite
          <a href="javascript:" class="ddp-btn-more">more ></a>
        </div>
        <ul class="ddp-list-data">
          <li>
            <component-card [imageClass]="'ddp-data-images type-hive'"
                            [title]="'New  data'" [creator]="'admin'">
            </component-card>
          </li>
          <li>
            <component-card [imageClass]="'ddp-data-images type-hive'"
                            [title]="'New  data'" [creator]="'admin'">
            </component-card>
          </li>
          <li>
            <component-card [imageClass]="'ddp-data-images type-hive'"
                            [title]="'New  data'" [creator]="'admin'">
            </component-card>
          </li>
        </ul>

      </div>
      <!-- //summary list -->
      <!-- summary list -->
      <div class="ddp-ui-list-summary">
        <div class="ddp-type-summary-label">Favorite creator
          <a href="javascript:" class="ddp-btn-more">more ></a>
        </div>
        <ul class="ddp-list-data">
          <li>
            <component-card [imageClass]="'ddp-data-images type-hive'"
                            [title]="'New  data'" [creator]="'admin'">
            </component-card>
          </li>
          <li>
            <component-card [imageClass]="'ddp-data-images type-hive'"
                            [title]="'New  data'" [creator]="'admin'">
            </component-card>
          </li>
        </ul>
      </div>
      <!-- //summary list -->
    </div>
    <!-- //wrap summary list -->
  </div>
  <!-- //summary -->
</div>

