<div class="ddp-ui-contents-list ddp-type">
  <!-- banner -->
  <div class="ddp-ui-banner">
    <div class="ddp-type-label">Popular data</div>
    <div class="ddp-wrap-slider">
      <!-- paging -->
      <div class="ddp-paging">
        <a href="javascript:" class="ddp-btn-prev" (click)="onClickCarouselLeft()"></a>
        <a href="javascript:" class="ddp-btn-next" (click)="onClickCarouselRight()"></a>
      </div>
      <!-- Bullet -->
      <div class="ddp-wrap-bullet">
        <div class="ddp-ui-bullet">
          <span *ngFor="let number of popularMetadataCarouselScreenNumber" class="ddp-bullet" [class.ddp-selected]="(number * 5) === popularMetadataShowStartNumber"></span>
        </div>
      </div>
      <!-- //Bullet -->
      <ul class="ddp-list-popular ddp-clear">
        <component-explore-banner *ngFor="let metadata of popularMetadataList.slice(popularMetadataShowStartNumber, popularMetadataShowStartNumber + 5); let i = index"
                                  [metadata]="metadata"
                                  [bannerClass]="getBannerClass(metadata)" [iconClass]="getMetadataTypeClass(metadata)"
                                  (clickedBanner)="onClickMetadata(metadata)">
        </component-explore-banner>
      </ul>
    </div>
  </div>
  <!-- //banner -->
  <!-- summary -->
  <div class="ddp-wrap-meta-summary ddp-clear">
    <!--  New or Update  -->
    <div class="ddp-box-summary">
      <div class="ddp-type-label">New or Update</div>

      <ul class="ddp-list-summary">
        <li *ngFor="let metadata of updatedMetadataList| slice:0:4">
          <component-explore-card [iconClass]="getMetadataTypeClass(metadata)"
                                  [cardClass]="getBannerClass(metadata)"
                                  [title]="metadata.name"
                                  [creator]="metadata?.createdBy?.fullName" (clickedCard)="onClickMetadata(metadata)">
          </component-explore-card>
        </li>
      </ul>
    </div>
    <!--  /New or Update  -->

    <!--  My favorite  -->
    <div class="ddp-box-summary">
      <div class="ddp-type-label">My Favorite
        <a href="javascript:" class="ddp-btn-more">more &gt;</a>
      </div>
      <ul class="ddp-list-summary">
        <li *ngFor="let metadata of favoriteMetadataList| slice:0:4">
          <component-explore-card [iconClass]="getMetadataTypeClass(metadata)"
                                  [cardClass]="getBannerClass(metadata)"
                                  [title]="metadata.name"
                                  [creator]="metadata?.createdBy?.fullName" (clickedCard)="onClickMetadata(metadata)">
          </component-explore-card>
        </li>
      </ul>
    </div>
    <!--  My favorite  -->
    <!--  Favorite creator  -->
    <div class="ddp-box-summary">
      <div class="ddp-type-label">Favorite creator
        <a href="javascript:" class="ddp-btn-more">more &gt;</a>
      </div>

      <ul class="ddp-list-data">
<!--        <ul class="ddp-list-summary">-->
          <li *ngFor="let metadata of favoriteCreatorMetadataList| slice:0:4">
            <a href="javascript:">
              <div class="ddp-wrap-data">
                <span class="ddp-data-profile">

                </span>
                <div class="ddp-data-txt">
                  <div class="ddp-data-name" title="Creator name 01">{{ metadata.createdBy.fullName }}</div>
                  <div class="ddp-data-create" title="Creator name 01">{{ metadata.name }}</div>
                </div>
              </div>
            </a>
<!--            <component-explore-card-->
<!--              [iconClass]="getMetadataTypeClass(metadata)"-->
<!--              [cardClass]="getBannerClass(metadata)"-->
<!--              [title]="metadata.name"-->
<!--              [creator]="metadata?.createdBy?.fullName" (clickedCard)="onClickMetadata(metadata)">-->
<!--            </component-explore-card>-->
          </li>
<!--        </ul>-->

      </ul>
    </div>
    <!--  Favorite creator  -->
  </div>
  <!-- //summary -->
</div>

