<em class="ddp-bg-back"></em>
<div class="ddp-ui-contents-in">
  <!-- top -->
  <div class="ddp-ui-contents-top ">
    <div class="ddp-ui-title">
      Explore Data
    </div>
    <!-- tag -->
    <div class="ddp-ui-tag">
      <div class="ddp-box-tag-value ddp-datasource">Datasource 541 </div>
      <div class="ddp-box-tag-value ddp-hive">Hive  11</div>
      <div class="ddp-box-tag-value ddp-stagingdb">StagingDB 92</div>
    </div>
    <!-- //tag -->
    <!-- search -->
<!--    <div class="ddp-meta-search">-->
<!--      &lt;!&ndash; select box &ndash;&gt;-->
<!--      &lt;!&ndash; 클릭시 ddp-selected 추가 &ndash;&gt;-->
<!--      <div class="ddp-search-select ">-->
<!--        <span class="ddp-data">All</span>-->

<!--        <div class="ddp-wrap-popup2">-->
<!--          <ul class="ddp-list-popup">-->
<!--            <li >-->
<!--              <a href="#">-->
<!--                All-->
<!--              </a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#">-->
<!--                워크북-->
<!--              </a>-->
<!--            </li>-->

<!--          </ul>-->
<!--        </div>-->

<!--      </div>-->
<!--      &lt;!&ndash; //select box &ndash;&gt;-->
<!--      &lt;!&ndash; search form &ndash;&gt;-->
<!--      <div class="ddp-search-b">-->
<!--        <em class="ddp-icon-search"></em>-->
<!--        <input type="text" placeholder="Searching Meta data"/>-->
<!--      </div>-->
<!--      &lt;!&ndash; //search form &ndash;&gt;-->
<!--    </div>-->
    <!-- //search -->
  </div>
  <!-- //top -->
  <!--
      ddp-close 추가시 닫힘
  -->
  <div class="ddp-view-catalog ">
    <!-- catalogs -->
    <div class="ddp-wrap-catalogs ">
      <div class="ddp-wrap-tabs ddp-clear">
        <ul class="ddp-ui-tab ddp-type">
          <li class="ddp-selected">
            <a href="javascript:">Catalogs</a>
          </li>
        </ul>
      </div>
      <!-- //tab -->
      <div class="ddp-wrap-folding">
        <!-- 폴딩 -->
        <a href="#" class="ddp-btn-folding ddp-hover-tooltip">
          <!-- tooltip -->
          <div class="ddp-ui-tooltip-info ddp-down">
            <em class="ddp-icon-view-top"></em>
            폴딩
          </div>
          <!-- //tooltip -->
        </a>
        <!-- //폴딩 -->
      </div>
      <div class="ddp-wrap-tab-contents">
        <div class="ddp-ui-tab-contents">
          <!-- search -->
<!--          <div class="ddp-ui-searching">-->
<!--            <em class="ddp-icon-search"></em>-->

<!--            <input type="text" placeholder="Search">-->
<!--          </div>-->
          <!-- //search -->
          <div class="ddp-ui-catalog-contents">
            <!-- favorite -->
            <div class="ddp-ui-favorite">
              <div class="ddp-ui-label"><em class="ddp-icon-favorite"></em>Favorite</div>
              <ul class="ddp-list-favorite">
                <li>
                  <a href="javascript:">
                    <em class="ddp-icon-folder-type"></em>
                    <div class="ddp-data-txt">
                                                    <span class="ddp-data-navi">
                                                        Abc사업부 > ABbde팀 > ABC파트Abc사업부 > ABbde팀 > ABC파트Abc사업부 > ABbde팀 > ABC파트
                                                    </span>
                      <span class="ddp-data-name">A 사업부</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="javascript:">
                    <em class="ddp-icon-folder"></em>
                    <div class="ddp-data-txt">
                                                    <span class="ddp-data-navi">
                                                        Abc사업부 > ABbde팀 > ABC파트Abc사업부 > ABbde팀 > ABC파트Abc사업부 > ABbde팀 > ABC파트
                                                    </span>
                      <span class="ddp-data-name">A 사업부</span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>

            <!-- //favorite -->
            <!-- tree -->
            <div class="ddp-ui-tree">
              <ul class="ddp-list-tree">
                <li class=" ddp-open">
                  <a href="javascript:" class="ddp-depth">
                    <em class="ddp-view"></em>
                    <div class="ddp-txt-link">
                      <em class="ddp-icon-folder"></em>A <span class="ddp-txt-search">사업부</span>
                    </div>
                  </a>
                  <!-- 2depth -->
                  <ul>
                    <li>
                      <a href="javascript:">
                        <em class="ddp-icon-folder"></em>


                        <div class="ddp-txt-link">
                          <em class="ddp-icon-folder"></em>sub1 selected  <span class="ddp-txt-search">사업</span>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:">
                        <div class="ddp-txt-link">
                          <em class="ddp-icon-question"></em>
                          <span class="ddp-txt-search">사업</span> sub2
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:" class="ddp-depth">
                        <div class="ddp-txt-link">
                          <em class="ddp-icon-folder"></em>
                          <span class="ddp-txt-search">사업</span> sub2
                        </div>

                      </a>
                      <!-- 3depth -->
                      <ul>
                        <li>
                          <a href="javascript:">
                            <div class="ddp-txt-link">
                              <em class="ddp-icon-folder"></em>
                              sub1 selected <span class="ddp-txt-search">사업</span> sub2
                            </div>

                          </a>
                        </li>

                      </ul>
                      <!-- //3depth -->
                    </li>
                    <li class="ddp-selected">
                      <a href="javascript:" class="ddp-depth">
                        <div class="ddp-txt-link">
                          <em class="ddp-icon-folder"></em>
                          <span class="ddp-txt-search">사업</span> sub2
                        </div>
                      </a>
                      <!-- 3depth -->
                      <ul>
                        <li>

                          <a href="javascript:">
                            <em class="ddp-view"></em>
                            <div class="ddp-txt-link">
                              <em class="ddp-icon-folder"></em>
                              <span class="ddp-txt-search">사업</span> sub2su
                            </div>

                          </a>
                        </li>

                      </ul>
                      <!-- //3depth -->
                    </li>
                  </ul>
                  <!-- //2depth -->
                </li>
              </ul>

            </div>

            <!-- //tree -->
          </div>
        </div>
      </div>
    </div>
    <!-- //catalogs -->
    <explore-data-main (clickedMetadata)="onClickMetadata($event)"></explore-data-main>
  </div>
</div>
<explore-metadata-container
  *ngIf="selectedMetadata?.id"
  [metadata]="selectedMetadata"
  (closeMetadataContainer)="onCloseMetadataContainer()">
</explore-metadata-container>
