<em class="ddp-bg-back"></em>
<div class="ddp-ui-contents-in">
  <!-- top -->

  <div class="ddp-ui-contents-top ">
    <div class="ddp-ui-title">
      Explore Data
    </div>
    <!-- tag -->
    <div class="ddp-ui-tag">
      <div class="ddp-box-tag-value ddp-datasource">Datasource 541 </div>
      <div class="ddp-box-tag-value ddp-hive">Hive  11</div>
      <div class="ddp-box-tag-value ddp-stagingdb">StagingDB 92</div>
    </div>
    <!-- //tag -->
    <!-- search -->
    <div class="ddp-meta-search">
      <!-- select box -->
      <!-- 클릭시 ddp-selected 추가 -->
      <div class="ddp-search-select ">
        <span class="ddp-data">All</span>

        <div class="ddp-wrap-popup2">
          <ul class="ddp-list-popup">
            <li>
              <a href="#">
                All
              </a>
            </li>
            <li>
              <a href="#">
                워크북
              </a>
            </li>

          </ul>
        </div>

      </div>
      <!-- //select box -->
      <!-- search form -->
      <div class="ddp-search-b">
        <em class="ddp-icon-search"></em>
        <input type="text" placeholder="Searching Meta data">
      </div>
      <!-- //search form -->
    </div>
    <!-- //search -->
  </div>
  <!-- //top -->
  <!--
      ddp-close 추가시 닫힘
  -->
  <div class="ddp-view-catalog ">
    <!-- catalogs -->
    <div class="ddp-wrap-catalogs ">
      <!-- 폴딩 -->
      <a href="#" class="ddp-btn-folding ddp-hover-tooltip">
        <!-- tooltip -->
        <div class="ddp-ui-tooltip-info ddp-down">
          <em class="ddp-icon-view-top"></em>
          폴딩
        </div>
        <!-- //tooltip -->
      </a>
      <!-- //폴딩 -->
      <div class="ddp-type-label">Catalogs</div>


      <!-- search -->
      <div class="ddp-ui-searching">
        <em class="ddp-icon-search"></em>

        <input type="text" placeholder="Search">
      </div>
      <!-- //search -->

      <!-- tree -->
      <div class="ddp-ui-tree">
        <ul class="ddp-list-tree">
          <li class="ddp-selected ddp-open">
            <a href="javascript:" class="ddp-depth">
              <em class="ddp-view"></em>
              <div class="ddp-txt-link">
                <em class="ddp-icon-folder"></em>A <span class="ddp-txt-search">사업부</span>
              </div>
            </a>
            <!-- 2depth -->
            <ul>
              <li>
                <a href="javascript:">
                  <em class="ddp-view"></em>
                  <em class="ddp-icon-folder"></em>


                  <div class="ddp-txt-link">
                    <em class="ddp-icon-folder"></em>sub1 selected  <span class="ddp-txt-search">사업</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript:">
                  <em class="ddp-view"></em>
                  <div class="ddp-txt-link">
                    <em class="ddp-icon-question"></em>
                    <span class="ddp-txt-search">사업</span> sub2
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript:" class="ddp-depth">
                  <em class="ddp-view"></em>
                  <div class="ddp-txt-link">
                    <em class="ddp-icon-folder"></em>
                    <span class="ddp-txt-search">사업</span> sub2
                  </div>

                </a>
                <!-- 3depth -->
                <ul>
                  <li>
                    <a href="javascript:">
                      <em class="ddp-view"></em>
                      <div class="ddp-txt-link">
                        <em class="ddp-icon-folder"></em>
                        sub1 selected <span class="ddp-txt-search">사업</span> sub2
                      </div>

                    </a>
                  </li>

                </ul>
                <!-- //3depth -->
              </li>
              <li class="ddp-selected">
                <a href="javascript:" class="ddp-depth">
                  <em class="ddp-view"></em>
                  <div class="ddp-txt-link">
                    <em class="ddp-icon-folder"></em>
                    <span class="ddp-txt-search">사업</span> sub2
                  </div>
                </a>
                <!-- 3depth -->
                <ul>
                  <li>

                    <a href="javascript:">
                      <em class="ddp-view"></em>
                      <div class="ddp-txt-link">
                        <em class="ddp-icon-folder"></em>
                        <span class="ddp-txt-search">사업</span> sub2su
                      </div>

                    </a>
                  </li>

                </ul>
                <!-- //3depth -->
              </li>
            </ul>
            <!-- //2depth -->
          </li>
        </ul>

      </div>

      <!-- //tree -->

    </div>
    <!-- //catalogs -->
    <div class="ddp-ui-contents-list ddp-type ">
      <!-- box list -->
      <div class="ddp-box-list">
        <div class="ddp-label-type">MOST POPULAR</div>

        <table class="ddp-table-form ddp-table-line">
          <colgroup>
            <col width="26px">
            <col width="100px">
            <col width="*">
            <col width="20%">
            <col width="13%">
            <col width="15%">
          </colgroup>
          <thead>
          <tr>
            <th>

            </th>
            <th>
              Data type
            </th>
            <th>
              Data
            </th>
            <th>
              Tags
            </th>
            <th>
              Data Popularity
              <div class="ddp-wrap-hover-info">
                <em class="ddp-icon-info3"></em>
                <!-- popup -->
                <div class="ddp-box-layout4 ddp-popularity">
                  <div class="ddp-data-title">
                    What is data popularity?
                  </div>
                  <div class="ddp-data-det">
                    The data popularity indicates how much the data is being
                    used. The list below is a set of criteria for measuring
                    popularity.
                    <ul>
                      <li>• How many dashboards are connected?
                      </li><li>• how many times was it joined with other data? </li>
                      <li>• how many columns were used on the chart shelves? </li>
                    </ul>
                  </div>

                </div>
                <!-- //popup -->
              </div>
            </th>
            <th>
              Created
            </th>

          </tr>
          </thead>

          <tbody><tr>
            <td class="ddp-txt-center"><em class="ddp-icon-fav ddp-selected"></em></td>

            <td>
              <span class="ddp-box-tag-value ddp-datasource">Datasource</span>
            </td>
            <td>
              <div class="ddp-txt-long">
                <span class="ddp-txt-search">Data</span> set _EQPID ALL
                <span class="ddp-txt-colortype">-설명</span>
              </div>
            </td>
            <td>
              <span class="ddp-tags"># 사업부</span>
              <span class="ddp-tags"># CEI</span>
              <span class="ddp-tags"># Tech</span>
            </td>
            <td>
              <div class="ddp-bar">
                <span style="width:30%;"></span>
              </div>
            </td>
            <td>
              2017-7-13 14:35:00
              <div class="ddp-btn-control">
                <em class="ddp-icon-control-cut"></em>
              </div>
            </td>
          </tr>

          <tr>
            <td class="ddp-txt-center"><em class="ddp-icon-fav "></em></td>
            <td>
              <span class="ddp-box-tag-value ddp-hive">Hive</span>
            </td>
            <td>
              <div class="ddp-txt-long">
                Data set _EQPID ALL
                <span class="ddp-txt-colortype">-설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명</span>
              </div>
            </td>
            <td>
              <span class="ddp-tags"># 사업부</span>
              <span class="ddp-tags"># CEI</span>
              <span class="ddp-tags"># Tech</span>
            </td>
            <td>
              <div class="ddp-bar">
                <span style="width:70%;"></span>
              </div>
            </td>
            <td>
              2017-7-13 14:35:00
              <div class="ddp-btn-control">
                <em class="ddp-icon-control-cut"></em>
              </div>
            </td>
          </tr>
          <tr>
            <td class="ddp-txt-center"></td>
            <td>
              <span class="ddp-box-tag-value ddp-stagingdb">StagingDB</span>
            </td>
            <td>
              <div class="ddp-txt-long">
                Data set _EQPID ALL
                <span class="ddp-txt-colortype">-설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명</span>
              </div>
            </td>
            <td>
              <span class="ddp-tags"># 사업부</span>
              <span class="ddp-tags"># CEI</span>
              <span class="ddp-tags"># Tech</span>
            </td>
            <td>
              <div class="ddp-bar">
                <span style="width:70%;"></span>
              </div>
            </td>
            <td>
              2017-7-13 14:35:00
              <div class="ddp-btn-control">
                <em class="ddp-icon-control-cut"></em>
              </div>
            </td>
          </tr>


          </tbody>

        </table>

      </div>
      <!-- //box list -->
      <!-- box list -->
      <div class="ddp-box-list">
        <div class="ddp-label-type">Recently Updated</div>

        <table class="ddp-table-form ddp-table-line">
          <colgroup>
            <col width="26px">
            <col width="100px">
            <col width="*">
            <col width="20%">
            <col width="13%">
            <col width="15%">
          </colgroup>
          <thead>
          <tr>
            <th>

            </th>
            <th>
              Data type
            </th>
            <th>
              Data
            </th>
            <th>
              Tags
            </th>
            <th>
              Data Popularity
              <div class="ddp-wrap-hover-info">
                <em class="ddp-icon-info3"></em>
                <!-- popup -->
                <div class="ddp-box-layout4 ddp-popularity">
                  <div class="ddp-data-title">
                    What is data popularity?
                  </div>
                  <div class="ddp-data-det">
                    The data popularity indicates how much the data is being
                    used. The list below is a set of criteria for measuring
                    popularity.
                    <ul>
                      <li>• How many dashboards are connected?
                      </li><li>• how many times was it joined with other data? </li>
                      <li>• how many columns were used on the chart shelves? </li>
                    </ul>
                  </div>

                </div>
                <!-- //popup -->
              </div>
            </th>
            <th>
              Created
            </th>

          </tr>
          </thead>
          <tbody>

          <tr>
            <td class="ddp-txt-center"><em class="ddp-icon-fav ddp-selected"></em></td>

            <td>
              <span class="ddp-box-tag-value ddp-datasource">Datasource</span>
            </td>
            <td>
              <div class="ddp-txt-long">
                Data set _EQPID ALL
                <span class="ddp-txt-colortype">-설명</span>
              </div>
            </td>
            <td>
              <span class="ddp-tags"># 사업부</span>
              <span class="ddp-tags"># CEI</span>
              <span class="ddp-tags"># Tech</span>
            </td>
            <td>
              <div class="ddp-bar">
                <span style="width:30%;"></span>
              </div>
            </td>
            <td>
              2017-7-13 14:35:00
              <div class="ddp-btn-control">
                <em class="ddp-icon-control-cut"></em>
              </div>
            </td>
          </tr>
          <tr>
            <td class="ddp-txt-center"><em class="ddp-icon-fav "></em></td>
            <td>
              <span class="ddp-box-tag-value ddp-hive">Hive</span>
            </td>
            <td>
              <div class="ddp-txt-long">
                Data set _EQPID ALL
                <span class="ddp-txt-colortype">-설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명</span>
              </div>
            </td>
            <td>
              <span class="ddp-tags"># 사업부</span>
              <span class="ddp-tags"># CEI</span>
              <span class="ddp-tags"># Tech</span>
            </td>
            <td>
              <div class="ddp-bar">
                <span style="width:70%;"></span>
              </div>
            </td>
            <td>
              2017-7-13 14:35:00
              <div class="ddp-btn-control">
                <em class="ddp-icon-control-cut"></em>
              </div>
            </td>
          </tr>
          <tr>
            <td class="ddp-txt-center"></td>
            <td>
              <span class="ddp-box-tag-value ddp-stagingdb">StagingDB</span>
            </td>
            <td>
              <div class="ddp-txt-long">
                Data set _EQPID ALL
                <span class="ddp-txt-colortype">-설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명설명</span>
              </div>
            </td>
            <td>
              <span class="ddp-tags"># 사업부</span>
              <span class="ddp-tags"># CEI</span>
              <span class="ddp-tags"># Tech</span>
            </td>
            <td>
              <div class="ddp-bar">
                <span style="width:70%;"></span>
              </div>
            </td>
            <td>
              2017-7-13 14:35:00
              <div class="ddp-btn-control">
                <em class="ddp-icon-control-cut"></em>
              </div>
            </td>
          </tr>


          </tbody>

        </table>

      </div>
      <!-- //box list -->


    </div>
  </div>


</div>
