<div class="ddp-lineage-create-confirm-grid">
<div class="ddp-type-contents ddp-resize2 ddp-type2 popup-prep-create">
  <!-- 닫기 버튼 -->
  <a href="javascript:" class="ddp-btn-close" (click)="close()"></a>
  <!-- //닫기 버튼 -->
  <div class="ddp-icon-name">
    <div class="ddp-ui-name2 ddp-type2">
      {{'msg.metadata.ui.lineage.create.edge.upload' | translate : {value: createType} }}
      <span class="ddp-txt-info ddp-type">Please check the list</span>
      <em class="ddp-bg-order-line2-type2"></em>
    </div>
  </div>

  <!-- contents in  -->
  <div class="ddp-type-contents-in ddp-sheet-resize">
    <div class="ddp-box-popupcontents ddp-wrap-file-create2 ddp-flex">

      <!-- upload box -->
      <div class="ddp-box-upload">
        <!-- name -->
        <div class="ddp-data-load-name" *ngIf="lineageData.uploaded">
          <em class="ddp-icon-flow-svg">
            <svg-icon-component [name]="lineageData.uploaded.format" [isBlackAndWhite]="true"></svg-icon-component>
          </em>
          <span> {{lineageData.uploaded.fileName}} </span>
        </div>
        <!-- //name -->
      </div>
      <!-- //upload box -->

      <div class="ddp-txt-total" *ngIf="isWell"><strong>{{lineageData.rows.length}}</strong> lineage edge{{1<lineageData.rows.length?'s':''}} will be updated</div>
      <div class="ddp-wrap-variable type-vertical">
        <!-- wrap sheet -->
        <div class="ddp-wrap-sheet">
          <div class="ddp-ui-empty" *ngIf="!lineageData">
            <span class="ddp-txt-result"> {{'msg.dp.ui.no.preview' | translate}} </span>
            <a href="javascript:" class="ddp-btn-selection ddp-line" (click)="downloadSample();"><em class="ddp-icon-download2"></em>Download Sample</a>
          </div>
          <div class="ddp-box-gridarea" #previewGrid grid-component [hidden]="!isWell"></div>
          <div class="ddp-box-invalid" [hidden]="isWell">
            <div>
              <span class="ddp-txt-result type-error"> Invalid File Format </span>
            </div>
            <div>
              <a href="javascript:" class="ddp-btn-selection ddp-line" (click)="downloadSample();"><em class="ddp-icon-download2"></em>Download Sample</a>
            </div>
          </div>
        </div>
        <!-- //wrap sheet -->
      </div>

      <div class="ddp-box-synch type-error" [ngStyle]="{'visibility': errorView?'visible':'hidden'}">
        <div class="ddp-txt-synch">
          <em class="ddp-icon-info"></em>{{errorMsg}}
        </div>
      </div>

    </div>
  </div>


  <div class="ddp-ui-buttons">
    <a href="javascript:" class="ddp-btn-type-popup" (click)="prev()">{{ 'msg.comm.btn.previous' | translate }}</a>
    <!-- disabled 시 ddp-disabled 추가 -->
    <a href="javascript:" class="ddp-btn-type-popup ddp-bg-black " [ngClass]="{'ddp-disabled':!isWell}" (click)="complete()">{{'msg.comm.btn.done2' | translate}}</a>
  </div>
  <!-- //buttons -->

</div>
