@charset "utf-8";

/**************************************************************
  Page : 02_워크북_03차트_03main
**************************************************************/
.page-chart .ddp-ui-chart-main .ddp-ui-chart-area .ddp-top-control {position:absolute; top:0; right:0;}
.page-chart .ddp-ui-chart-main .ddp-ui-chart-area .ddp-top-control .ddp-box-btn2 {float:Left; cursor:pointer;}
.page-chart .ddp-ui-chart-main .ddp-ui-chart-area .ddp-top-control .ddp-icon-widget-info2 {float:left; position:relative; width:25px; height:25px; font-size:0px; border-radius:2px; box-sizing:border-box; border:1px solid #cdd8f4; background-color:#f0f3fc;}

.page-chart .ddp-ui-chart-main .ddp-ui-chart-area .ddp-top-control .ddp-icon-widget-info2:before {display:inline-block; position:absolute ;top:50%; left:50%; margin:-7px 0 0 -8px; width:15px; height:14px; background:url(../../../images/icon_widget.png) no-repeat; background-position:-16px -244px; content:'';}

.page-chart .ddp-ui-chart-main .ddp-ui-chart-area .ddp-top-control .ddp-box-btn2:hover .ddp-box-info.ddp-limitation {display:block;}
.page-chart .ddp-ui-chart-main .ddp-ui-chart-area .ddp-top-control .ddp-box-btn2:hover .ddp-box-info.ddp-limitation .ddp-total {display:block; padding-bottom:4px;}
.page-chart .ddp-ui-chart-main .ddp-ui-chart-area .ddp-top-control .ddp-box-btn2:hover .ddp-box-info.ddp-limitation .ddp-total strong {display:block;}
.page-chart .ddp-ui-chart-main .ddp-ui-chart-area .ddp-top-control   .ddp-box-info.ddp-limitation {display:none; position:absolute; top:100%; right:0px; padding:6px 10px; width:240px; border-radius:3px; background-color:#7182ba; color:#fff; box-sizing:border-box; z-index:1000;}
