@charset "utf-8";

/**************************************************************
  Page : 워크벤치 상세 (lnb)
**************************************************************/
.page-workbench .ddp-ui-benchlnb .ddp-data-name .ddp-txt-dataname {padding-left:30px;}
.page-workbench .ddp-db-icons {position:absolute; top:0; left:0; width:24px; height:24px; }
.page-workbench .ddp-db-icons .icon-db-tibero-w {position:relative; top:-4px;}
.page-workbench .ddp-db-icons [class*="ddp-icon-data-"]{display:inline-block; background:url(../../../images/icon_dbtype_s.png) no-repeat;}

.page-workbench .ddp-db-icons .ddp-icon-data-sql {width:19px; height:22px; background-position:-23px -22px;}
.page-workbench .ddp-db-icons .ddp-icon-data-tibero {width:19px; height:22px; background-position:left -135px;}
.page-workbench .ddp-db-icons .ddp-icon-data-oracle {width:21px; height:21px; background-position:left top;}
.page-workbench .ddp-db-icons .ddp-icon-data-db {width:16px; height:19px; background-position:left -158px;}
.page-workbench .ddp-db-icons .ddp-icon-data-phoenix {width:16px; height:24px; background-position:left -110px;}
.page-workbench .ddp-db-icons .ddp-icon-data-post {width:22px; height:22px; background-position:left -45px;}
.page-workbench .ddp-db-icons .ddp-icon-data-hive {width:24px; height:22px; background-position:left -68px;}
.page-workbench .ddp-db-icons .ddp-icon-data-presto {width:20px; height:17px; background-position:left -91px;}
.page-workbench .ddp-wrap-list-search {padding:0 18px;}
.page-workbench .ddp-wrap-list-search .ddp-ui-list-search {position:relative; padding-left:22px; overflow:hidden;}
.page-workbench .ddp-wrap-list-search .ddp-ui-list-search:before {display:inline-block; position:absolute; top:50%; left:0; margin-top:-6px;width:11px; height:11px; background:url(../../../images/icon_search.png) no-repeat; content:'';}
.page-workbench .ddp-wrap-list-search .ddp-ui-list-search input {display:block; width:100%; padding:16px 0 16px 0; background:none; border:none; color:#fff; font-size:13px;}
.page-workbench .ddp-wrap-list-search .ddp-ui-list-search .ddp-btn-search-close {display:inline-block; padding:5px; position:absolute; top:50%; right:5px; margin-top:-8px; cursor:pointer; font-size:0px;}
.page-workbench .ddp-wrap-list-search .ddp-ui-list-search .ddp-btn-search-close:before {display:inline-block; width:7px; height:7px; background:url(../../../images/btn_sclose.png) no-repeat; background-position:-8px -38px; content:'';}
.page-workbench .ddp-wrap-list-search a.ddp-btn-refresh {float:right; position:relative; top:18px;width:13px; height:12px; background:url(../../../images/icon_refresh2.png) no-repeat;}
.page-workbench .ddp-wrap-list-search a.ddp-btn-refresh:hover {background-position:-14px top;}
.page-workbench .ddp-ui-tablelist {top:175px;}
.page-workbench .ddp-ui-tablelist .ddp-list-table {padding-top:10px }
.page-workbench .ddp-tablelist-header {padding:2px 0; height:25px; border-top:1px solid #4b515b; border-bottom:1px solid #4b515b; background-color:rgba(75,81,91,0.3); box-sizing:border-box;}
.page-workbench .ddp-tablelist-header .ddp-table-num {float:right; padding-right:18px; color:#90969f; font-weight:300;}
.page-workbench .ddp-tablelist-header .ddp-table-num span.ddp-number {font-weight:normal;}
.page-workbench .ddp-tablelist-header .ddp-table-title {display:inline-block; padding-left:18px; color:#90969f; font-size:12px; overflow:Hidden; cursor:pointer; box-sizing:border-box;}
.page-workbench .ddp-tablelist-header .ddp-table-title [class*="ddp-icon-sort"] {display:inline-block; position:relative; width:19px; height:19px; font-size:0px; vertical-align: middle;}
.page-workbench .ddp-tablelist-header .ddp-table-title [class*="ddp-icon-sort"]:before {display:inline-block; position:absolute; top:50%; left:50%; width:7px; height:10px; margin:-5px 0 0 -4px; background:url(../../../images/icon_sorting.png);content:'';}
.page-workbench .ddp-tablelist-header .ddp-table-title .ddp-icon-sort-asc:before {background-position:-8px top;}
.page-workbench .ddp-tablelist-header .ddp-table-title .ddp-icon-sort-des:before {background-position:-16px top;}

/**************************************************************
  Page : 워크벤치 상세 (contents)
**************************************************************/
.page-workbench .ddp-wrap-editor .ddp-box-layout4 .ddp-btn-close {z-index:1;}
.page-workbench .ddp-wrap-editor .ddp-box-layout4.ddp-shortcuts {display:block; position:absolute; top:8px; right:8px; bottom:8px; width:auto; overflow:auto; background-color:#fff; z-index:10;}
.page-workbench .ddp-wrap-editor .ddp-box-layout4.ddp-shortcuts * { font-family:'SpoqaHanSans',sans-serif}
.page-workbench .ddp-wrap-editor .ddp-box-layout4.ddp-shortcuts .ddp-table-pop {white-space:nowrap; width:auto;}
/*.page-workbench .ddp-box-editer .ddp-wrap-edit-foot {bottom:6px; z-index:30;}*/

.page-workbench .ddp-ui-tabs ul.ddp-list-tabs li .ddp-wrap-retry {position:absolute; bottom:100%; padding-bottom:5px; }
.page-workbench .ddp-ui-tabs ul.ddp-list-tabs li .ddp-wrap-retry .ddp-box-tabs-popup {position:relative;}

.page-workbench .ddp-ui-query .ddp-box-editer .ddp-wrap-foot-button {position:absolute; bottom:0; left:0; right:0; height:39px; border:1px solid #ddd; background-color:#f7f7f8; z-index:10;}
.page-workbench .ddp-ui-query .ddp-box-editer .ddp-wrap-foot-button .ddp-link-query {float:left; padding:12px 0 0 16px; color:#90969f; font-size:13px;}
.page-workbench .ddp-ui-query .ddp-box-editer .ddp-wrap-foot-button .ddp-link-query [class*="ddp-icon-query-"] {margin-right:5px}
.page-workbench .ddp-ui-query .ddp-box-editer .ddp-wrap-foot-button .ddp-link-query:hover {color:#4b515b;}
.page-workbench .ddp-ui-query .ddp-box-editer .ddp-wrap-foot-button .ddp-icon-button {float:right; padding:0 13px 0 0;}
.page-workbench .ddp-ui-query .ddp-box-editer .ddp-wrap-foot-button .ddp-icon-button .ddp-btn-query {float:left; position:relative; margin:11px 0 0 14px; width:20px; height:20px;}
.page-workbench .ddp-ui-query .ddp-box-editer .ddp-wrap-foot-button .ddp-icon-button .ddp-btn-query [class*="ddp-icon-query-"] {position:absolute; top:50%; left:50%;}
.page-workbench .ddp-ui-query .ddp-box-editer .ddp-wrap-foot-button .ddp-icon-button .ddp-btn-query:hover .ddp-ui-tooltip-info {display:block;}
.page-workbench .ddp-ui-query .ddp-box-editer .ddp-wrap-foot-button .ddp-icon-button .ddp-btn-query .ddp-ui-tooltip-info { right:-14px; left:inherit; margin-bottom:8px;}
.page-workbench .ddp-ui-query .ddp-box-editer .ddp-wrap-foot-button .ddp-icon-button .ddp-btn-query .ddp-ui-tooltip-info .ddp-icon-view-down {right:23px; left:inherit; margin:0;}
.page-workbench .ddp-link-query .ddp-icon-query-full,
.page-workbench .ddp-link-query .ddp-icon-query-partial,
.page-workbench .ddp-icon-button .ddp-icon-query-clear,
.page-workbench .ddp-icon-button .ddp-icon-query-beautifier,
.page-workbench .ddp-icon-button .ddp-icon-query-history,
.page-workbench .ddp-icon-button .ddp-icon-query-shortcuts {display:inline-block; background:url(../../../images/icon_query2.png) no-repeat;}

.page-workbench .ddp-link-query .ddp-icon-query-full {width:8px; height:12px;}
.page-workbench .ddp-link-query:hover .ddp-icon-query-full {background-position-x:-9px;}
.page-workbench .ddp-link-query .ddp-icon-query-partial {width:13px; height:12px; background-position:left -13px;}
.page-workbench .ddp-link-query:hover .ddp-icon-query-partial {background-position-x:-14px;}
.page-workbench .ddp-icon-button .ddp-icon-query-clear {width:18px; height:16px; margin:-8px 0 0 -9px;background-position:left -26px;}
.page-workbench .ddp-icon-button .ddp-icon-query-clear:hover {background-position-x:-19px}
.page-workbench .ddp-icon-button .ddp-icon-query-beautifier {width:19px; height:16px; margin:-8px 0 0 -10px; background-position:left -43px;}
.page-workbench .ddp-icon-button .ddp-icon-query-beautifier:hover {background-position-x:-21px;}
.page-workbench .ddp-icon-button .ddp-icon-query-history {width:16px; height:16px;margin:-8px 0 0 -8px; background-position:left -60px;}
.page-workbench .ddp-icon-button .ddp-icon-query-history:hover,
.page-workbench .ddp-icon-button .ddp-icon-query-history.ddp-selected {background-position-x:-17px;}

.page-workbench .ddp-icon-button .ddp-icon-query-shortcuts {width:16px; height:16px;margin:-8px 0 0 -8px; background-position:left -77px;}
.page-workbench .ddp-icon-button .ddp-icon-query-shortcuts.ddp-selected,
.page-workbench .ddp-icon-button .ddp-icon-query-shortcuts:hover {background-position-x:-17px;}

.page-workbench .ddp-icon-button .ddp-btn-query {position:relative;}


.page-workbench .ddp-wrap-editor .ddp-box-layout4.ddp-history  {display:block; position:absolute; top:8px; right:8px; bottom:8px; width:350px; overflow:auto; background-color:#fff; z-index:10;}
.page-workbench .ddp-wrap-editor .ddp-box-layout4.ddp-history * { font-family:'SpoqaHanSans',sans-serif}
.page-workbench .ddp-wrap-editor .ddp-box-layout4 .ddp-data-title {position:relative;}
.page-workbench .ddp-wrap-editor .ddp-box-layout4.ddp-history .ddp-ui-history-option {float:right; top:3px; padding-right:0;}

.page-workbench .ddp-wrap-editor .ddp-box-layout4.ddp-history .ddp-ui-history-option .ddp-history-search {float:left; margin-left:10px;}
.page-workbench .ddp-wrap-editor .ddp-box-layout4.ddp-history .ddp-ui-history-option .ddp-history-search a.ddp-icon-search {display:inline-block; width:12px; height:12px; background:url(../../../images/icon_search.png) no-repeat; background-position:left -27px;}

.page-workbench .ddp-wrap-editor .ddp-box-layout4.ddp-history .ddp-ui-history-option .ddp-btn-close2 {display:inline-block; width:11px; height:11px; margin-left:10px; background:url(../../../images/btn_close.png) no-repeat; background-position:-24px -58px}
.page-workbench .ddp-wrap-editor .ddp-box-layout4.ddp-history .ddp-ui-history-option .ddp-btn-close2:hover {background-position-x:-36px;}
.page-workbench .ddp-wrap-editor .ddp-box-layout4.ddp-history .ddp-data-list-num {padding:0 0 3px 15px; color:#b7b9c2; font-size:12px;}
.page-workbench .ddp-wrap-editor .ddp-box-layout4.ddp-history .ddp-nodata {padding:0 0 15px 15px; color:#b7b9c3; font-size:12px;}
.page-workbench .ddp-wrap-editor .ddp-box-layout4.ddp-history .ddp-list-history li {}
.page-workbench .ddp-wrap-editor .ddp-box-layout4.ddp-history .ddp-list-history li a{display:block;padding:9px 15px;}
.page-workbench .ddp-wrap-editor .ddp-box-layout4.ddp-history .ddp-list-history li a:hover {background-color:#f6f6f7;}
.page-workbench .ddp-wrap-editor .ddp-box-layout4.ddp-history .ddp-list-history li .ddp-data-history {overflow:hidden;}
.page-workbench .ddp-wrap-editor .ddp-box-layout4.ddp-history .ddp-list-history li .ddp-data-history .ddp-data-edit{color:#444; font-size:12px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.page-workbench .ddp-wrap-editor .ddp-box-layout4.ddp-history .ddp-list-history li .ddp-data-history .ddp-data-time{color:#90969f; font-size:12px;white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}

.page-workbench .ddp-wrap-editor .ddp-box-layout4.ddp-history .ddp-list-history li .ddp-ui-history-data {float:right; padding:5px 0;}
.page-workbench .ddp-wrap-editor .ddp-box-layout4.ddp-history .ddp-list-history li .ddp-ui-history-data .ddp-data-ms {color:#90969f; font-size:12px;}
.page-workbench .ddp-wrap-editor .ddp-box-layout4.ddp-history .ddp-list-history li .ddp-ui-history-data .ddp-icon-status-success,
.page-workbench .ddp-wrap-editor .ddp-box-layout4.ddp-history .ddp-list-history li .ddp-ui-history-data .ddp-icon-status-fail {display:inline-block; width:13px; height:13px; margin-left:4px; background:url(../../../images/icon_status.png) no-repeat; }

.page-workbench .ddp-wrap-editor .ddp-box-layout4.ddp-history .ddp-list-history li .ddp-ui-history-data .ddp-icon-status-fail {background-position-x:-14px;}
.page-workbench .ddp-wrap-editor .ddp-box-layout4.ddp-history .ddp-list-history li .ddp-ui-history-data .ddp-icon-return {display:inline-block; width:10px; height:11px; margin-left:8px; background:url(../../../images/icon_control.png) no-repeat; background-position:left -266px;}
.page-workbench .ddp-wrap-editor .ddp-box-layout4.ddp-history .ddp-list-history li .ddp-ui-history-data .ddp-icon-view {display:inline-block; width:6px; height:11px; margin-left:9px;  background:url(../../../images/icon_list_view.png) no-repeat; background-position:left -10px;}

.page-workbench .ddp-wrap-editor .ddp-box-layout4.ddp-history .ddp-ui-history-option .ddp-history-search.ddp-selected {background-color:#fff;}

.page-workbench .ddp-wrap-editor .ddp-box-layout4.ddp-history .ddp-ui-history-option .ddp-history-search a.ddp-icon-search:hover {background-position-x:-13px;}
.page-workbench .ddp-wrap-editor .ddp-box-layout4.ddp-history .ddp-ui-history-option .ddp-icon-del {display:inline-block; float:left; width:11px; height:12px; margin-left:10px; background:url(../../../images/icon_control.png) no-repeat; background-position:-50px -14px;}
.page-workbench .ddp-wrap-editor .ddp-ui-history-option .ddp-icon-del:hover {background-position-x:-62px}
.page-workbench .ddp-wrap-editor .ddp-ui-history-option .ddp-history-search .ddp-type-search {display:none;}
.page-workbench .ddp-wrap-editor .ddp-ui-history-option .ddp-history-search.ddp-selected .ddp-type-search {display:block;}

.page-workbench .ddp-wrap-editor .ddp-ui-history-option .ddp-history-search .ddp-type-search { position:absolute; top:9px; left:200px; right:55px; padding:0 50px 0 25px; background-color:#f6f6f7; }
.page-workbench .ddp-wrap-editor .ddp-ui-history-option .ddp-history-search .ddp-type-search:before {left:7px;}
.page-workbench .ddp-wrap-editor .ddp-ui-history-option .ddp-history-search .ddp-type-search .ddp-btn-delete {right:28px;}
.page-workbench .ddp-wrap-editor .ddp-ui-history-option .ddp-history-search .ddp-type-search .ddp-btn-back {display:inline-block; position:absolute; top:0; right:0; width:20px; height:28px; background-color:#b7b9c3;}
.page-workbench .ddp-wrap-editor .ddp-ui-history-option .ddp-history-search .ddp-type-search .ddp-btn-back:before {display:inline-block; position:absolute; top:50%; left:50%; margin:-6px 0 0 -3px; width:6px; height:11px; background:url(../../../images/icon_list_view.png) no-repeat; background-position:left -37px; content:'';}
.page-workbench .ddp-wrap-editor .ddp-box-layout4.ddp-history .ddp-btn-more {display:inline-block; padding:10px 0; color:#4b515b; font-size:12px; text-decoration:underline;}

/**************************************************************
  Page : 워크벤치 상세 (rnb)
**************************************************************/
.page-workbench .ddp-ui-rnb-contents .ddp-ui-var-plus .ddp-ui-addview {margin-top:-16px;}
.page-workbench .ddp-ui-rnb-contents .ddp-ui-title {margin-left:0px; padding-left:15px;}

/**************************************************************
  Page : 워크벤치 상세 (rnb) Global variable
**************************************************************/
.page-workbench .ddp-ui-rnb-contents .ddp-ui-title span.ddp-data-num {margin-left:3px}
.page-workbench .ddp-ui-rnb-contents .ddp-ui-var-plus .ddp-ui-addview .ddp-box-addview {margin-bottom:2px;}
.page-workbench .ddp-ui-var-plus .ddp-list-form-plus .ddp-wrap-link-list.ddp-edit {background-color:#e7e7ea;}
.ddp-ui-var-plus .ddp-list-form-plus .ddp-link-buttons .ddp-btn-pop {min-width:inherit; padding:6px 12px;}














