@charset "utf-8";

/**************************************************************
  Page : 05_매니지먼트_00데이터저장소_02데이터소스상세
**************************************************************/

/* 상태 */
.ddp-ui-status-type {float:left; margin-right:62px;}
.ddp-ui-status-type .ddp-top-status .ddp-link-detail {margin-left:6px; color:#90969f; font-size:12px; text-decoration:underline; font-style:italic;}
.ddp-ui-status-type .ddp-top-status .ddp-link-detail:hover {color:#4b515b;}
.ddp-ui-status-type .ddp-box-status {margin-top:5px;background-color:#f6f6f7;}
.ddp-box-status {float:left; padding:10px 15px; background-color:#f6f6f7; }

.ddp-list-status .ddp-status {position:relative; float:left; min-width:80px; padding-right:15px; box-sizing:border-box;}
.ddp-list-status .ddp-status:last-of-type {min-width:auto; padding-right:0;}
.ddp-list-status .ddp-status .ddp-num {position:relative;display:inline-block; width:24px; height:24px; padding:3px; border-radius:50%; border:2px solid #c1c3cb; text-align:center; color:#b7b9c3; font-size:13px; font-weight:bold; box-sizing:Border-box; background-color:#fff; z-index:1;}
.ddp-list-status .ddp-status .ddp-txt-status {display:block; padding:5px 0 0 0; white-space:nowrap; color:#b7b9c2; font-size:12px;}
.ddp-list-status .ddp-status.ddp-finish .ddp-num {position:relative; background-color:#4b515b; color:#fff; border-color:#4b515b;}
.ddp-list-status .ddp-status + .ddp-status {position:relative;}

.ddp-list-status .ddp-status .ddp-line {display:inline-block; position:absolute; left:1px; top:10px; right:0; height:3px; background-color:#4b515b; content:'';}

.ddp-list-status .ddp-status .ddp-line.type-finish {background:#d0d1d8;}

.ddp-list-status .ddp-status .ddp-line.type-dotted {background:none; background:url(../../../images/bg_status_ing.png) repeat-x;}

.ddp-list-status .ddp-status.ddp-ing .ddp-num {color:#4b515b; border-color:#4b515b;}
.ddp-list-status .ddp-status.ddp-ing .ddp-txt-status {color:#4b515b;}
.ddp-list-status .ddp-status.ddp-fail:before {background-color:#4b515b;}
.ddp-list-status .ddp-status.ddp-fail .ddp-num {border-color:#dc494f;background-color:#dc494f; color:#fff;}








