@charset "utf-8";

/**************************************************************
  Page : 워크벤치 상세 (lnb)
**************************************************************/
.page-workbench .ddp-ui-benchlnb .ddp-data-name .ddp-txt-dataname {padding-left:30px;}
.page-workbench .ddp-db-icons {position:absolute; top:0; left:0;}
.page-workbench .ddp-db-icons [class*="ddp-icon-data-"]{display:inline-block; background:url(../../../images/icon_dbtype_s.png) no-repeat;}

.page-workbench .ddp-db-icons .ddp-icon-data-sql {width:19px; height:22px; background-position:-23px -22px;}
.page-workbench .ddp-db-icons .ddp-icon-data-tibero {width:19px; height:22px; background-position:left -135px;}
.page-workbench .ddp-db-icons .ddp-icon-data-oracle {width:21px; height:21px; background-position:left top;}
.page-workbench .ddp-db-icons .ddp-icon-data-db {width:16px; height:19px; background-position:left -158px;}
.page-workbench .ddp-db-icons .ddp-icon-data-phoenix {width:16px; height:24px; background-position:left -110px;}
.page-workbench .ddp-db-icons .ddp-icon-data-post {width:22px; height:22px; background-position:left -45px;}
.page-workbench .ddp-db-icons .ddp-icon-data-hive {width:24px; height:22px; background-position:left -68px;}
.page-workbench .ddp-db-icons .ddp-icon-data-presto {width:20px; height:17px; background-position:left -91px;}
.page-workbench .ddp-wrap-list-search {padding:0 18px;}
.page-workbench .ddp-wrap-list-search .ddp-ui-list-search {position:relative; padding-left:22px; overflow:hidden;}
.page-workbench .ddp-wrap-list-search .ddp-ui-list-search:before {display:inline-block; position:absolute; top:50%; left:0; margin-top:-6px;width:11px; height:11px; background:url(../../../images/icon_search.png) no-repeat; content:'';}
.page-workbench .ddp-wrap-list-search .ddp-ui-list-search input {display:block; width:100%; padding:16px 0 16px 0; background:none; border:none; color:#fff; font-size:13px;}
.page-workbench .ddp-wrap-list-search a.ddp-btn-refresh {float:right; position:relative; top:18px;width:13px; height:12px; background:url(../../../images/icon_refresh2.png) no-repeat;}
.page-workbench .ddp-wrap-list-search a.ddp-btn-refresh:hover {background-position:-14px top;}
.page-workbench .ddp-ui-tablelist {top:175px;}
.page-workbench .ddp-ui-tablelist .ddp-list-table {padding-top:10px }
.page-workbench .ddp-tablelist-header {padding:2px 18px; height:25px; border-top:1px solid #4b515b; border-bottom:1px solid #4b515b; background-color:rgba(75,81,91,0.3); box-sizing:border-box;}
.page-workbench .ddp-tablelist-header .ddp-table-num {float:right; color:#90969f; font-weight:300;}
.page-workbench .ddp-tablelist-header .ddp-table-num span.ddp-number {font-weight:normal;}
.page-workbench .ddp-tablelist-header .ddp-table-title {display:block; color:#90969f; font-size:12px; overflow:Hidden;}
.page-workbench .ddp-tablelist-header .ddp-table-title [class*="ddp-icon-sort"] {display:inline-block; position:relative; width:19px; height:19px; font-size:0px; vertical-align: middle;}
.page-workbench .ddp-tablelist-header .ddp-table-title [class*="ddp-icon-sort"]:before {display:inline-block; position:absolute; top:50%; left:50%; width:7px; height:10px; margin:-5px 0 0 -4px; background:url(../../../images/icon_sorting.png);content:'';}
.page-workbench .ddp-tablelist-header .ddp-table-title .ddp-icon-sort-asc:before {background-position:-8px top;}
.page-workbench .ddp-tablelist-header .ddp-table-title .ddp-icon-sort-des:before {background-position:-16px top;}

/**************************************************************
  Page : 워크벤치 상세 (contents)
**************************************************************/
.page-workbench .ddp-ui-query {bottom:10px;}
.page-workbench .ddp-wrap-editor .ddp-box-layout4.ddp-shortcuts {display:block; position:absolute; top:8px; right:8px; bottom:46px; width:auto; overflow:auto; background-color:#fff; z-index:10;}
.page-workbench .ddp-wrap-editor .ddp-box-layout4.ddp-shortcuts * { font-family:'SpoqaHanSans',sans-serif}
.page-workbench .ddp-wrap-editor .ddp-box-layout4.ddp-shortcuts .ddp-table-pop {white-space:nowrap; width:auto;}
.page-workbench .ddp-box-editer .ddp-wrap-edit-foot {bottom:6px;}

.page-workbench .ddp-ui-tabs ul.ddp-list-tabs li .ddp-wrap-retry {position:absolute; bottom:100%; padding-bottom:5px; }
.page-workbench .ddp-ui-tabs ul.ddp-list-tabs li .ddp-wrap-retry .ddp-box-tabs-popup {position:relative;}

/**************************************************************
  Page : 워크벤치 상세 (rnb)
**************************************************************/
.page-workbench .ddp-ui-rnb-contents .ddp-ui-var-plus .ddp-ui-addview {margin-top:-16px;}
.page-workbench .ddp-ui-rnb-contents .ddp-ui-title {margin-left:0px; padding-left:15px;}

/**************************************************************
  Page : 워크벤치 상세 (rnb) Global variable
**************************************************************/
.page-workbench .ddp-ui-rnb-contents .ddp-ui-title span.ddp-data-num {margin-left:3px}
.page-workbench .ddp-ui-rnb-contents .ddp-ui-var-plus .ddp-ui-addview .ddp-box-addview {margin-bottom:2px;}
.page-workbench .ddp-ui-var-plus .ddp-list-form-plus .ddp-wrap-link-list.ddp-edit {background-color:#e7e7ea;}
.ddp-ui-var-plus .ddp-list-form-plus .ddp-link-buttons .ddp-btn-pop {min-width:inherit; padding:6px 12px;}


















