@charset "utf-8";

/**************************************************************
  Page : 대시보드 편집
**************************************************************/
.page-dashboard-edit .ddp-box-widget .ddp-top-control .ddp-ui-buttons .ddp-box-btn2:hover .ddp-box-info.ddp-limitation {right:-20px;}

/**************************************************************
  Page : 대시보드 열람
**************************************************************/
.page-dashboard .ddp-box-widget.ddp-popup-show:hover,
.ddp-box-widget.ddp-active.ddp-popup-show
{z-index:initial;}
.page-dashboard .ddp-box-widget .popup-chart-data {display:block !important; position:fixed; left:0; right:0; bottom:0; top:0; z-index:200;}

/**************************************************************
  Page : 대시보드 열람 (툴팁)
**************************************************************/
.page-dashboard .ddp-box-widget .ddp-top-control .ddp-ui-buttons em.ddp-icon-widget-info2:before {width:15px; height:14px; margin:-7px 0 0 -8px; background-position:left -244px;}
.page-dashboard .ddp-box-widget .ddp-top-control .ddp-ui-buttons .ddp-box-btn2:hover em.ddp-icon-widget-info2:before {background-position:-16px -244px;}
.page-dashboard .ddp-box-widget .ddp-top-control .ddp-ui-buttons .ddp-box-btn2 .ddp-box-info.ddp-limitation strong {display:block;}
.page-dashboard .ddp-box-widget .ddp-top-control .ddp-ui-buttons .ddp-box-btn2 .ddp-box-info.ddp-limitation .ddp-total {display:block;padding-bottom:4px;}









