<div #mapArea style="width: 100%; height: 100%; display: block; position: relative">
  <!-- <div *ngIf="data.show" class="ddp-wrap-graph-kpi">
    <div class="ddp-view-data-kpi">
      <div class="ddp-wrap-data-kpi">
        <div class="ddp-area-data-kpi">
          <div class="ddp-summary">
            <div class="ddp-data-wrap">
              <span class="ddp-txt-title">Map Chart Here!</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
<!-- tooltip -->
<div id="popup"><div id="popup-contents"></div></div>
<!-- <div class="ddp-ui-tooltip-info ddp-map-tooltip" style="display:block; position:absolute; top:0; left:0; z-index:99999;">
    <span class="ddp-txt-tooltip"> -->
        <!-- <span class="ddp-label"><em class="ddp-icon-mapview1-w"></em> Region</span>
          <table class="ddp-table-info">
            <colgroup>
                <col width="70px">
                <col width="*">
            </colgroup>
            <tbody>
            <tr>
                <th>Geo info</th>
                <td>{{ mouseX }}, {{ mouseY }}</td>
            </tr>
             <tr>
                <th>Region</th>
                <td>{{ property }}</td>
            </tr>
            </tbody>
        </table> -->
    <!-- </span>
</div> -->
<!-- //tooltip -->
