 <em class="ddp-bg-back type-bg"></em>
  <div class="ddp-ui-contents-in ddp-pad0 ddp-scroll">
    <!-- top -->
    <div class="ddp-layout-top-menu ddp-clear">
      <!-- label -->
      <div class="ddp-top-label">
        My Favorite
      </div>
      <!-- //label -->
      <!-- menu -->
      <div class="ddp-top-menu">
        <ul class="ddp-list-top-menu">
          <li >
            <a [routerLink]="['/exploredata/favorite/data']">Data</a>
          </li>
          <li class="ddp-selected">
            <a [routerLink]="['/exploredata/favorite/creator']">Data Creator</a>
          </li>
        </ul>
      </div>
      <!-- menu -->
      <!-- option -->
      <div class="ddp-ui-header-option">
        <a href="javascript:" class="ddp-link-info"></a>
        <!--
            클릭시 ddp-selected 추가
        -->
        <div class="ddp-ui-more ">
          <a href="javascript:" class="ddp-icon-more"></a>
          <!-- popup -->
          <div class="ddp-wrap-popup2 ddp-types">
            <ul class="ddp-list-popup">
              <li>
                <a href="javascript:">
                  <em class="ddp-icon-drop-cluster"></em>
                  Set Druid Cluster
                </a>
              </li>
              <li>
                <a href="javascript:">
                  <em class="ddp-icon-drop-guide"></em>
                  Druid Guide
                </a>
              </li>
            </ul>
          </div>
          <!-- //popup -->
        </div>
      </div>
      <!-- //option -->
    </div>
    <!-- //top -->
    <div class="ddp-ui-contents-list type-list">

      <div class="ddp-wrap-list-create">
        <!-- box -->
        <div class="ddp-box-create">
          <!-- top -->
          <div class="ddp-data-top">
            <em class="ddp-data-photo"></em>
            <!-- name -->
            <div class="ddp-data-name">
                           <span class="ddp-txt-name">
                                <em class="ddp-icon-control-fav ddp-fright"></em>
                                <span class="ddp-name-in" title="John SmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmith">John SmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmith</span>

                           </span>
            </div>
            <!-- //name -->
          </div>
          <!-- //top -->
          <!-- contents -->
          <div class="ddp-data-contents">
            <div class="ddp-data-label">
              Created data <span class="ddp-data-num">124</span>
            </div>
            <div class="ddp-box-list">
              <ul class="ddp-list-creator">
                <li>
                  <span class="ddp-box-tag-value ddp-dataset">Dataset</span>
                  <div class="ddp-txt-ellipsis">
                                       <span class="ddp-data-name">
                                             <span class="ddp-data-date ddp-fright">yyyy-mm-dd hh:mm:ss</span>
                                           <span class="ddp-name-in" title="New data sousourcesoursouscecerce 0">New data sousourcesoursouscecerce 01</span>
                                       </span>
                  </div>
                </li>
                <li>
                  <span class="ddp-box-tag-value ddp-database">Database</span>
                  <div class="ddp-txt-ellipsis">
                                       <span class="ddp-data-name">
                                             <span class="ddp-data-date ddp-fright">yyyy-mm-dd hh:mm:ss</span>
                                           <span class="ddp-name-in" title="New data sousourcesoursouscecerce 0">New data s</span>
                                       </span>
                  </div>
                </li>
                <li>
                  <span class="ddp-box-tag-value ddp-datasource">Datasource</span>
                  <div class="ddp-txt-ellipsis">
                                       <span class="ddp-data-name">
                                             <span class="ddp-data-date ddp-fright">yyyy-mm-dd hh:mm:ss</span>
                                           <span class="ddp-name-in" title="New data sousourcesoursouscecerce 0">New data</span>
                                       </span>
                  </div>
                </li>
                <li>
                  <span class="ddp-box-tag-value ddp-database">Database</span>
                  <div class="ddp-txt-ellipsis">
                                       <span class="ddp-data-name">
                                             <span class="ddp-data-date ddp-fright">yyyy-mm-dd hh:mm:ss</span>
                                           <span class="ddp-name-in" title="New data sousourcesoursouscecerce 0">New data s</span>
                                       </span>
                  </div>
                </li>
                <li>
                  <span class="ddp-box-tag-value ddp-database">Database</span>
                  <div class="ddp-txt-ellipsis">
                                       <span class="ddp-data-name">
                                             <span class="ddp-data-date ddp-fright">yyyy-mm-dd hh:mm:ss</span>
                                           <span class="ddp-name-in" title="New data sousourcesoursouscecerce 0">New data s</span>
                                       </span>
                  </div>
                </li>

              </ul>
            </div>
          </div>
          <!-- //contents -->

        </div>
        <!-- //box -->
        <!-- box -->
        <div class="ddp-box-create">
          <!-- top -->
          <div class="ddp-data-top">
            <em class="ddp-data-photo"></em>
            <!-- name -->
            <div class="ddp-data-name">
                           <span class="ddp-txt-name">
                                <em class="ddp-icon-control-fav ddp-fright"></em>
                                <span class="ddp-name-in" title="John SmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmith">John SmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmith</span>

                           </span>
            </div>
            <!-- //name -->
          </div>
          <!-- //top -->
          <!-- contents -->
          <div class="ddp-data-contents">
            <div class="ddp-data-label">
              Created data <span class="ddp-data-num">124</span>
            </div>
            <div class="ddp-box-list">
              <ul class="ddp-list-creator">
                <li>
                  <span class="ddp-box-tag-value ddp-stagingdb">StagingDB</span>
                  <div class="ddp-txt-ellipsis">
                                       <span class="ddp-data-name">
                                             <span class="ddp-data-date ddp-fright">yyyy-mm-dd hh:mm:ss</span>
                                           <span class="ddp-name-in" title="New data sousourcesoursouscecerce 0">New data sousourcesoursouscecerce 01</span>
                                       </span>
                  </div>
                </li>
                <li>
                  <span class="ddp-box-tag-value ddp-database">Database</span>
                  <div class="ddp-txt-ellipsis">
                                       <span class="ddp-data-name">
                                             <span class="ddp-data-date ddp-fright">yyyy-mm-dd hh:mm:ss</span>
                                           <span class="ddp-name-in" title="New data sousourcesoursouscecerce 0">New data s</span>
                                       </span>
                  </div>
                </li>
                <li>
                  <span class="ddp-box-tag-value ddp-datasource">Datasource</span>
                  <div class="ddp-txt-ellipsis">
                                       <span class="ddp-data-name">
                                             <span class="ddp-data-date ddp-fright">yyyy-mm-dd hh:mm:ss</span>
                                           <span class="ddp-name-in" title="New data sousourcesoursouscecerce 0">New data</span>
                                       </span>
                  </div>
                </li>
                <li>
                  <span class="ddp-box-tag-value ddp-database">Database</span>
                  <div class="ddp-txt-ellipsis">
                                       <span class="ddp-data-name">
                                             <span class="ddp-data-date ddp-fright">yyyy-mm-dd hh:mm:ss</span>
                                           <span class="ddp-name-in" title="New data sousourcesoursouscecerce 0">New data s</span>
                                       </span>
                  </div>
                </li>
                <li>
                  <span class="ddp-box-tag-value ddp-database">Database</span>
                  <div class="ddp-txt-ellipsis">
                                       <span class="ddp-data-name">
                                             <span class="ddp-data-date ddp-fright">yyyy-mm-dd hh:mm:ss</span>
                                           <span class="ddp-name-in" title="New data sousourcesoursouscecerce 0">New data s</span>
                                       </span>
                  </div>
                </li>

              </ul>
            </div>
          </div>
          <!-- //contents -->

        </div>
        <!-- //box -->
        <!-- box -->
        <div class="ddp-box-create">
          <!-- top -->
          <div class="ddp-data-top">
            <em class="ddp-data-photo"></em>
            <!-- name -->
            <div class="ddp-data-name">
                           <span class="ddp-txt-name">
                                <em class="ddp-icon-control-fav ddp-fright"></em>
                                <span class="ddp-name-in" title="John SmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmith">John SmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmith</span>

                           </span>
            </div>
            <!-- //name -->
          </div>
          <!-- //top -->
          <!-- contents -->
          <div class="ddp-data-contents">
            <div class="ddp-data-label">
              Created data <span class="ddp-data-num">124</span>
            </div>
            <div class="ddp-box-list">
              <ul class="ddp-list-creator">
                <li>
                  <span class="ddp-box-tag-value ddp-stagingdb">StagingDB</span>
                  <div class="ddp-txt-ellipsis">
                                       <span class="ddp-data-name">
                                             <span class="ddp-data-date ddp-fright">yyyy-mm-dd hh:mm:ss</span>
                                           <span class="ddp-name-in" title="New data sousourcesoursouscecerce 0">New data sousourcesoursouscecerce 01</span>
                                       </span>
                  </div>
                </li>
                <li>
                  <span class="ddp-box-tag-value ddp-database">Database</span>
                  <div class="ddp-txt-ellipsis">
                                       <span class="ddp-data-name">
                                             <span class="ddp-data-date ddp-fright">yyyy-mm-dd hh:mm:ss</span>
                                           <span class="ddp-name-in" title="New data sousourcesoursouscecerce 0">New data s</span>
                                       </span>
                  </div>
                </li>
                <li>
                  <span class="ddp-box-tag-value ddp-datasource">Datasource</span>
                  <div class="ddp-txt-ellipsis">
                                       <span class="ddp-data-name">
                                             <span class="ddp-data-date ddp-fright">yyyy-mm-dd hh:mm:ss</span>
                                           <span class="ddp-name-in" title="New data sousourcesoursouscecerce 0">New data</span>
                                       </span>
                  </div>
                </li>

              </ul>
            </div>
          </div>
          <!-- //contents -->

        </div>
        <!-- //box -->
        <!-- box -->
        <div class="ddp-box-create">
          <!-- top -->
          <div class="ddp-data-top">
            <em class="ddp-data-photo"></em>
            <!-- name -->
            <div class="ddp-data-name">
                           <span class="ddp-txt-name">
                                <em class="ddp-icon-control-fav ddp-fright ddp-selected"></em>
                                <span class="ddp-name-in" title="John Sm">John Sm</span>

                           </span>
            </div>
            <!-- //name -->
          </div>
          <!-- //top -->
          <!-- contents -->
          <div class="ddp-data-contents">
            <div class="ddp-data-label">
              Created data <span class="ddp-data-num">124</span>
            </div>
            <div class="ddp-box-list">
              <ul class="ddp-list-creator">
                <li>
                  <span class="ddp-box-tag-value ddp-stagingdb">StagingDB</span>
                  <div class="ddp-txt-ellipsis">
                                       <span class="ddp-data-name">
                                             <span class="ddp-data-date ddp-fright">yyyy-mm-dd hh:mm:ss</span>
                                           <span class="ddp-name-in" title="New data sousourcesoursouscecerce 0">New data sousourcesoursouscecerce 01</span>
                                       </span>
                  </div>
                </li>
                <li>
                  <span class="ddp-box-tag-value ddp-database">Database</span>
                  <div class="ddp-txt-ellipsis">
                                       <span class="ddp-data-name">
                                             <span class="ddp-data-date ddp-fright">yyyy-mm-dd hh:mm:ss</span>
                                           <span class="ddp-name-in" title="New data sousourcesoursouscecerce 0">New data s</span>
                                       </span>
                  </div>
                </li>
                <li>
                  <span class="ddp-box-tag-value ddp-datasource">Datasource</span>
                  <div class="ddp-txt-ellipsis">
                                       <span class="ddp-data-name">
                                             <span class="ddp-data-date ddp-fright">yyyy-mm-dd hh:mm:ss</span>
                                           <span class="ddp-name-in" title="New data sousourcesoursouscecerce 0">New data</span>
                                       </span>
                  </div>
                </li>
                <li>
                  <span class="ddp-box-tag-value ddp-database">Database</span>
                  <div class="ddp-txt-ellipsis">
                                       <span class="ddp-data-name">
                                             <span class="ddp-data-date ddp-fright">yyyy-mm-dd hh:mm:ss</span>
                                           <span class="ddp-name-in" title="New data sousourcesoursouscecerce 0">New data s</span>
                                       </span>
                  </div>
                </li>
                <li>
                  <span class="ddp-box-tag-value ddp-database">Database</span>
                  <div class="ddp-txt-ellipsis">
                                       <span class="ddp-data-name">
                                             <span class="ddp-data-date ddp-fright">yyyy-mm-dd hh:mm:ss</span>
                                           <span class="ddp-name-in" title="New data sousourcesoursouscecerce 0">New data s</span>
                                       </span>
                  </div>
                </li>

              </ul>
            </div>
          </div>
          <!-- //contents -->

        </div>
        <!-- //box -->

      </div>
    </div>

  </div>
