 <em class="ddp-bg-back type-bg"></em>
  <div class="ddp-ui-contents-in ddp-pad0 ddp-scroll">
    <!-- top -->
    <div class="ddp-layout-top-menu ddp-clear">
      <!-- label -->
      <div class="ddp-top-label">
        {{ 'msg.comm.menu.explore-data.favorite' | translate }}
      </div>
      <!-- //label -->
      <!-- menu -->
      <div class="ddp-top-menu">
        <ul class="ddp-list-top-menu">
          <li >
            <a [routerLink]="['/exploredata/favorite/data']">{{ 'msg.comm.menu.explore-data.favorite.data' | translate }}</a>
          </li>
          <li class="ddp-selected">
            <a [routerLink]="['/exploredata/favorite/creator']">{{ 'msg.comm.menu.explore-data.favorite.creator' | translate }}</a>
          </li>
        </ul>
      </div>
      <!-- menu -->
      <!-- option -->
      <div class="ddp-ui-header-option">
        <a href="javascript:" class="ddp-link-info"></a>
        <!--
            클릭시 ddp-selected 추가
        -->
        <div class="ddp-ui-more ">
          <a href="javascript:" class="ddp-icon-more"></a>
          <!-- popup -->
          <div class="ddp-wrap-popup2 ddp-types">
            <ul class="ddp-list-popup">
              <li>
                <a href="javascript:">
                  <em class="ddp-icon-drop-cluster"></em>
                  {{ 'msg.comm.menu.explore-data.favorite.set.druid.cluster' | translate }}
                </a>
              </li>
              <li>
                <a href="javascript:">
                  <em class="ddp-icon-drop-guide"></em>
                  {{ 'msg.comm.menu.explore-data.favorite.druid.guide' | translate }}
                </a>
              </li>
            </ul>
          </div>
          <!-- //popup -->
        </div>
      </div>
      <!-- //option -->
    </div>
    <!-- //top -->
    <div class="ddp-ui-contents-list type-list">

      <div class="ddp-wrap-list-create">
        <!-- box -->
        <div class="ddp-box-create" (click)="onClickCreatorCard('admin2')">
          <!-- top -->
          <div class="ddp-data-top">
            <em class="ddp-data-photo"></em>
            <!-- name -->
            <div class="ddp-data-name">
               <span class="ddp-txt-name">
                  <em class="ddp-icon-control-fav ddp-fright" [class.ddp-selected]="true" (click)="onClickFavoriteInCard()"></em>
                  <span class="ddp-name-in" title="John SmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmith">John SmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmithSmith</span>
               </span>
            </div>
            <!-- //name -->
          </div>
          <!-- //top -->
          <!-- contents -->
          <div class="ddp-data-contents">
            <div class="ddp-data-label">
              {{ 'msg.comm.menu.explore-data.favorite.created.data' | translate }} <span class="ddp-data-num">124</span>
            </div>
            <div class="ddp-box-list">
              <ul class="ddp-list-creator">
<!--                li ngFor하면 됨-->
                <li>
                  <span class="ddp-box-tag-value ddp-dataset">Dataset</span>
<!--                  api 나오면 아래걸로 바꾸셈-->
<!--                  <component-metadata-type-box-tag [metadata]="metadataDetailData"></component-metadata-type-box-tag>-->
                  <div class="ddp-txt-ellipsis">
                                       <span class="ddp-data-name">
                                             <span class="ddp-data-date ddp-fright">{{'2018-09-19:20:43' | mdate:'YYYY-MM-DD HH:mm'}}</span>
                                           <span class="ddp-name-in" title="New data sousourcesoursouscecerce 0">New data sousourcesoursouscecerce 01</span>
                                       </span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- //contents -->

        </div>
        <!-- //box -->
      </div>
    </div>
  </div>
 <ng-template #component_data_creator_data_list></ng-template>
 <ng-template #component_metadata_detail></ng-template>
 <ng-template #component_confirm></ng-template>
