<div class="ddp-wrap-value-det">
  <div class="ddp-top-set">
    <div class="ddp-data-name">
      {{'msg.storage.ui.data' | translate}}
    </div>
    <!-- 선택시 ddp-selected 추가 -->
    <div class="ddp-view-option ddp-fright ddp-selected">
      <span>{{dataList && dataList.length}}</span>
      {{'msg.storage.ui.row' | translate}}
    </div>
  </div>
  <!-- list value -->
  <ul class="ddp-list-value">
    <li class="ddp-data-none" *ngIf="!isShowPreview">
      {{previewMessage}}
    </li>
    <ng-container *ngIf="isShowPreview">
      <li *ngFor="let data of dataList">
        {{getSlicedDataContent(data)}}
      </li>
      <li class="ddp-data-none">
        {{'msg.storage.ui.schema.column.rows.desc' | translate}}
      </li>
    </ng-container>
  </ul>
  <!-- //list value -->
</div>
