@charset "utf-8";
/* CSS Document */
.theme-dark .ddp-layout-pop-fix {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 126;
    background-color: #fff;
}

.theme-dark .ddp-layout-pop-fix .ddp-btn-close {
    position: fixed;
    right: 23px;
    top: 28px;
    display: inline-block;
    width: 23px;
    height: 23px;
    background: url(../../../../images/btn_popclose.png) no-repeat;
}

.theme-dark .ddp-layout-pop-fix .ddp-layout-popup {
    position: relative;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.theme-dark .ddp-layout-pop-fix .ddp-layout-popup .ddp-pop-step {
    position: absolute;
    top: 45px;
    right: 0;
}

.theme-dark .ddp-layout-pop-fix .ddp-pop-top {
    position:relative;
    width:1100px; margin:0 auto;
    padding: 0 0 45px 0;
}
.theme-dark .ddp-layout-pop-fix .ddp-pop-top.type-top {
    width:460px;
}

.theme-dark .ddp-layout-pop-fix .ddp-pop-top .ddp-pop-title {
    padding: 35px 0 0 0;
    font-weight: bold;
    color: #4b515b;
    font-size: 22px;
}

.theme-dark .ddp-layout-pop-fix .ddp-pop-top .ddp-pop-sub {
    padding: 4px 0 0 0;
    color: #4b515b;
    font-size: 14px;
}

.theme-dark .ddp-layout-pop-fix .ddp-pop-contents {
    display: flex;
    flex: auto;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    overflow-x:hidden;
}

.theme-dark .ddp-layout-pop-fix .ddp-pop-contents .ddp-box-synch {display:block; margin-top:10px; min-height:30px; box-sizing:border-box;}

.ddp-layout-pop-fix .ddp-pop-contents .ddp-ui-buttons {text-align:left;}
.theme-dark .ddp-layout-pop-fix .ddp-ui-buttons {
    padding: 20px 0;
    text-align: center;
}

.theme-dark .ddp-layout-pop-fix .ddp-ui-buttons [class*="ddp-btn-type"] {
    margin: 0 3px;
}

.theme-dark .ddp-layout-pop-fix .ddp-pop-step span {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-left:3px;
    border-radius: 3px;
    border: 1px solid #9ca2cc;
    box-sizing: border-box;
    color: #666eb2;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    font-weight: bold;
    background-color: #f2f1f8;
}

.theme-dark .ddp-layout-pop-fix .ddp-pop-step span.ddp-selected {
    border: 1px solid #666eb2;
    background-color: #666eb2;
    color: #fff;
}

.theme-dark .ddp-layout-pop-fix .ddp-pop-step span.ddp-selected + span + span + span + span,
.theme-dark .ddp-layout-pop-fix .ddp-pop-step span.ddp-selected + span + span + span,
.theme-dark .ddp-layout-pop-fix .ddp-pop-step span.ddp-selected + span + span,
.theme-dark .ddp-layout-pop-fix .ddp-pop-step span.ddp-selected + span {
    border-color: #90969f;
    color: #90969f;
    background-color: #fff;
}







