<div class="ddp-result-filtering" [class.ddp-selected]="createdTimeFilterShowFlag" (click)="toggleSelectedFilterShowFlag()" >
  <span class="ddp-txt-label" >Created time:</span>
  <div class="ddp-box-result">
    <span class="ddp-txt-result" >
      {{ selectedCreatedTimeOptionName === 'BETWEEN'
      ? _startDateStr + _endDateStr
      : selectedCreatedTimeOptionName }}
    </span>
  </div>
  <div class="ddp-wrap-popup2 ddp-date">
    <ul class="ddp-list-popup">
      <li *ngFor="let sortOption of sortOptionList" (click)="onChangeFilter(sortOption)">
        <a href="javascript:" >
          <label class="ddp-label-radio">
            <input type="radio" [checked]="selectedDate.type === sortOption.value">
            <i class="ddp-icon-radio"></i>
            <span class="ddp-txt-checkbox">{{ sortOption.name }}</span>
          </label>
          <!-- dateinfo -->
          <div class="ddp-wrap-dateinfo" *ngIf="selectedDate.type === 'BETWEEN' && sortOption.value === 'BETWEEN'">
            <div class="ddp-ui-dateinfo">
              <span class="ddp-txt-date">{{'msg.storage.ui.criterion.time.from' | translate}}</span>
              <div class="ddp-box-dateinfo ddp-clear">
                <input #startPickerInput type="text" class="ddp-input-calen ddp-full" placeholder="{{'msg.storage.ui.criterion.time.past' | translate}}" readonly>
              </div>
            </div>
            <div class="ddp-ui-dateinfo">
              <span class="ddp-txt-date">{{'msg.storage.ui.criterion.time.to' | translate}}</span>
              <div class="ddp-box-dateinfo ddp-clear">
                <input #endPickerInput type="text" class="ddp-input-calen ddp-full" placeholder="{{'msg.storage.ui.criterion.time.current' | translate}}" readonly>
              </div>
            </div>
          </div>
          <!-- //dateinfo -->
        </a>
      </li>
    </ul>
  </div>
</div>
