<!-- SourceType is ENGINE(Datasource) -->
<div class="ddp-box-user" *ngIf="sourceType.toString() === 'ENGINE'">
  <div class="ddp-data-photo">
    <img src="../../../../assets/images/img_photo.png">
  </div>
  <div class="ddp-wrap-data">
    <div class="ddp-data-name">{{ topUser['user']['fullName'] }}
<!--      <em class="ddp-icon-control-fav"></em>-->
    </div>
    <div>
      <div class="ddp-data-info" (click)="onClickDashBoardName(topUser.hasPermission)">
        <!--   if user doesn't have permission, hide jumping button and underline 'type-link' class     -->
        <span class="ddp-txt-info" [class.type-link]="topUser.hasPermission">
          {{ topUser['dashboard']['workBook']
            ? topUser['dashboard']['workBook']['name'] + " > " + topUser['dashboard']['name']
            : topUser['dashboard']['name']
          }}
          <em class="ddp-link-new" ></em>
        </span>
      </div>
    </div>
    <div class="ddp-data-date">{{ topUser['lastPublishedTime'] | mdate:'YYYY-MM-DD HH:mm:ss'}}</div>
  </div>
</div>
<!-- SourceType is ENGINE(Datasource) -->

<!-- SourceType is JDBC(Database) -->
<div class="ddp-box-user" *ngIf="sourceType.toString() === 'JDBC' || sourceType.toString() === 'STAGEDB'">
  <div class="ddp-data-photo">
    <img src="../../../../assets/images/img_photo.png">
  </div>
  <div class="ddp-wrap-data">
    <div class="ddp-data-name">{{ topUser['user']['fullName'] }}
      <!--      <em class="ddp-icon-control-fav ddp-selected"></em>-->
    </div>
    <div>
      <div class="ddp-data-info" (click)="onClickWorkbenchName(topUser.hasPermission)">
      <span class="ddp-txt-info" [class.type-link]="topUser.hasPermission">
        {{ topUser['workbench']['name'] }}
        <em class="ddp-link-new" ></em>
      </span>
      </div>
    </div>
    <div class="ddp-data-date">{{ topUser['lastPublishedTime'] | mdate:'YYYY-MM-DD HH:mm:ss'}}</div>
  </div>
</div>
<!-- SourceType is JDBC(Database) -->

