<div class="ddp-type-contents-in ddp-size-resize3">
  <div class="ddp-box-popupcontents3 ddp-configure">
    <!-- top filters -->
    <schema-configure-filter></schema-configure-filter>
    <!-- //top filters -->
    <!-- field -->
    <div class="ddp-wrap-variable ">
      <div class=" ddp-box-schema ddp-clear">
        <!-- left -->
        <schema-configure-field-list></schema-configure-field-list>
        <!-- //left -->
        <!-- right -->
<!--        <div class="ddp-wrap-fright">-->
<!--          &lt;!&ndash; setting &ndash;&gt;-->
<!--          <div class="ddp-box-setting">-->
<!--            &lt;!&ndash;<div class="ddp-data-top-title">&ndash;&gt;-->
<!--            &lt;!&ndash;Column name&ndash;&gt;-->

<!--            &lt;!&ndash;</div>&ndash;&gt;-->
<!--            <div class="ddp-wrap-set-contents ddp-full">-->
<!--              &lt;!&ndash; setting &ndash;&gt;-->
<!--              <div class="ddp-wrap-value-setting">-->

<!--                <div class="ddp-ui-value-setting">-->
<!--                  <div class="ddp-ui-title">-->
<!--                    <a href="javascript:" class="ddp-btn-delete ddp-fright"></a>-->
<!--                    <span class="ddp-data-name" title="Column nameColumn nameColumn nameColumn nameColumn nameColumn nameColumn name">Column nameColumn nameColumn nameColumn nameColumn nameColumn nameColumn name</span>-->
<!--                  </div>-->
<!--                  <div class="ddp-data-delete " style="display:none;">-->
<!--                    <span class="ddp-txt">컬럼 삭제</span>-->
<!--                  </div>-->

<!--                  <div class="ddp-ui-setting" style="display:;">-->
<!--                    &lt;!&ndash; edit &ndash;&gt;-->
<!--                    <div class="ddp-wrap-edit3">-->
<!--                      <label class="ddp-ui-label-name">Role</label>-->
<!--                      &lt;!&ndash; edit option &ndash;&gt;-->
<!--                      <div class="ddp-ui-option-in">-->
<!--                        <ul class="ddp-list-checktype">-->
<!--                          <li>-->
<!--                            <label class="ddp-label-radio">-->
<!--                              <input type="radio">-->
<!--                              <i class="ddp-icon-radio"></i>-->
<!--                              <span class="ddp-txt-radio"><span class="ddp-box-tag-value ddp-dimension">차원값</span></span>-->
<!--                            </label>-->
<!--                          </li>-->

<!--                          <li>-->
<!--                            <label class="ddp-label-radio">-->
<!--                              <input type="radio">-->
<!--                              <i class="ddp-icon-radio"></i>-->
<!--                              <span class="ddp-txt-radio"><span class="ddp-box-tag-value ddp-measure">측정값</span></span>-->
<!--                            </label>-->
<!--                          </li>-->
<!--                        </ul>-->

<!--                      </div>-->
<!--                      &lt;!&ndash; //edit option &ndash;&gt;-->
<!--                    </div>-->
<!--                    &lt;!&ndash; //edit &ndash;&gt;-->
<!--                    &lt;!&ndash; edit &ndash;&gt;-->
<!--                    <div class="ddp-wrap-edit3">-->
<!--                      <label class="ddp-ui-label-name">-->
<!--                        Type-->
<!--                        &lt;!&ndash; 타임스탬프만 시계 아이콘 &ndash;&gt;-->
<!--                        <em class="ddp-icon-time"></em>-->

<!--                      </label>-->
<!--                      &lt;!&ndash; edit option &ndash;&gt;-->
<!--                      <div class="ddp-ui-option-in">-->
<!--                        <script>-->
<!--                          $(function(){-->
<!--                            $('.ddp-type-selectbox').click(function(){-->
<!--                              $(this).toggleClass('ddp-selected');-->
<!--                              var $selectboxTop = $(this).offset().top;-->
<!--                              var $selectboxLeft = $(this).offset().left;-->
<!--                              var $selectboxWidth = $(this).outerWidth();-->
<!--                              $(this).find('.ddp-wrap-popup2').css({-->
<!--                                'position' : 'fixed',-->
<!--                                'top': $selectboxTop+35,-->
<!--                                'left' : $selectboxLeft,-->
<!--                                'width' : $selectboxWidth-->
<!--                              });-->
<!--                            });-->
<!--                            $('.ddp-wrap-value-setting').scroll(function(){-->
<!--                              $('.ddp-type-selectbox').removeClass('ddp-selected');-->
<!--                            });-->
<!--                          });-->
<!--                        </script>-->
<!--                        &lt;!&ndash; seletbox &ndash;&gt;-->
<!--                        &lt;!&ndash; 선택시 ddp-selected 추가 &ndash;&gt;-->
<!--                        <div class="ddp-type-selectbox ">-->
<!--                                                        <span class="ddp-txt-selectbox">-->
<!--                                                            <span class="ddp-type-txt">-->
<!--                                                                <em class="ddp-icon-type-expression"></em>-->
<!--                                                                Expression-->
<!--                                                            </span>-->
<!--                                                        </span>-->
<!--                          <div class="ddp-wrap-popup2 ddp-types">-->
<!--                            <ul class="ddp-list-popup" >-->
<!--                              <li class="ddp-selected">-->
<!--                                <a href="#">-->
<!--                                  <em class="ddp-icon-type-ab"></em>-->
<!--                                  Text-->
<!--                                  <em class="ddp-icon-check"></em>-->
<!--                                </a>-->
<!--                              </li>-->
<!--                              <li>-->
<!--                                <a href="#">-->
<!--                                  <em class="ddp-icon-type-tf"></em>-->
<!--                                  Boolean-->
<!--                                </a>-->
<!--                              </li>-->
<!--                              <li>-->
<!--                                <a href="#">-->
<!--                                  <em class="ddp-icon-type-int"></em>-->
<!--                                  Integer-->
<!--                                </a>-->
<!--                              </li>-->
<!--                              <li>-->
<!--                                <a href="#">-->
<!--                                  <em class="ddp-icon-type-float"></em>-->
<!--                                  Float-->
<!--                                </a>-->
<!--                              </li>-->
<!--                              <li>-->
<!--                                <a href="#">-->
<!--                                  <em class="ddp-icon-type-calen"></em>-->
<!--                                  Time-->
<!--                                </a>-->
<!--                              </li>-->
<!--                              <li>-->
<!--                                <a href="#">-->
<!--                                  <em class="ddp-icon-type-latitude"></em>-->
<!--                                  Latitude-->
<!--                                </a>-->
<!--                              </li>-->
<!--                              <li>-->
<!--                                <a href="#">-->
<!--                                  <em class="ddp-icon-type-longitude"></em>-->
<!--                                  Longitude-->
<!--                                </a>-->
<!--                              </li>-->
<!--                              <li class="">-->
<!--                                <a href="#">-->
<!--                                  <em class="ddp-icon-type-point"></em>-->
<!--                                  Point-->
<!--                                  <em class="ddp-icon-check"></em>-->
<!--                                </a>-->
<!--                              </li>-->
<!--                              <li class="">-->
<!--                                <a href="#">-->
<!--                                  <em class="ddp-icon-type-line"></em>-->
<!--                                  Line-->
<!--                                  <em class="ddp-icon-check"></em>-->
<!--                                </a>-->
<!--                              </li>-->
<!--                              <li class="">-->
<!--                                <a href="#">-->
<!--                                  <em class="ddp-icon-type-polygon"></em>-->
<!--                                  Polygon-->
<!--                                  <em class="ddp-icon-check"></em>-->
<!--                                </a>-->
<!--                              </li>-->
<!--                            </ul>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; //seletbox &ndash;&gt;-->
<!--                        <div class="ddp-sub-option">-->
<!--                          <textarea class="ddp-textarea-auto" placeholder="text"></textarea>-->
<!--                        </div>-->
<!--                        <div class="ddp-info">Geo type cannot be changed to other type</div>-->
<!--                        <div class="ddp-txt-error"><em class="ddp-icon-error-s"></em>Geo type cannot be changed to other type</div>-->

<!--                      </div>-->
<!--                      &lt;!&ndash; //edit option &ndash;&gt;-->
<!--                    </div>-->
<!--                    &lt;!&ndash; //edit &ndash;&gt;-->

<!--                    &lt;!&ndash; edit &ndash;&gt;-->
<!--                    <div class="ddp-wrap-edit3">-->
<!--                      <label class="ddp-ui-label-name">-->
<!--                        좌표계-->

<!--                      </label>-->
<!--                      &lt;!&ndash; edit option &ndash;&gt;-->
<!--                      <div class="ddp-ui-option-in">-->
<!--                        &lt;!&ndash; selectbox &ndash;&gt;-->
<!--                        <div class="ddp-type-selectbox ">-->
<!--                          <span class="ddp-txt-selectbox">WMS</span>-->
<!--                          <ul class="ddp-list-selectbox ddp-selectdown">-->
<!--                            <li>-->
<!--                              <a href="javascript:">-->
<!--                                All-->
<!--                              </a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                              <a href="javascript:">-->
<!--                                전체-->
<!--                              </a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                              <a href="javascript:">-->
<!--                                개인-->
<!--                              </a>-->
<!--                            </li>-->
<!--                          </ul>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; //selectbox &ndash;&gt;-->
<!--                      </div>-->
<!--                      &lt;!&ndash; //edit option &ndash;&gt;-->
<!--                    </div>-->
<!--                    &lt;!&ndash; //edit &ndash;&gt;-->

<!--                    &lt;!&ndash; edit &ndash;&gt;-->
<!--                    <div class="ddp-wrap-edit3">-->
<!--                      <div class="ddp-view-label">-->
<!--                        <label class="ddp-ui-label-name ">-->
<!--                          Time display format-->

<!--                          &lt;!&ndash; 설명 &ndash;&gt;-->
<!--                          <div class="ddp-wrap-hover-info">-->
<!--                            <em class="ddp-icon-info3"></em>-->
<!--                            &lt;!&ndash; popup &ndash;&gt;-->
<!--                            <div class="ddp-box-layout4">-->
<!--                              <div class="ddp-data-title">-->
<!--                                추천 필터 설정이란?-->
<!--                              </div>-->
<!--                              <div class="ddp-data-det">-->
<!--                                대용량 데이터를 포함한 컬럼이 있을 경우,-->
<!--                                데이터 소스 로딩시 긴 시간이 소요되어-->
<!--                                타임아웃 에러가 발생할 수 있습니다.-->
<!--                                데이터 관리자는 이와 같은 에러가 예상되는-->
<!--                                컬럼을 추천 필터로 등록하여 대시보드나-->
<!--                                차트 구성이 원할히 이루어 질 수 있도록-->
<!--                                도와 줄 수 있습니다. 대시보드 관리자가-->
<!--                                추천 필터를 제거할 수 없으며,  대시보드-->
<!--                                구성 시에 반드시 필터값을 설정하도록-->
<!--                                되어 있습니다.-->
<!--                                <div class="ddp-txt-tip">-->
<!--                                  TIP! 데이터의 용량이 매우 큰 경우, 단일값만 허용함에 체크하세요-->

<!--                                </div>-->
<!--                              </div>-->

<!--                            </div>-->
<!--                            &lt;!&ndash; //popup &ndash;&gt;-->
<!--                          </div>-->
<!--                          &lt;!&ndash; //설명 &ndash;&gt;-->

<!--                          <script>-->
<!--                            $(function(){-->

<!--                              $('.ddp-wrap-hover-info').on('mouseover mouseout',function(e){-->
<!--                                if(e.type == 'mouseover'){-->
<!--                                  var $infoLeft = $(this).offset().left;-->
<!--                                  var $infoTop = $(this).offset().top;-->
<!--                                  $(this).find('.ddp-box-layout4').css({-->
<!--                                    'position' : 'fixed',-->
<!--                                    'left': $infoLeft-30,-->
<!--                                    'top' :  $infoTop + 19-->
<!--                                  });-->
<!--                                  $(this).find('.ddp-box-layout4').show();-->

<!--                                } else{-->
<!--                                  $(this).find('.ddp-box-layout4').hide();-->
<!--                                }-->
<!--                              });-->
<!--                            });-->
<!--                          </script>-->

<!--                        </label>-->
<!--                        <div class="ddp-type-format ddp-fright">-->

<!--                          <label class="ddp-label-checkbox ">-->
<!--                            <input type="checkbox">-->
<!--                            <i class="ddp-icon-checkbox"></i>-->
<!--                            <span class="ddp-txt-checkbox">It’s Unix code</span>-->
<!--                          </label>-->
<!--                        </div>-->
<!--                      </div>-->

<!--                      &lt;!&ndash; edit option &ndash;&gt;-->
<!--                      <div class="ddp-ui-option-in">-->
<!--                        <div class="ddp-data-input">-->

<!--                          <input type="text" class="ddp-input-typebasic ddp-readonly " value="value 값" readonly="readonly" >-->
<!--                          <div class="ddp-ui-error ddp-italic">-->
<!--                            <em class="ddp-icon-error"></em>test-->
<!--                          </div>-->
<!--                        </div>-->

<!--                        <ul class="ddp-list-checktype">-->
<!--                          <li>-->
<!--                            <label class="ddp-label-radio">-->
<!--                              <input type="radio">-->
<!--                              <i class="ddp-icon-radio"></i>-->
<!--                              <span class="ddp-txt-radio">Milli-Second(ms)</span>-->
<!--                            </label>-->
<!--                          </li>-->
<!--                          <li>-->
<!--                            <label class="ddp-label-radio">-->
<!--                              <input type="radio">-->
<!--                              <i class="ddp-icon-radio"></i>-->
<!--                              <span class="ddp-txt-radio">Second(sec)</span>-->
<!--                            </label>-->
<!--                          </li>-->
<!--                        </ul>-->

<!--                      </div>-->
<!--                      &lt;!&ndash; //edit option &ndash;&gt;-->
<!--                    </div>-->
<!--                    &lt;!&ndash; //edit &ndash;&gt;-->
<!--                    &lt;!&ndash; edit &ndash;&gt;-->
<!--                    <div class="ddp-wrap-edit3">-->
<!--                      <label class="ddp-ui-label-name">-->
<!--                        Time zone-->

<!--                      </label>-->
<!--                      &lt;!&ndash; edit option &ndash;&gt;-->
<!--                      <div class="ddp-ui-option-in">-->
<!--                        &lt;!&ndash;-->
<!--                            클릭할때 : ddp-selected 추가-->
<!--                            결과 보여질때 : ddp-result 추가-->
<!--                        &ndash;&gt;-->
<!--                        <div class="ddp-type-selectbox ddp-type-search-select ddp-selected ddp-result">-->
<!--                          &lt;!&ndash; 선택시 자동 input display:block; &ndash;&gt;-->
<!--                          <input type="text" class="ddp-input-selectbox" placeholder="Search Time Zone">-->
<!--                          <span class="ddp-txt-selectbox">+09:00 Asia/Seoul</span>-->
<!--                          <div class="ddp-wrap-popup2">-->
<!--                            <ul class="ddp-list-popup ddp-focus-hover">-->
<!--                              <li>-->
<!--                                <span class="ddp-noresult">no result</span>-->
<!--                              </li>-->
<!--                              <li class="ddp-selected">-->
<!--                                <a href="javascript:">-->
<!--                                  +09:00 Seoul/Korea/Asia-->
<!--                                  <em class="ddp-icon-check"></em>-->
<!--                                </a>-->
<!--                              </li>-->
<!--                              <li>-->
<!--                                <a href="javascript:">-->
<!--                                  +09:00 Seoul/Korea/Asia-->
<!--                                  <em class="ddp-icon-check"></em>-->
<!--                                </a>-->
<!--                              </li>-->
<!--                              <li>-->
<!--                                <a href="javascript:">-->
<!--                                  +09:00 Seoul/Korea/Asia-->
<!--                                  <em class="ddp-icon-check"></em>-->
<!--                                </a>-->
<!--                              </li>-->
<!--                            </ul>-->
<!--                          </div>-->
<!--                        </div>-->

<!--                      </div>-->
<!--                      &lt;!&ndash; //edit option &ndash;&gt;-->
<!--                    </div>-->
<!--                    &lt;!&ndash; //edit &ndash;&gt;-->
<!--                    &lt;!&ndash; edit &ndash;&gt;-->
<!--                    <div class="ddp-wrap-edit3">-->
<!--                      <label class="ddp-ui-label-name">-->
<!--                        Missing-->
<!--                      </label>-->

<!--                      &lt;!&ndash; edit option &ndash;&gt;-->
<!--                      <div class="ddp-ui-option-in">-->
<!--                        <ul class="ddp-list-checktype">-->
<!--                          <li>-->
<!--                            <div class="ddp-form-checktype">-->
<!--                              <label class="ddp-label-radio ">-->
<!--                                <input type="radio">-->
<!--                                <i class="ddp-icon-radio"></i>-->
<!--                                <span class="ddp-txt-radio">Replacewith</span>-->
<!--                              </label>-->
<!--                              &lt;!&ndash; input type &ndash;&gt;-->
<!--                              <div class="ddp-type-input">-->
<!--                                <div class="ddp-input-apply ddp-disabled">-->
<!--                                  <input type="text" value="test" class="ddp-input-txt">-->
<!--                                  <em class="ddp-icon-apply"></em>-->

<!--                                </div>-->
<!--                              </div>-->
<!--                              &lt;!&ndash; //input type &ndash;&gt;-->
<!--                            </div>-->

<!--                          </li>-->
<!--                          <li>-->
<!--                            <label class="ddp-label-radio">-->
<!--                              <input type="radio">-->
<!--                              <i class="ddp-icon-radio"></i>-->
<!--                              <span class="ddp-txt-radio">Discard</span>-->
<!--                            </label>-->
<!--                          </li>-->
<!--                          <li>-->
<!--                            <label class="ddp-label-radio">-->
<!--                              <input type="radio">-->
<!--                              <i class="ddp-icon-radio"></i>-->
<!--                              <span class="ddp-txt-radio">설정안함</span>-->
<!--                            </label>-->
<!--                          </li>-->
<!--                          <li>-->
<!--                            <label class="ddp-label-radio">-->
<!--                              <input type="radio">-->
<!--                              <i class="ddp-icon-radio"></i>-->
<!--                              <span class="ddp-txt-radio">Expression</span>-->
<!--                            </label>-->
<!--                          </li>-->
<!--                        </ul>-->


<!--                      </div>-->
<!--                      &lt;!&ndash; //edit option &ndash;&gt;-->
<!--                    </div>-->
<!--                    &lt;!&ndash; //edit &ndash;&gt;-->
<!--                    &lt;!&ndash;<div class="ddp-setting-button">&ndash;&gt;-->
<!--                    &lt;!&ndash;<a href="javascript:" class="ddp-btn-line"><em class="ddp-icon-delete"></em> Delete</a>&ndash;&gt;-->
<!--                    &lt;!&ndash;</div>&ndash;&gt;-->

<!--                    <div class="ddp-wrap-edit3">-->
<!--                      <label class="ddp-ui-label-name">-->
<!--                        Data-->
<!--                      </label>-->

<!--                      &lt;!&ndash; edit option &ndash;&gt;-->
<!--                      <div class="ddp-ui-option-in">-->
<!--                        <ul class="ddp-list-dataview">-->
<!--                          <li>Wafer 01</li>-->
<!--                          <li>Wafer 01</li>-->
<!--                          <li>Wafer 01</li>-->
<!--                          <li class="ddp-nodata">no preview</li>-->
<!--                          <li class="ddp-nodata">no preview</li>-->
<!--                          <li class="ddp-total">Only up to 100 rows</li>-->
<!--                        </ul>-->

<!--                      </div>-->
<!--                      &lt;!&ndash; //edit option &ndash;&gt;-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->

<!--              </div>-->
<!--              &lt;!&ndash; //setting &ndash;&gt;-->
<!--            </div>-->

<!--          </div>-->
<!--          &lt;!&ndash; //setting &ndash;&gt;-->


<!--        </div>-->
        <!-- //right -->
      </div>
    </div>
    <!-- //field -->
    <!-- timestamp -->
    <schema-configure-timestamp></schema-configure-timestamp>
    <!-- //timestamp -->
  </div>
</div>


