<div class="ddp-box-layout4 ddp-change" style="width:355px;" *ngIf="isShowPopup">
  <a href="javascript:" class="ddp-btn-close" (click)="closePopup()"></a>
  <div class="ddp-wrap-data-detail">
    <div class="ddp-ui-top-title">
     {{'msg.storage.ui.action.data.detail' | translate}}
    </div>
    <div class="ddp-change-select">
      <!-- selectbox -->
      <div class="ddp-type-selectbox  ">
        <span class="ddp-txt-selectbox">Role</span>
        <ul class="ddp-list-selectbox ddp-selectdown">
          <li>
            <a href="#">
              Dimension
            </a>
          </li>
          <li>
            <a href="#">
              Measure
            </a>
          </li>
        </ul>
      </div>
      <!-- //selectbox -->
      <!-- selectbox -->
      <!-- 클릭시 ddp-selected 추가 -->
      <div class="ddp-type-selectbox ">
        <span class="ddp-txt-selectbox">타입변경</span>
        <div class="ddp-wrap-popup2 ddp-types">
          <ul class=" ddp-list-popup">
            <li class="ddp-selected">
              <a href="#">
                <em class="ddp-icon-time5"></em>
                문자
                <em class="ddp-icon-check"></em>
              </a>
            </li>
            <li>
              <a href="#">
                <em class="ddp-icon-type-tf"></em>
                불린
              </a>
            </li>
            <li>
              <a href="#">
                <em class="ddp-icon-type-int"></em>
                정수
              </a>
            </li>
            <li>
              <a href="#">
                <em class="ddp-icon-type-float"></em>
                소수
              </a>
            </li>
            <li>
              <a href="#">
                <em class="ddp-icon-type-calen"></em>
                날짜/시간
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- //selectbox -->
      <div class="ddp-info" *ngIf="isExistCreatedFieldInCheckedFieldList">{{'msg.storage.ui.configure.schema.logical.change.derived' | translate}}</div>
      <div class="ddp-info" *ngIf="!isExistCreatedFieldInCheckedFieldList && isExistTimestampFieldInCheckedFieldList">{{'msg.storage.ui.configure.schema.logical.change.timestamp' | translate}}</div>
    </div>
  </div>
  <div class="ddp-box-button">
    <a href="javascript:" class="ddp-btn-line" (click)="closePopup()">{{'msg.comm.btn.cancl' | translate}}</a>
    <a href="javascript:" class="ddp-btn-solid ddp-bg-black" (click)="changeFieldList()">{{'msg.comm.btn.done' | translate}}</a>
  </div>
</div>
