
@charset "utf-8";

:host /deep/ .slick-header.ui-state-default {
  width: 100%;
  overflow: hidden;
  border-left: 0px;
}

:host /deep/ .slick-headerrow.ui-state-default {
  width: 100%;
  overflow: hidden;
  border-left: 0px;
}

:host /deep/ .slick-header-columns {
  height: 30px;
  position: relative;
  white-space: nowrap;
  cursor: default;
  overflow: hidden;
}

:host /deep/ .slick-headerrow-columns {
  height: 30px;
  position: relative;
  white-space: nowrap;
  cursor: default;
  overflow: hidden;
}

:host /deep/ .slick-header-column.ui-state-default {
  position: relative;
  display: inline-block;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  height: 100%;
  line-height: 16px;
  margin: 0;
  padding: 6px 4px 4px 6px;
  border-right: 1px solid silver;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
  float: left;
}

:host /deep/ .slick-headerrow-column.ui-state-default {
  padding: 4px;
}

:host /deep/ .slick-header-column-sorted {
  font-style: italic;
}

:host /deep/ .slick-sort-indicator {
  display: inline-block;
  width: 8px;
  height: 5px;
  margin-left: 4px;
  margin-top: 6px;
  float: left;
}

:host /deep/ .slick-sort-indicator-desc {
  background: url(./images/sort-desc.gif);
}

:host /deep/ .slick-sort-indicator-asc {
  background: url(./images/sort-asc.gif);
}

:host /deep/ .slick-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
  cursor: col-resize;
  width: 4px;
  right: 0px;
  top: 0;
  height: 100%;
}

:host /deep/ .slick-resizable-handle-hover {
	background-color: #ccc;
}

:host /deep/ .slick-sortable-placeholder {
  background: silver;
}

:host /deep/ .grid-canvas {
  position: relative;
  outline: 0;
  overflow: hidden;
}

:host /deep/ .slick-row.ui-widget-content {
  position: absolute;
  border: 0px;
  width: 100%;
}

:host /deep/ .slick-row.ui-state-active {
  position: absolute;
  border: 0px;
  width: 100%;
}

:host /deep/ .slick-cell {
  position: absolute;
  border: 1px solid transparent;
  border-right: 1px dotted silver;
  border-bottom-color: silver;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  vertical-align: middle;
  padding: 1px 2px 2px 1px;
  margin: 0;
  white-space: nowrap;
  cursor: default;
}

:host /deep/ .slick-headerrow-column {
  position: absolute;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  vertical-align: middle;
  padding: 1px 2px 2px 1px;
  margin: 0;
  white-space: nowrap;
  cursor: default;
}

:host /deep/ .slick-group {
}

:host /deep/ .slick-group-toggle {
  display: inline-block;
}

:host /deep/ .slick-cell.highlighted {
  background: lightskyblue;
  background: rgba(0, 0, 255, 0.2);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

:host /deep/ .slick-cell.flashing {
  border: 1px solid red !important;
}

:host /deep/ .slick-cell.editable {
  z-index: 11;
  overflow: visible;
  background: white;
  border-color: black;
  border-style: solid;
}

:host /deep/ .slick-cell:focus {
  outline: none;
}

:host /deep/ .slick-reorder-proxy {
  display: inline-block;
  background: blue;
  opacity: 0.15;
  filter: alpha(opacity = 15);
  cursor: move;
}

:host /deep/ .slick-reorder-guide {
  display: inline-block;
  height: 2px;
  background: blue;
  opacity: 0.7;
  filter: alpha(opacity = 70);
}

:host /deep/ .slick-selection {
  z-index: 10;
  position: absolute;
  border: 2px dashed black;
}

:host /deep/ .slick-pane {
	position: absolute;
	outline: 0;
	overflow: hidden;
	width: 100%;
}

:host /deep/ .slick-pane-header {
	display: block;
}

:host /deep/ .slick-header {
	overflow: hidden;
	position: relative;
}

:host /deep/ .slick-headerrow {
	overflow: hidden;
	position: relative;
}

:host /deep/ .slick-top-panel-scroller {
	overflow: hidden;
	position: relative;
}

:host /deep/ .slick-top-panel {
	width:10000px
}

:host /deep/ .slick-viewport {
	position: relative;
	outline: 0;
	width: 100%;
}
