@charset "utf-8";

/**************************************************************
  popup : 02대시보드_01멀티데이터소스_01추가_2
**************************************************************/

.page-multidata .ddp-box-resultdata .ddp-type-top-option .ddp-part {float:left; position:relative;padding:8px 14px; }
/*.page-multidata .ddp-box-resultdata .ddp-ui-top-area .ddp-fright .ddp-part:before {display:inline-block; position:absolute; top:8px; right:0; height:23px; border-left:1px solid #e7e7ea; content:'';}*/
/*.page-multidata .ddp-box-resultdata .ddp-ui-top-area .ddp-fright .ddp-part:first-of-type:before {display:none;}*/
/*.page-multidata .ddp-box-resultdata .ddp-ui-top-area .ddp-icon-fullsize {margin:0;}*/
.page-multidata .ddp-box-resultdata .ddp-type-top-option .ddp-link-unlink {color:#90969f; font-size:13px;}
.page-multidata .ddp-box-resultdata .ddp-type-top-option .ddp-link-unlink:hover {color:#4b515b;}
.page-multidata .ddp-box-resultdata .ddp-type-top-option .ddp-link-unlink:before {display:inline-block; width:15px; height:10px; margin-right:3px; background:url(../../../images/icon_unlink.png) no-repeat; content:'';}
.page-multidata .ddp-box-resultdata .ddp-type-top-option .ddp-link-unlink:hover:before {background-position-x:-16px;}
