@charset "utf-8";

/**************************************************************
  popup : 05_매니지먼트_00데이터저장소_01생성_00myfile_01시트선택_popup
**************************************************************/
.popup-datasource .ddp-view-sheet .ddp-data-name .ddp-icon-error2 {position:relative; top:-1px; vertical-align:middle;}
.popup-datasource .ddp-wrap-sheet .ddp-ui-sheet-list ul.ddp-list-sheet li span.ddp-txt-radio .ddp-icon-error2 {position:relative; top:-1px; margin-left:4px; vertical-align:middle;}
.ddp-wrap-edit-form .ddp-wrap-edit3 .ddp-data-error {display:inline-block; min-width:100%; margin-top:20px;}

/**************************************************************
  popup : 05_매니지먼트_00데이터저장소_01생성_03StringDb_03
**************************************************************/
.popup-datasource .ddp-wrap-edit2 .ddp-ui-setting-table {display:table; margin-top:4px;}

.popup-datasource .ddp-wrap-edit2 .ddp-ui-setting-table .ddp-type-label {display:table-cell; position:relative; top:7px; padding-right:10px; color:#90969f; vertical-align:top;}


.popup-datasource .ddp-wrap-edit2 .ddp-ui-setting-table .ddp-wrap-units {display:table-cell;}

.popup-datasource .ddp-wrap-edit2 .ddp-ui-setting-table .ddp-ui-units {white-space:nowrap;}
.popup-datasource .ddp-wrap-edit2 .ddp-ui-setting-table .ddp-ui-calen {display:inline-block; margin-right:7px;}
.popup-datasource .ddp-wrap-edit2 .ddp-ui-setting-table .ddp-ui-calen .ddp-box-calen {width:160px;}
.popup-datasource .ddp-wrap-edit2 .ddp-ui-setting-table .ddp-ui-sub-setting .ddp-txt-error {position:relative; top:0; margin-top:5px;}
.popup-datasource .ddp-wrap-edit2 .ddp-ui-setting-table .ddp-wrap-units .ddp-data-units {position:relative; top:7px; display:inline-block; color:#90969f; vertical-align:top;}
.popup-datasource .ddp-wrap-edit2 .ddp-ui-setting-table .ddp-wrap-units .ddp-data-units .ddp-data-num {color:#4b515b;}
.popup-datasource .ddp-wrap-edit2 .ddp-ui-setting-table .ddp-wrap-units .ddp-data-units .ddp-data-num.ddp-error-num {color:#e70000;}
.popup-datasource .ddp-wrap-edit2 .ddp-ui-option-sub .ddp-label-radio.ddp-mgr0 {margin-right:0;}
.popup-datasource .ddp-wrap-edit2 .ddp-ui-option-sub .ddp-wrap-hover-info .ddp-icon-info3 {display:inline-block; position:relative; top:-2px; width:11px; height:11px; background:url(../../../images/icon_que.png) no-repeat; background-position:left -12px; cursor:pointer;}
.popup-datasource .ddp-wrap-edit2 .ddp-ui-option-sub .ddp-wrap-hover-info .ddp-pop-setting {width:350px;}
.popup-datasource .ddp-wrap-hover-info .ddp-box-layout4.ddp-pop-setting {display:none;}
.popup-datasource .ddp-wrap-hover-info .ddp-wrap-pop-setting {position:absolute; left:100%; top:-30px; padding-left:5px; z-index:10;}
.popup-datasource .ddp-wrap-hover-info:hover .ddp-box-layout4.ddp-pop-setting {display:block; position:relative; left:0; top:0; margin-left:0; }
.popup-datasource .ddp-wrap-hover-info .ddp-box-layout4.ddp-pop-setting table.ddp-table-info {table-layout:fixed; width:100%;}
.popup-datasource .ddp-wrap-hover-info .ddp-box-layout4.ddp-pop-setting .ddp-data-det3 {padding:0 15px 15px 15px; color:#4b515b; font-size:12px;}
.popup-datasource .ddp-wrap-hover-info .ddp-box-layout4.ddp-pop-setting .ddp-data-det3 .ddp-data-ex {display:block; padding:18px 0 0 0;color:#9ba0a8; font-size:12px; font-weight:bold;}
.popup-datasource .ddp-wrap-hover-info .ddp-box-layout4.ddp-pop-setting .ddp-data-date {display:inline-block; padding:0 15px; margin:-5px 0 18px 0; color:#727ab6; font-size:12px; font-style:italic;}
.popup-datasource .ddp-wrap-partition {padding-left:0;}
.popup-datasource .ddp-ui-partition {padding:14px;background-color:#f6f6f7; overflow:auto;}
.popup-datasource .ddp-list-partition {padding:0; overflow:initial;}
.popup-datasource .ddp-list-partition li {}
.popup-datasource .ddp-list-partition li {padding:0; margin-right:2px; width:149px; vertical-align:top;}
.popup-datasource .ddp-list-partition li span.ddp-ui-label {font-weight:normal;}

.popup-datasource .ddp-list-partition.ddp-type li .ddp-data {padding:3px 0 0 0;}
.popup-datasource .ddp-ui-partition .ddp-data-error {display:block; color:#e70000; font-size:12px; font-style:italic;}
.popup-datasource .ddp-ui-partition .ddp-data-error.ddp-info:before {display:inline-block; width:13px; height:13px; margin-right:3px; ertical-align:middle; background:url(../../../images/icon_info.png) no-repeat; background-position:-28px top; vertical-align:middle; content:'';}
.popup-datasource .ddp-ui-partition .ddp-btn-control {padding:6px 0 0 0;}
.popup-datasource .ddp-ui-partition .ddp-btn-control .ddp-btn-add {display:inline-block; width:11px; height:11px; margin-right:4px; background:url(../../../images/icon_add.png) no-repeat; background-position:-12px -10px;}
.popup-datasource .ddp-ui-partition .ddp-btn-control .ddp-btn-add:hover {background-position-x:-24px;}
.popup-datasource .ddp-ui-partition .ddp-btn-control .ddp-btn-delete {display:inline-block; width:11px; height:12px; background:url(../../../images/icon_control.png) no-repeat; background-position:-26px -14px;}
.popup-datasource .ddp-ui-partition .ddp-btn-control .ddp-btn-delete:hover {background-position-x:-50px;}
.popup-datasource .ddp-wrap-partition .ddp-ui-buttons {padding-top:8px;}
.popup-datasource .ddp-wrap-partition .ddp-ui-buttons .ddp-wrap-result {display:inline-block; position:relative; margin-left:5px;}
.popup-datasource .ddp-wrap-partition .ddp-ui-buttons .ddp-wrap-result .ddp-link-result {display:inline-block; padding:3px;color:#4c515a; font-size:12px; font-style:italic; background:#eeeef0;}
.popup-datasource .ddp-wrap-partition .ddp-ui-buttons .ddp-wrap-result .ddp-link-result:hover {background-color:#d0d1d9;}
.popup-datasource .ddp-box-layout4.ddp-result {display:none; position:fixed; min-width:243px; width:auto; max-height:350px; overflow:auto;}
.popup-datasource .ddp-box-layout4.ddp-result .ddp-data-det {color:#4b515b;}
.popup-datasource .ddp-box-layout4.ddp-result .ddp-data-det .ddp-data-row {color:#9ba0a8;}

/**************************************************************
  popup : 05_매니지먼트_00데이터저장소_01생성_00myfile
**************************************************************/
.popup-datasource .ddp-box-loading.ddp-pop.ddp-progress {background:none; box-shadow:none;}

.popup-datasource .ddp-box-loading.ddp-pop .ddp-btn-cancel {color:#b6b9c2;}
.popup-datasource .ddp-box-loading.ddp-pop .ddp-btn-cancel:after {background:url(../../../images/btn_popclose.png) no-repeat; background-position:-22px -101px; content:'';}
.popup-datasource .ddp-box-loading.ddp-cancel {margin-top:10px;}

/**************************************************************
  popup : 05_매니지먼트_00데이터저장소_01생성_02커넥션
**************************************************************/
.popup-datastore-connect .ddp-ui-folding.ddp-type .ddp-wrap-edit2 {margin-top:10px;}
.popup-datastore-connect .ddp-ui-folding.ddp-type .ddp-box-code {padding:14px 0 0 0; width:630px;}
.popup-datastore-connect .ddp-ui-folding.ddp-type .ddp-box-code .ddp-list-code + .ddp-list-code {margin-top:10px;}
.popup-datastore-connect .ddp-ui-folding.ddp-type .ddp-box-code .ddp-btn-add {margin-top:10px;}
.popup-datastore-connect .ddp-ui-folding.ddp-type .ddp-list-code .ddp-icon-del {display:inline-block; position:absolute; top:8px; right:5px; width:11px; height:12px; background:url(../../../images/icon_control.png) no-repeat; background-position:-26px -14px;}
.popup-datastore-connect .ddp-ui-folding.ddp-type .ddp-list-code .ddp-icon-del:hover {background-position-x:-62px}

/**************************************************************
  popup : 05_매니지먼트_00데이터저장소_01생성_02커넥션
**************************************************************/
.popup-datastore-schema .ddp-type-top-option .ddp-form-search {width:270px;}
.popup-datastore-schema .ddp-type-top-option .ddp-ui-rightoption .ddp-form-label2:first-of-type {margin-left:0;}
.popup-datastore-schema .ddp-type-top-option .ddp-wrap-add-column {float:left; position:relative; margin-left:6px;}
.popup-datastore-schema .ddp-type-top-option .ddp-wrap-add-column.ddp-selected .ddp-box-column {display:block; z-index:10;}
.popup-datastore-schema .ddp-type-top-option .ddp-wrap-add-column.ddp-selected .ddp-btn-selection {background-color:#d0d1d8;}
.popup-datastore-schema .ddp-wrap-add-column .ddp-box-column {display:none; position:absolute; top:100%; right:0; padding:19px 14px 13px 14px; margin-top:5px; width:470px; box-sizing:border-box;}
.popup-datastore-schema .ddp-wrap-add-column .ddp-box-column .ddp-wrap-edit3 + .ddp-wrap-edit3 {margin-top:12px;}
.popup-datastore-schema .ddp-wrap-add-column .ddp-box-column .ddp-wrap-edit3 .ddp-ui-label-name {margin-bottom:5px; color:#4b515b;}
.popup-datastore-schema .ddp-wrap-add-column .ddp-box-column .ddp-option-form + .ddp-option-form {margin-top:6px;}
.popup-datastore-schema .ddp-wrap-add-column .ddp-box-column .ddp-box-button {padding:5px 0 0 0;}
.popup-datastore-schema .ddp-wrap-add-column .ddp-box-column .ddp-box-button [class*="ddp-btn-"] {float:Left; margin-right:3px; min-width:auto;}
.popup-datastore-schema .ddp-wrap-add-column .ddp-box-column .ddp-option-form.ddp-clear {margin-left: -2px;margin-right:-2px;}
.popup-datastore-schema .ddp-wrap-add-column .ddp-box-column .ddp-option-form.ddp-clear [class*="ddp-col-"]{padding:0 2px;}
.popup-datastore-schema .ddp-wrap-value-setting .ddp-info {margin:3px 0 0 0; color:#b7b9c2; font-size:12px; font-style:italic;}
.popup-datastore-schema .ddp-wrap-value-setting .ddp-info:before {display:inline-block; width:13px; height:13px; margin-right:3px; background:url(../../../images/icon_info.png) no-repeat; background-position:-42px -16px; content:''; vertical-align:middle;}
.popup-datastore-schema .ddp-ui-setting .ddp-ui-option-in .ddp-sub-option {padding:6px 0 0 0;}

.popup-datastore-schema .ddp-box-action .ddp-info {clear:both; color:#b7b9c2; margin-top:3px; font-size:12px; font-style:italic;}
.popup-datastore-schema .ddp-box-action.ddp-type .ddp-change-type .ddp-box-layout4.ddp-change .ddp-change-select .ddp-info:before{display:inline-block; width:13px; height:13px; margin-right:3px; background:url(../../../images/icon_info.png) no-repeat; background-position:-42px -16px; content:''; vertical-align:middle;}
.popup-datastore-schema .ddp-ui-checkaction .ddp-wrap-action .ddp-info {clear:both; color:#b7b9c2; margin-top:3px; font-size:12px; font-style:italic;}
.popup-datastore-schema .ddp-ui-checkaction .ddp-wrap-action .ddp-info:before {display:inline-block; width:13px; height:13px; margin-right:3px; background:url(../../../images/icon_info.png) no-repeat; background-position:-42px -16px; content:''; vertical-align:middle;}
