@charset "utf-8";

/**************************************************************
  popup : 맵 차트
**************************************************************/
.ddp-page-mapview .ddp-btn-color-heatmap1 {background:url(../../../images/img_color_heatmap_type1.png) no-repeat; }
.ddp-page-mapview .ddp-btn-color-heatmap2 {background:url(../../../images/img_color_heatmap_type2.png) no-repeat;}
.ddp-page-mapview .ddp-btn-color-heatmap3 {background:url(../../../images/img_color_heatmap_type3.png) no-repeat;}
.ddp-page-mapview .ddp-btn-color-heatmap4 {background:url(../../../images/img_color_heatmap_type4.png) no-repeat;}
.ddp-page-mapview .ddp-btn-color-heatmap5 {background:url(../../../images/img_color_heatmap_type5.png) no-repeat;}
.ddp-page-mapview .ddp-btn-color-heatmap6 {background:url(../../../images/img_color_heatmap_type6.png) no-repeat;}
.ddp-page-mapview .ddp-btn-color-heatmap7 {background:url(../../../images/img_color_heatmap_type7.png) no-repeat;}
.ddp-page-mapview .ddp-box-down .ddp-wrap-divide .ddp-divide2 .ddp-wrap-colorby-button.ddp-solid-color {padding-left:0;height:25px;}

.ddp-page-mapview .ddp-box-down .ddp-wrap-divide .ddp-divide2 .ddp-wrap-colorby-button.ddp-solid-color .sp-preview,
.ddp-page-mapview .ddp-box-down .ddp-wrap-divide .ddp-divide2 .ddp-wrap-colorby-button.ddp-solid-color .sp-replacer{width:100%; height:100%;}
.ddp-page-mapview .ddp-box-down .ddp-wrap-divide .ddp-divide2 .ddp-wrap-colorby-button.ddp-solid-color .sp-preview:before {display:inline-block; position:absolute; top:0; left:0; width:26px; height:25px; background:url(../../../images/btn_color.png) no-repeat; content:''; background-color:#fff; border-radius:3px; z-index:1;}
.ddp-page-mapview .ddp-box-down .ddp-wrap-divide .ddp-divide2 .ddp-wrap-colorby-button.ddp-solid-color .sp-preview-inner {position:absolute; top:0; left:0; right:0; bottom:0;}
.ddp-page-mapview .ddp-box-color .ddp-solid-color .sp-replacer.sp-active:before,
.ddp-page-mapview .ddp-box-color .ddp-solid-color .sp-replacer.sp-active:after,
.ddp-box-color .ddp-solid-color .sp-replacer.sp-active{border:none;}

.ddp-page-mapview .ddp-ui-drop-contents ul.ddp-list-source li em[class*="ddp-icon-mapview"] {position:absolute; top:6px; left:18px;}
.ddp-page-mapview .ddp-ui-drop-contents ul.ddp-list-source li em.ddp-icon-mapview1:before {background-position:left top;}
.ddp-page-mapview .ddp-ui-drop-contents ul.ddp-list-source li em.ddp-icon-mapview2:before {background-position:left -16px;}
.ddp-page-mapview .ddp-ui-drop-contents ul.ddp-list-source li em.ddp-icon-mapview3:before {background-position:left -32px;}

.ddp-page-mapview .ddp-ui-cahrt-layout .ddp-ui-layout-center .ddp-icon-mapview-guide {display:inline-block; width:30px; height:28px; margin-right:15px; background:url(../../../images/icon_mapview_guide.png) no-repeat; vertical-align:middle;}
.ddp-page-mapview .ddp-ui-cahrt-layout .ddp-ui-layout-center .ddp-bg-chart-mapview {display:inline-block; width:307px; height:307px; position:absolute; top:50%; left:50%; margin:-154px 0 0 -154px; background:url(../../../images/img_chart/img_map.png) no-repeat;}






