@charset "utf-8";

/****************************************************************************
   Popup : 99_데이터프리퍼레이션_01데이터플로우_04조인_popup
*************************************************************************/
.popup-prep-join {}
.popup-prep-join .ddp-wrap-prep-join {height:100%; margin-top:-120px; padding:120px 0 0 0; box-sizing:border-box;}
.popup-prep-join .ddp-wrap-prep-join .ddp-ui-prep-join {position:relative;height:100%; min-height:600px;  padding-bottom:60px; box-sizing:border-box;}
.popup-prep-join .ddp-wrap-prep-join .ddp-ui-prep-join.ddp-default .ddp-prep-box-contents {height:100%;}
.popup-prep-join .ddp-wrap-prep-join .ddp-ui-prep-join.ddp-default .ddp-prep-join-type {display:none;}
.popup-prep-join .ddp-ui-popup-join .ddp-prep-box-contents {height:60%; padding:0 50px;}
.popup-prep-join .ddp-ui-popup-join .ddp-prep-box-contents .ddp-box-pop-contents.ddp-type {position:relative; top:0; left:0; right:0; bottom:0; height:100%;}
.popup-prep-join .ddp-ui-popup-join .ddp-prep-join-type {position:relative; height:40%;padding-bottom:60px;}
.popup-prep-join .ddp-ui-popup-join .ddp-prep-join-type .ddp-ui-join-type.ddp-type {position:relative; height:100%; bottom:0;}


.popup-prep-join .ddp-ui-popup-join .ddp-ui-part .ddp-ui-set ul.ddp-list-tab-button li .ddp-ui-tooltip-info {right:0; left:inherit;}
.popup-prep-join .ddp-ui-popup-join .ddp-ui-part .ddp-ui-set ul.ddp-list-tab-button li .ddp-ui-tooltip-info em.ddp-icon-view-top {left:inherit; right:11px;}


