@charset "utf-8";

/**************************************************************
  popup :99_데이터프리퍼레이션_01데이터플로우_03데이터셋선택_popup
**************************************************************/
.popup-prep-dataset {}
.popup-prep-dataset .ddp-ui-popup-contents {padding-top:170px;}
.popup-prep-dataset .ddp-ui-dataset-new .ddp-wrap-viewtable {bottom:33px;}
.popup-prep-dataset .ddp-type-top-option .ddp-ui-rightoption .ddp-data-total {position:relative; top:6px;}
.popup-prep-dataset .ddp-ui-popup-contents .ddp-data-dataset {position:absolute; top:104px; left:50px; right:50px; padding:15px 20px; background-color:#f6f6f7; font-size:14px; color:#35393f; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.popup-prep-dataset .ddp-ui-popup-contents .ddp-data-dataset .ddp-txt-label {color:#90969f; font-size:14px;}
/**************************************************************
  popup : 99_데이터프리퍼레이션_02데이터셋_01생성완료_popup
**************************************************************/
.popup-prep-create-complete {}
.popup-prep-create-complete .ddp-wrap-complete {width:860px; height:100%; margin:0 auto; text-align:left;}
.popup-prep-create-complete .ddp-wrap-boxtype {width:100%; height:160px; margin:0; }
.popup-prep-create-complete .ddp-wrap-sheet-list {height:100%; margin-top:-200px; padding:210px 0 0 0; box-sizing:border-box;}
.popup-prep-create-complete .ddp-wrap-sheet-list.ddp-full {margin-top:0; padding-top:0;}
.popup-prep-create-complete .ddp-ui-sheet-list {border:1px solid #d6d7dc; height:100%; box-sizing:border-box; overflow:auto;}
.popup-prep-create-complete table.ddp-table-sheet {width:100%; table-layout:fixed;}
.popup-prep-create-complete table.ddp-table-sheet tr th {padding:8px 20px 8px 20px; text-align:left; font-weight:normal; color:#90969f; font-size:12px; border-bottom:1px solid #e7e7ea;}
.popup-prep-create-complete table.ddp-table-sheet tr td {padding:16px 0 16px 20px; text-align:left; color:#4b515b; font-size:13px; vertical-align:top; white-space:nowrap; text-overflow:ellipsis; overflow:Hidden;}
.popup-prep-create-complete table.ddp-table-sheet tr td .ddp-sheet-form {margin:-8px 0;}
.popup-prep-create-complete table.ddp-table-sheet tr td input.ddp-input-typebasic {margin:-8px 0 -8px 0;}
.popup-prep-create-complete table.ddp-table-sheet tr td .ddp-sheet-form input.ddp-input-typebasic {margin:0;}
.popup-prep-create-complete table.ddp-table-sheet tr td .ddp-sheet-form .ddp-data-error {color: #e70000; font-size:12px; font-style:italic;}
.popup-prep-create-complete table.ddp-table-sheet tr td .ddp-sheet-form .ddp-data-error:before {display:inline-block; width:13px; height:13px; background:url(../../../images/icon_info.png) no-repeat; background-position:-28px top; vertical-align:middle; content:'';}
.popup-prep-create-complete table.ddp-table-sheet tr td .ddp-sheet-form .ddp-textarea-resize {margin:0;}
.popup-prep-create-complete table.ddp-table-sheet tr td .ddp-textarea-resize {margin:-8px 0 -8px 0;}
.popup-prep-create-complete table.ddp-table-sheet tr th:last-of-type,
.popup-prep-create-complete table.ddp-table-sheet tr td:last-of-type {padding-right:20px;}

.popup-prep-create-complete table.ddp-table-sheet tr:nth-child(odd) td{background-color:#fafafa;}
.popup-prep-create-complete table.ddp-table-sheet tr td textarea {display:block; width:100%; padding:5px 10px; border:1px solid #d0d1d9; box-sizing:border-box;}

/**************************************************************
  popup :99_데이터프리퍼레이션_02데이터셋_02파일업로드1
**************************************************************/
.popup-prep-fileupload .ddp-box-file-create .ddp-box-loading.ddp-pop.ddp-progress {background:none; box-shadow:none;}

.popup-prep-fileupload .ddp-box-file-create .ddp-box-loading.ddp-pop .ddp-btn-cancel {color:#b6b9c2;}
.popup-prep-fileupload .ddp-box-file-create .ddp-box-loading.ddp-pop .ddp-btn-cancel:after {background:url(../../../images/btn_popclose.png) no-repeat; background-position:-22px -101px; content:'';}
.popup-prep-fileupload .ddp-box-file-create .ddp-box-loading.ddp-cancel {margin-top:10px;}
.popup-prep-fileupload .ddp-box-file-create .ddp-box-loading.ddp-pop.ddp-disabled {opacity:0.3;}
.popup-prep-fileupload .ddp-box-file-create .ddp-box-loading.ddp-pop.ddp-disabled:before {background:none; }

/**************************************************************
  popup : 99_데이터프리퍼레이션_02데이터셋_02파일업로드2_popup
**************************************************************/
.popup-prep-fileupload .ddp-wrap-sheet .ddp-select-all {padding:10px 14px; background-color:#f6f6f7;}
.popup-prep-fileupload .ddp-view-sheet .ddp-wrap-grid .ddp-box-loading.ddp-cancel  {margin-top:10px;}

/**************************************************************
  popup : 99_데이터프리퍼레이션_03데이터스냅샷_01상세_success_popup
**************************************************************/
.popup-prep-snapshot .ddp-layout-pop-right.ddp-detail {z-index:56;}
.popup-prep-snapshot .ddp-layout-pop-right.ddp-detail .ddp-view-title {padding:20px 10px 0 15px; height:85px; background-color:#fff; box-sizing:border-box;}
.popup-prep-snapshot .ddp-layout-pop-right.ddp-detail .ddp-view-title span {display:block; font-size:16px; font-weight:bold;color:#35393f; line-height:22px; letter-spacing:-1px; box-sizing:border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 라인수 */
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  word-wrap:break-word;}
.popup-prep-snapshot .ddp-layout-pop-right .ddp-view-detail dl.ddp-dl-detail dd { overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 라인수 */
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  word-wrap:break-word;}
.popup-prep-snapshot .ddp-layout-pop-right.ddp-detail .ddp-view-title.type-edit span.ddp-txt-title {position:relative; padding-right:23px; font-size:16px; font-weight:bold;color:#35393f; line-height:22px; letter-spacing:-1px; box-sizing:border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 라인수 */
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  word-wrap:break-word; cursor:pointer;}
.popup-prep-snapshot .ddp-layout-pop-right.ddp-detail .ddp-view-title.type-edit span.ddp-txt-title .ddp-link-edit {display:none;position:absolute; bottom:2px; right:5px;}
.popup-prep-snapshot .ddp-layout-pop-right.ddp-detail .ddp-view-title.type-edit span.ddp-txt-title:hover .ddp-link-edit {display:block;}
.popup-prep-snapshot .ddp-layout-pop-right.ddp-detail .ddp-view-title.type-edit.ddp-selected .ddp-txt-title {display:none;}
.popup-prep-snapshot .ddp-layout-pop-right.ddp-detail .ddp-view-title.type-edit.ddp-selected .ddp-ui-input {display:block;}
.popup-prep-snapshot .ddp-layout-pop-right.ddp-detail .ddp-view-title .ddp-ui-input {display:none;position:Relative; padding-right:23px; margin:-1px 0 0 -5px; border-radius:3px; border:1px solid #b7b9c2; overflow:hidden;}
.popup-prep-snapshot .ddp-layout-pop-right.ddp-detail .ddp-view-title .ddp-ui-input textarea {display:block; width:100%; height:100%; padding:1px 0 2px 5px;  font-size:16px; font-weight:bold; line-height:22px; letter-spacing:-1px; border:none; background-color:#f6f6f7; box-sizing:border-box;}
.popup-prep-snapshot .ddp-layout-pop-right.ddp-detail .ddp-view-title .ddp-ui-input input {display:block; width:100%; height:100%; padding:4px 0 4px 5px; font-size:16px; font-weight:bold;border:none; box-sizing:border-box;}
.popup-prep-snapshot .ddp-layout-pop-right.ddp-detail .ddp-view-title .ddp-ui-input .ddp-btn-check {display:inline-block; position:absolute; top:2px; bottom:2px; right:2px; width:23px; height:inherit; border-radius:3px; background-color:#d0d1d8; cursor: pointer;}
.popup-prep-snapshot .ddp-layout-pop-right.ddp-detail .ddp-view-title .ddp-ui-input .ddp-btn-check:hover {background-color:#9ca2cc;}

.popup-prep-snapshot .ddp-layout-pop-right.ddp-detail .ddp-view-contents-scroll {position:absolute; top:83px; left:0; right:0; bottom:70px; overflow-y:auto;}

.popup-prep-snapshot .ddp-layout-pop-right.ddp-detail .ddp-view-contents-scroll  .ddp-view-detail {padding-top:0;}
.popup-prep-snapshot .ddp-layout-pop-right.ddp-detail .ddp-view-buttons {position:absolute; bottom:0; left:0; right:0; padding:20px;  background-color:#fff;}
.popup-prep-snapshot .ddp-layout-pop-right.ddp-detail .ddp-view-buttons a.ddp-btn-pop {width:100%;}
.popup-prep-snapshot .ddp-layout-pop-right.ddp-detail .ddp-box-info dl.ddp-dl-detail2 {padding-bottom:20px;}

/**************************************************************
    popup : 99_데이터프리퍼레이션_02데이터셋_01생성_file1_popup
**************************************************************/
.popup-prep-create .ddp-box-file-create {position:relative; overflow:auto;}
.popup-prep-create .ddp-box-file-create .ddp-wrap-upload {display:inline-block; position:relative; padding:23px 0 0 0;width:323px; text-align:left;}
.popup-prep-create .ddp-box-file-create .ddp-wrap-upload .ddp-box-upload-type {padding:15px 20px 15px 17px;border-radius:5px; background-color:#ececef;}
.popup-prep-create .ddp-box-file-create .ddp-wrap-upload .ddp-box-upload-type  .ddp-wrap-edit3 .ddp-ui-edit-option.ddp-type {padding-bottom:0;}
.popup-prep-create .ddp-box-file-create .ddp-wrap-upload .ddp-box-upload-type .ddp-wrap-edit3.ddp-type .ddp-type-selectbox {width:100%;}
.popup-prep-create .ddp-box-file-create .ddp-wrap-upload .ddp-box-upload-type  .ddp-wrap-edit3.ddp-type .ddp-label-type {padding:7px 0; font-size:13px;}
.popup-prep-create .ddp-box-popupcontents.type-info {padding-bottom:40px;box-sizing:border-box;}
.popup-prep-create .ddp-box-popupcontents.type-info .ddp-box-synch {position:absolute; bottom:0; left:0; right:0;}

.popup-prep-create .ddp-box-file-create .ddp-box-file-progress {position:absolute; top:0; left:0; right:0; bottom:0; background-color:#fff; z-index:10;}

.ddp-box-file-progress .ddp-import-file {position:absolute; left:-1px; right:-1px; bottom:-1px; padding:27px 0 0 30px; height:100px; border:1px solid #d0d1d8; background-color:#f6f6f7; box-sizing:border-box;}
.ddp-box-file-progress .ddp-import-file.ddp-disabled {opacity:0.3;}
.ddp-box-file-progress .ddp-import-file.ddp-disabled:before {display:inline-block; position:absolute; top:0; left:0; right:0; bottom:0; z-index:60; content:''; }
.ddp-box-file-progress .ddp-import-file .ddp-txt-file-info {padding-bottom:5px;}
.ddp-box-file-progress .ddp-import-file .ddp-wrap-edit3 {position:absolute; top:34px; right:30px; width:auto;}
.ddp-box-file-progress .ddp-import-file .ddp-wrap-edit3.ddp-type .ddp-label-type {font-size:13px; width:auto; padding-right:22px;}


.ddp-box-file-progress .ddp-file-progress {height:100%; padding-top:39px; padding-bottom:100px; box-sizing:border-box;}
.ddp-box-file-progress .ddp-file-progress .ddp-wrap-file-title {position:absolute; top:0; left:0; right:0; padding:10px 0 10px 14px; height:39px; border-bottom:1px solid #d0d1d8; background-color:#91969e; color:#fff; font-size:14px; overflow:hidden; box-sizing:border-box;}
.ddp-box-file-progress .ddp-file-progress .ddp-wrap-file-title .ddp-file-title {float:left;}
.ddp-box-file-progress .ddp-file-progress .ddp-wrap-file-title .ddp-btn-restore {float:right; position:relative; top:2px; margin-right:15px; color:#fff; font-size:12px;}
.ddp-box-file-progress .ddp-file-progress .ddp-wrap-file-title .ddp-btn-restore .ddp-icon-reset2 {vertical-align:right; margin-right:3px;}
.ddp-box-file-progress .ddp-list-file-progress {height:100%; overflow:auto;}
.ddp-box-file-progress .ddp-list-file-progress li {position:relative; float:left; width:100%; padding-right:360px; border-bottom:1px solid #e6e6e9; box-sizing:border-box;}
.ddp-box-file-progress .ddp-list-file-progress li.ddp-disabled:before {position:absolute; top:0; left:0; right:0; bottom:0; background-color:rgba(255,255,255,0.7); content:''; z-index:1;}
.ddp-box-file-progress .ddp-list-file-progress li .ddp-file-name {position:relative; width:100%; padding:27px 0 20px 66px; box-sizing:border-box;}

.ddp-box-file-progress .ddp-list-file-progress li .ddp-file-name [class*="ddp-icon-flow-svg"] {position:absolute; top:50%; left:30px; margin-top:-12px; background:none;}
.ddp-box-file-progress .ddp-list-file-progress li .ddp-file-name .ddp-data-filename {display:inline-block; max-width:100%; padding-bottom:8px; color:#4b515b; font-size:14px; font-weight:bold;}
.ddp-box-file-progress .ddp-list-file-progress li .ddp-file-name .ddp-data-filename .ddp-txt-filename {display:block;white-space:nowrap; text-overflow:ellipsis; overflow:hidden; }
.ddp-box-file-progress .ddp-list-file-progress li .ddp-file-name .ddp-data-filename .ddp-txt-subname {float:right;}
.ddp-box-file-progress .ddp-list-file-progress li .ddp-file-name .ddp-data-size {display:block; color:#91969e; font-size:12px;}
.ddp-box-file-progress .ddp-list-file-progress .ddp-ui-condition {position:absolute; top:0; right:0; bottom:0; width:360px; padding:37px 0 0 0; box-sizing:border-box;}
.ddp-box-file-progress .ddp-list-file-progress .ddp-ui-condition .ddp-type-progressbar2 {width:200px;}
.ddp-box-file-progress .ddp-list-file-progress .ddp-ui-condition.type-failed .ddp-type-progressbar2 .ddp-data-progressbar {background-color:#cd5454;}
.ddp-box-file-progress .ddp-list-file-progress .ddp-ui-condition .ddp-data-per {display:inline-block; width:48px; padding-right:8px; text-align:right; color:#666eb2; font-weight:bold; vertical-align:middle;}
.ddp-box-file-progress .ddp-list-file-progress .ddp-ui-condition.type-failed .ddp-data-per {color:#cd5454;}
.ddp-box-file-progress .ddp-list-file-progress .ddp-ui-condition .ddp-data-condition {display:inline-block; width:65px;padding-left:7px; text-align:center; color:#90969f; vertical-align:middle; }
.ddp-box-file-progress .ddp-list-file-progress .ddp-ui-condition .ddp-data-condition .ddp-line {width:65px; margin:-12px 0; box-sizing:Border-box;}
.ddp-box-file-progress .ddp-list-file-progress .ddp-ui-condition .ddp-data-condition .ddp-txt-error {position:relative; font-style:normal; cursor:pointer;}
.ddp-box-file-progress .ddp-list-file-progress .ddp-ui-condition .ddp-data-condition .ddp-txt-error .ddp-box-layout4 {display:none; position:absolute; top:100%; right:0; margin-top:4px; width:275px; text-align:left; z-index:2;}
.ddp-box-file-progress .ddp-list-file-progress .ddp-ui-condition .ddp-data-condition .ddp-txt-error:hover .ddp-box-layout4 {display:block;}
.ddp-box-file-progress .ddp-list-file-progress .ddp-ui-condition .ddp-data-condition .ddp-txt-error .ddp-box-layout4 .ddp-data-det { font-weight:normal; color:#4b515b;}
.ddp-box-file-progress .ddp-list-file-progress li.ddp-disabled .ddp-type-progressbar2 .ddp-data-progressbar {display:none;}

.ddp-ui-create-file.type-filelist-none .ddp-list-create-file {display:none;}
.ddp-ui-create-file.type-filelist-none .ddp-wrap-create-detail {margin-left:0; padding-left:0;}
.ddp-ui-create-file {width:100%; height:100%; border:1px solid #d0d1d8; box-sizing:border-box;}
.ddp-ui-create-file .ddp-list-create-file {display:;float:left; width:250px; max-width:250px; height:100%; border-right:1px solid #d0d1d8; overflow:auto; box-sizing:border-box;}
.ddp-ui-create-file .ddp-wrap-create-detail {float:left; margin-left:-250px; padding-left:250px; width:100%; height:100%; box-sizing:border-box;}
.ddp-ui-create-file .ddp-wrap-create-detail .ddp-ui-create-detail {position:relative; width:100%; height:100%;}
.ddp-ui-create-file .ddp-list-file-name .ddp-wrap-checkbox {position:relative; padding:14px 35px 14px 34px;  cursor:pointer;}

.ddp-ui-create-file .ddp-list-file-name > li {position:relative; border-bottom:1px solid #e6e6e9;}

.ddp-ui-create-file .ddp-list-file-name > li .ddp-wrap-checkbox:hover,
.ddp-ui-create-file .ddp-list-file-name > li.ddp-selected > .ddp-wrap-checkbox,
.ddp-ui-create-file .ddp-list-sub-file > li.ddp-selected > .ddp-wrap-checkbox,
.ddp-ui-create-file .ddp-list-sub-file > li > .ddp-wrap-checkbox:hover {background-color:#f6f6f7; font-weight:bold;}
.ddp-ui-create-file .ddp-list-file-name > li > .ddp-wrap-checkbox:after,
.ddp-ui-create-file .ddp-list-sub-file > li > .ddp-wrap-checkbox:after {display:none; position:absolute; top:50%; right:17px; margin-top:-6px; width:6px; height:11px; background:url(../../../images/icon_dataview.png) no-repeat; background-position:left -68px; content:'';}
.ddp-ui-create-file .ddp-list-file-name > li > .ddp-wrap-checkbox:hover:after,
.ddp-ui-create-file .ddp-list-file-name > li.ddp-selected > .ddp-wrap-checkbox:after,
.ddp-ui-create-file .ddp-list-sub-file > li > .ddp-wrap-checkbox:hover:after,
.ddp-ui-create-file .ddp-list-sub-file > li.ddp-selected > .ddp-wrap-checkbox:after {display:Block;}
.ddp-ui-create-file .ddp-list-file-name li .ddp-label-checkbox {padding-left:0; max-width:100%; box-sizing:border-box;}
.ddp-ui-create-file .ddp-list-file-name .ddp-wrap-checkbox .ddp-label-checkbox {position:absolute; top:0; left:0; bottom:0; width:34px;}

.ddp-ui-create-file .ddp-list-file-name .ddp-wrap-checkbox .ddp-label-checkbox .ddp-icon-checkbox {left:14px;}

.ddp-ui-create-file .ddp-list-file-name li span.ddp-txt-checkbox {display:inline-block; max-width:100%; font-size:13px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.ddp-ui-create-file .ddp-list-file-name li span.ddp-txt-checkbox .ddp-txt-subname {float:right; font-size:13px;}
.ddp-ui-create-file .ddp-list-file-name li .ddp-label-checkbox .ddp-txt-filename {display:block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.ddp-ui-create-file .ddp-list-sub-file {border-top:1px solid #e6e6e9;}

.ddp-ui-create-file .ddp-list-sub-file > li .ddp-wrap-checkbox {position:relative; padding:10px 35px 10px 60px;border-bottom:none;}

.ddp-ui-create-file .ddp-list-file-name .ddp-list-sub-file .ddp-wrap-checkbox .ddp-label-checkbox {left:25px !important;}
.ddp-ui-create-file .ddp-ui-create-detail .ddp-wrap-grid-option {border-bottom:1px solid red; overflow:hidden; background-color:#f6f6f7; border-bottom:1px solid #d7d8dd;}
.ddp-ui-create-file .ddp-ui-create-detail .ddp-wrap-grid-option .ddp-data-total {float:right; padding:14px 0 15px 0; }
.ddp-ui-create-file .ddp-ui-create-detail .ddp-wrap-grid-option .ddp-data-total .ddp-txt-data {color:#4b515b; font-weight:300;margin-right:15px;}
.ddp-ui-create-file .ddp-ui-create-detail .ddp-wrap-grid-option .ddp-data-total .ddp-txt-data .ddp-txt-num {font-weight:normal;}
.ddp-ui-create-file .ddp-ui-create-detail .ddp-wrap-grid-option .ddp-data-name {position:relative; padding:14px 0 14px 43px; color:#4c515a; font-size:13px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.ddp-ui-create-file .ddp-ui-create-detail .ddp-wrap-grid-option .ddp-data-name [class*="ddp-icon-files"] {position:absolute; top:50%; left:15px; margin-top:-12px;}
.ddp-ui-create-file .ddp-ui-create-detail .ddp-wrap-grid {position:absolute; top:45px; left:0; right:0; bottom:56px; }

.popup-prep-create-complete table.ddp-table-sheet tr td [class*="ddp-icon-flow-"] {margin-right:5px;}



/**************************************************************
  popup : 99_데이터프리퍼레이션_02데이터셋_01생성_url2
**************************************************************/
.ddp-wrap-urltype {position:relative;; width:860px; height:100%; text-align:left; margin:auto;}
.ddp-wrap-urltype .ddp-box-resultpreview {display:block; padding:0; top:84px; left:0; right:0;}
.ddp-wrap-urltype .ddp-box-resultpreview .ddp-ui-pop-top .ddp-label-type {color:#4b515b; font-size:13px; font-weight:normal;}
/*.ddp-wrap-urltype .ddp-box-resultpreview .ddp-ui-grid-form {bottom:0;}*/
/*.ddp-wrap-urltype .ddp-box-resultpreview .ddp-ui-grid-form .ddp-wrap-grid {position:absolute; top:0; left:0; right:0; bottom:0;}*/
.ddp-wrap-urltype .ddp-ui-create-file  {position:absolute; top:54px; left:0; right:0; bottom:0; height:auto;}
.ddp-wrap-urltype .ddp-ui-create-file .ddp-ui-create-detail .ddp-wrap-grid {top:0; bottom:0;}







