@charset "utf-8";

/**************************************************************
  popup : 02_워크북_02대시보드_01추가_03조인옵션_popup
**************************************************************/
.popup-dashboard-join {}
.popup-dashboard-join .ddp-wrap-board-join {height:100%;  padding-top:110px; padding-bottom:20px; margin-top:-120px; box-sizing:border-box;;}
.popup-dashboard-join .ddp-ui-board-join {height:100%;min-height:600px;}
.popup-dashboard-join .ddp-ui-board-join .ddp-board-box-contents {height:50%; padding:0 50px;}
.popup-dashboard-join .ddp-ui-board-join .ddp-board-box-contents .ddp-box-pop-contents {position:relative; top:0;left:0;right:0;bottom:0;height:100%;}
.popup-dashboard-join .ddp-ui-board-join .ddp-board-join-type {height:50%; box-sizing:border-box;}
.popup-dashboard-join .ddp-ui-board-join .ddp-board-join-type .ddp-ui-join-type {position:relative; top:0; left:0; right:0;bottom:0; height:40%;}
.popup-dashboard-join .ddp-ui-board-join .ddp-board-join-type .ddp-box-resultpreview {position:relative; top:0; left:0; right:0;bottom:0; height:60%; padding:0 50px;min-height:auto;}

.popup-dashboard-join .ddp-ui-board-join .ddp-box-resultpreview .ddp-wrap-gird-form {position:relative; margin-top:-54px; padding:54px 0 0 0; height:100%; box-sizing:border-box;}
.popup-dashboard-join .ddp-ui-board-join .ddp-box-resultpreview .ddp-wrap-gird-form .ddp-ui-grid-form {position:relative; left:0; right:0; bottom:0; top:0; height:100%; box-sizing:border-box;}


.popup-dashboard-join .ddp-ui-board-join.ddp-default .ddp-board-box-contents {height:100%;}
.popup-dashboard-join .ddp-ui-board-join.ddp-default .ddp-ui-joinkeys {display:none;}
.popup-dashboard-join .ddp-ui-board-join.ddp-default .ddp-board-join-type {display:none;}
.popup-dashboard-join .ddp-ui-board-join.ddp-default .ddp-ui-part .ddp-ui-grid-form {bottom:20px;}
.popup-dashboard-join .ddp-ui-popup-join .ddp-ui-part .ddp-ui-set ul.ddp-list-tab-button li .ddp-ui-tooltip-info {right:0; left:inherit;}
.popup-dashboard-join .ddp-ui-popup-join .ddp-ui-part .ddp-ui-set ul.ddp-list-tab-button li .ddp-ui-tooltip-info em.ddp-icon-view-top {left:inherit; right:11px;}
