@charset "utf-8";

/**************************************************************
  popup : 맵 차트
**************************************************************/
.ddp-page-mapview .ddp-btn-color-heatmap1 {background:url(../../../images/img_color_heatmap_type1.png) no-repeat; }
.ddp-page-mapview .ddp-btn-color-heatmap2 {background:url(../../../images/img_color_heatmap_type2.png) no-repeat;}
.ddp-page-mapview .ddp-btn-color-heatmap3 {background:url(../../../images/img_color_heatmap_type3.png) no-repeat;}
.ddp-page-mapview .ddp-btn-color-heatmap4 {background:url(../../../images/img_color_heatmap_type4.png) no-repeat;}
.ddp-page-mapview .ddp-btn-color-heatmap5 {background:url(../../../images/img_color_heatmap_type5.png) no-repeat;}
.ddp-page-mapview .ddp-btn-color-heatmap6 {background:url(../../../images/img_color_heatmap_type6.png) no-repeat;}
.ddp-page-mapview .ddp-btn-color-heatmap7 {background:url(../../../images/img_color_heatmap_type7.png) no-repeat;}
.ddp-page-mapview .ddp-box-down .ddp-wrap-divide .ddp-divide2 .ddp-wrap-colorby-button.ddp-solid-color {padding-left:0;height:25px;}

.ddp-page-mapview .ddp-box-down .ddp-wrap-divide .ddp-divide2 .ddp-wrap-colorby-button.ddp-solid-color .sp-preview,
.ddp-page-mapview .ddp-box-down .ddp-wrap-divide .ddp-divide2 .ddp-wrap-colorby-button.ddp-solid-color .sp-replacer{width:100%; height:100%;}
.ddp-page-mapview .ddp-box-down .ddp-wrap-divide .ddp-divide2 .ddp-wrap-colorby-button.ddp-solid-color .sp-preview:before {display:inline-block; position:absolute; top:0; left:0; width:26px; height:25px; background:url(../../../images/btn_color.png) no-repeat; content:''; background-color:#fff; border-radius:3px; z-index:1;}
.ddp-page-mapview .ddp-box-down .ddp-wrap-divide .ddp-divide2 .ddp-wrap-colorby-button.ddp-solid-color .sp-preview-inner {position:absolute; top:0; left:0; right:0; bottom:0;}
.ddp-page-mapview .ddp-box-color .ddp-solid-color .sp-replacer.sp-active:before,
.ddp-page-mapview .ddp-box-color .ddp-solid-color .sp-replacer.sp-active:after,
.ddp-box-color .ddp-solid-color .sp-replacer.sp-active{border:none;}

.ddp-page-mapview .ddp-ui-drop-contents ul.ddp-list-source li em[class*="ddp-icon-mapview"] {position:absolute; top:6px; left:18px;}
.ddp-page-mapview .ddp-ui-drop-contents ul.ddp-list-source li em.ddp-icon-mapview1:before {background-position:left top;}
.ddp-page-mapview .ddp-ui-drop-contents ul.ddp-list-source li em.ddp-icon-mapview2:before {background-position:left -16px;}
.ddp-page-mapview .ddp-ui-drop-contents ul.ddp-list-source li em.ddp-icon-mapview3:before {background-position:left -32px;}

.ddp-page-mapview .ddp-ui-cahrt-layout .ddp-ui-layout-center .ddp-icon-mapview-guide {display:inline-block; width:30px; height:28px; margin-right:15px; background:url(../../../images/icon_mapview_guide.png) no-repeat; vertical-align:middle;}
.ddp-page-mapview .ddp-ui-cahrt-layout .ddp-ui-layout-center .ddp-bg-chart-mapview {display:inline-block; width:307px; height:307px; position:absolute; top:50%; left:50%; margin:-154px 0 0 -154px; background:url(../../../images/img_chart/img_map.png) no-repeat;}

/**************************************************************
   맵 차트 remark
**************************************************************/
.ddp-page-mapview .ddp-wrap-chart-layout {position:relative;}
.ddp-page-mapview .ddp-wrap-remark {position:absolute; top:7px; right:7px; bottom:7px; box-sizing:border-box;}
.ddp-page-mapview .ddp-layout-remark {position:absolute; top:0; right:0; max-height:100%;z-index:10; cursor:pointer; background-color:rgba(255,255,255,0.9); border:1px solid #e7e7ea; border-radius:2px; overflow:auto;}
.ddp-page-mapview .ddp-layout-remark:hover {border:1px solid #9a9fa7;}
.ddp-page-mapview .ddp-layout-remark.ddp-small {border:none !important;}

.ddp-page-mapview .ddp-wrap-remark.ddp-right-bottom .ddp-layout-remark {top:initial; bottom:0;}
.ddp-page-mapview .ddp-wrap-remark.ddp-left-bottom,
.ddp-page-mapview .ddp-wrap-remark.ddp-left-top{right:initial; left:37px;}
.ddp-page-mapview .ddp-wrap-remark.ddp-left-bottom .ddp-layout-remark {top:initial; bottom:0; left:0px; right:initial;}
.ddp-page-mapview .ddp-wrap-remark.ddp-left-top .ddp-layout-remark {top:0; bottom:initial; right:initial;}

.ddp-page-mapview .ddp-layout-remark .ddp-remark-size-b {display:block; position:relative; width:150px;   overflow:auto; box-sizing:border-box;}

.ddp-page-mapview .ddp-layout-remark.ddp-small .ddp-remark-size-s {display:block;}
.ddp-page-mapview .ddp-layout-remark.ddp-small .ddp-remark-size-b {display:none;}

.ddp-page-mapview .ddp-layout-remark .ddp-remark-size-s {display:none; position:relative; width:25px; height:25px; border-radius:3px; border:1px solid #626770; background-color:rgba(255,255,255,0.9);}
.ddp-page-mapview .ddp-layout-remark .ddp-remark-size-s:before {display:inline-block; position:absolute; top:50%; left:50%; margin:-6px 0 0 -6px; width:12px; height:11px; background:url(../../../images/icon_size_remark.png) no-repeat; content:'';}
.ddp-page-mapview .ddp-layout-remark .ddp-btn-size {display:inline-block; position:absolute; top:10px; right:10px; width:11px; height:11px; background:url(../../../images/btn_size_remark.png) no-repeat;}
.ddp-page-mapview .ddp-layout-remark .ddp-ui-layer {position:relative; padding:9px 9px;}

.ddp-page-mapview .ddp-layout-remark .ddp-ui-layer + .ddp-ui-layer {border-top:1px solid #ededee;}
.ddp-page-mapview .ddp-layout-remark .ddp-ui-layer .ddp-label {display:block; padding-bottom:2px; color:#4a515c; font-size:12px; font-weight:bold;}
.ddp-page-mapview .ddp-layout-remark .ddp-ui-layer .ddp-label + .ddp-data {padding-top:0;}
.ddp-page-mapview .ddp-layout-remark .ddp-ui-layer .ddp-data {display:block; padding:6px 0 0 0; color:#90969f; font-size:11px;}
.ddp-page-mapview .ddp-layout-remark .ddp-ui-layer .ddp-list-remark {padding:6px 0 0 0;}
.ddp-page-mapview .ddp-layout-remark .ddp-ui-layer .ddp-list-remark li {position:relative; padding-left:20px; color:#4a515c; font-size:11px; vertical-align:middle;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap:break-word;}
.ddp-page-mapview .ddp-layout-remark .ddp-ui-layer .ddp-list-remark li em.ddp-bg-remark-r,
.ddp-page-mapview .ddp-layout-remark .ddp-ui-layer .ddp-list-remark li em.ddp-bg-remark {display:inline-block; position:absolute; top:50%; left:0; margin-top:-7px; width:14px; height:14px; margin-right:6px;  vertical-align:middle;}
.ddp-page-mapview .ddp-layout-remark .ddp-ui-layer .ddp-list-remark li em.ddp-bg-remark-r {border-radius:50%;}
.ddp-page-mapview .ddp-layout-remark .ddp-ui-layer .ddp-list-remark li + li {margin-top:6px;}

.ddp-page-mapview .ddp-layout-remark .ddp-ui-layer
.ddp-list-remark li em.ddp-bg-remark-triangle {display:inline-block;position:absolute; top:50%; left:0; margin-top:-6px; width:0; height:0; border-right: 7px solid transparent; border-left: 7px solid transparent; border-bottom:12px solid;}

/**************************************************************
   맵 차트 slider form
**************************************************************/
.ddp-page-mapview .ddp-form-slider {position:relative; padding-right:70px;}
.ddp-page-mapview .ddp-form-slider .ddp-input-typebasic {position:absolute; top:50%; right:0; margin-top:-15px;width:60px;}

.ddp-page-mapview .ddp-form-slider .ddp-box-option-input {position:absolute; top:50%; right:0; margin-top:-15px;width:60px; padding-right:18px;}

.ddp-box-option-input.ddp-type .ddp-txt-input {float:right;}

/**************************************************************
   맵 차트 range
**************************************************************/
.ddp-page-mapview .ddp-ui-chart-side .ddp-filter .ddp-wrap-range  {margin-top:-10px;}
.ddp-page-mapview .ddp-ui-chart-side .ddp-filter .ddp-wrap-range .ddp-data-range {padding-top:0;}
.ddp-page-mapview .ddp-ui-chart-side .ddp-filter .ddp-wrap-range .ddp-data-range .ddp-bar {width:6%; float:left; line-height:30px; text-align:center;}
.ddp-page-mapview .ddp-ui-chart-side .ddp-filter .ddp-wrap-range .ddp-data-range .ddp-box-option-input {float:left; width:47%; margin-left:0; box-sizing:border-box;}
.ddp-page-mapview .ddp-ui-chart-side .ddp-filter .ddp-wrap-range .ddp-data-range input { width:100%; text-align:center;}





/**************************************************************
   맵 차트 tooltip
**************************************************************/
.ddp-map-tooltip .ddp-tooltip-view {display:inline-block; position:absolute; left:90px; bottom:-6px; width:4px; height:8px; background:url(../../../images/icon_tagview.png) no-repeat; transform:rotate(-90deg);}

/* 라이브러리 tooltip */
.ol-viewport {overflow:inherit !important;}
.ol-viewport .ol-overlaycontainer .ol-overlay-container.ol-selectable {z-index:15;}



