@charset "utf-8";

/**************************************************************
  Page : 워크벤치 상세 스키마
**************************************************************/
.popup-workbench {}
.popup-workbench .ddp-wrap-list .ddp-ui-dataname .ddp-top-title {padding-left:30px;}

.popup-workbench .ddp-db-icons {position:absolute; top:0; left:0;}
.popup-workbench .ddp-db-icons [class*="ddp-icon-data-"]{display:inline-block; background:url(../../../images/icon_dbtype_s.png) no-repeat;}

.popup-workbench .ddp-db-icons .ddp-icon-data-sql {width:19px; height:22px; background-position:left -22px;}
.popup-workbench .ddp-db-icons .ddp-icon-data-tibero {width:19px; height:22px; background-position:left -135px;}
.popup-workbench .ddp-db-icons .ddp-icon-data-oracle {width:21px; height:21px; background-position:left top;}
.popup-workbench .ddp-db-icons .ddp-icon-data-db {width:16px; height:19px; background-position:left -158px;}
.popup-workbench .ddp-db-icons .ddp-icon-data-phoenix {width:16px; height:24px; background-position:left -110px;}
.popup-workbench .ddp-db-icons .ddp-icon-data-post {width:22px; height:22px; background-position:left -45px;}
.popup-workbench .ddp-db-icons .ddp-icon-data-hive {width:24px; height:22px; background-position:left -68px;}
.popup-workbench .ddp-db-icons .ddp-icon-data-presto {width:20px; height:17px; background-position:left -91px;}

.popup-workbench.ddp-column-detail .ddp-wrap-list .ddp-ui-title.ddp-bottom {padding-top:20px; padding-bottom:0; border:none;}

.popup-workbench .ddp-wrap-list-search {padding:0 18px; margin:0 -16px; }
.popup-workbench .ddp-wrap-list-search .ddp-ui-list-search {position:relative; padding-left:22px; overflow:hidden;}
.popup-workbench .ddp-wrap-list-search .ddp-ui-list-search:before {display:inline-block; position:absolute; top:50%; left:0; margin-top:-6px;width:11px; height:11px; background:url(../../../images/icon_search.png) no-repeat; background-position:-12px 0; content:'';}
.popup-workbench .ddp-wrap-list-search .ddp-ui-list-search input {display:block; width:100%; padding:19px 0 19px 0; background:none; border:none; font-size:13px;}
.popup-workbench .ddp-wrap-list-search a.ddp-btn-refresh {float:right; position:relative; top:18px;width:13px; height:12px; background:url(../../../images/icon_refresh2.png) no-repeat; background-position:-28px top;}
.popup-workbench .ddp-wrap-list-search a.ddp-btn-refresh:hover {background-position:-42px top;}


.popup-workbench .ddp-tablelist-header {padding:3px 18px; height:27px; margin:0 -16px;border-top:1px solid #e7e7ea; border-bottom:1px solid #e7e7ea; box-sizing:border-box;}
.popup-workbench .ddp-tablelist-header .ddp-table-num {float:right; position:relative; top:2px; font-size:12px; color:#4b515b; font-weight:300;}
.popup-workbench .ddp-tablelist-header .ddp-table-num span.ddp-number {font-weight:normal;}
.popup-workbench .ddp-tablelist-header .ddp-table-title {display:block; color:#90969f; font-size:12px; overflow:Hidden;}
.popup-workbench .ddp-tablelist-header .ddp-table-title [class*="ddp-icon-sort"] {display:inline-block; position:relative; width:19px; height:19px; font-size:0px;
    vertical-align: middle;}
.popup-workbench .ddp-tablelist-header .ddp-table-title [class*="ddp-icon-sort"]:before {display:inline-block; position:absolute; top:50%; left:50%; width:7px; height:10px; margin:-5px 0 0 -4px; background:url(../../../images/icon_sorting.png);content:'';}
.popup-workbench .ddp-tablelist-header .ddp-table-title .ddp-icon-sort-asc:before {background-position:-8px top;}
.popup-workbench .ddp-tablelist-header .ddp-table-title .ddp-icon-sort-des:before {background-position:-16px top;}

.popup-workbench .ddp-pop-wrapList {top:214px;}
.ddp-pop-preview.ddp-type-scheme.popup-workbench .ddp-type-top-option .ddp-ui-tab-contents .ddp-wrap-searching {padding:0 15px;}
.popup-workbench .ddp-ui-tab-contents .ddp-wrap-list-search .ddp-ui-list-search input {padding:16px 0 15px 0;}
.popup-workbench .ddp-wrap-detail-column {position:absolute; top:44px; left:0; right:0; bottom:0; padding: 30px;}
.popup-workbench .ddp-ui-preview-contents .ddp-ui-title {padding-top:0;}
.ddp-column-detail.popup-workbench .ddp-ui-detail {border-top:none;}
.popup-workbench table.ddp-table-detail2 tr th {color:#90969f;}














