@charset "utf-8";

/**************************************************************
  popup : 02_워크북_02대시보드_05데이터보기(데이터그리드,컬럼)_popup
**************************************************************/
.popup-dashboard-dataview .ddp-type-option .ddp-box-btn2 {color:#4b515b;}
.popup-dashboard-dataview .ddp-wrap-grid-option.ddp-top-option .ddp-fleft{padding:9px 14px 9px 14px;}
.popup-dashboard-dataview .ddp-wrap-grid-option.ddp-setting {background:none;}
.popup-dashboard-dataview .ddp-type-preview .ddp-ui-tab-contents .ddp-ui-grid2.ddp-type {top:100px;}
.ddp-pop-datadetail .ddp-wrap-grid-option.ddp-setting .ddp-fleft {padding:9px 14px 9px 14px;}
