@charset "utf-8";

/**************************************************************
  popup : 05_매니지먼트_00데이터저장소_01생성_01DB2
**************************************************************/
.popup-datastore-create .ddp-ui-import-option .ddp-ui-grid .ddp-search-none {padding:20px; font-size:12px; color:#ca4b4b;}

/**************************************************************
  popup : 05_매니지먼트_00데이터저장소_01생성_02커넥션
**************************************************************/
.popup-datastore-schema .ddp-type-top-option .ddp-form-search {width:270px;}
.popup-datastore-schema .ddp-type-top-option .ddp-ui-rightoption .ddp-form-label2:first-of-type {margin-left:0;}
.popup-datastore-schema .ddp-type-top-option .ddp-wrap-add-column {float:left; position:relative; margin-left:6px;}
.popup-datastore-schema .ddp-type-top-option .ddp-wrap-add-column.ddp-selected .ddp-box-column {display:block; z-index:5;}
.popup-datastore-schema .ddp-type-top-option .ddp-wrap-add-column.ddp-selected .ddp-btn-selection {background-color:#d0d1d8;}
.popup-datastore-schema .ddp-wrap-add-column .ddp-box-column {display:none; position:absolute; top:100%; right:0; padding:19px 14px 13px 14px; margin-top:5px; width:470px; box-sizing:border-box;}
.popup-datastore-schema .ddp-wrap-add-column .ddp-box-column .ddp-wrap-edit3 + .ddp-wrap-edit3 {margin-top:12px;}
.popup-datastore-schema .ddp-wrap-add-column .ddp-box-column .ddp-wrap-edit3 .ddp-ui-label-name {margin-bottom:5px; color:#4b515b;}
.popup-datastore-schema .ddp-wrap-add-column .ddp-box-column .ddp-option-form + .ddp-option-form {margin-top:6px;}
.popup-datastore-schema .ddp-wrap-add-column .ddp-box-column .ddp-box-button {padding:5px 0 0 0;}
.popup-datastore-schema .ddp-wrap-add-column .ddp-box-column .ddp-box-button [class*="ddp-btn-"] {float:Left; margin-right:3px; min-width:auto;}
.popup-datastore-schema .ddp-wrap-add-column .ddp-box-column .ddp-option-form.ddp-clear {margin-left: -2px;margin-right:-2px;}
.popup-datastore-schema .ddp-wrap-add-column .ddp-box-column .ddp-option-form.ddp-clear [class*="ddp-col-"]{padding:0 2px;}
