<!-- part -->
<div class="ddp-box-part" *ngIf="isShow">
  <div class="ddp-box-title">
    {{'msg.lineage.ui.list.search.column' | translate}}<em class="ddp-icon-essential"></em>
  </div>
  <!-- select box -->
  <edit-rule-field-combo [isMulti]="true" [fields]="fields" [selected]="selectedFields" [tabIndex]="2"
                         (onChange)="changeFields($event)" ></edit-rule-field-combo>
  <!-- //select box -->
</div>
<!-- //part -->

<!-- part -->
<div class="ddp-box-part" *ngIf="isShow">
  <div class="ddp-box-title">
    {{'msg.dp.th.new.type' | translate}}<em class="ddp-icon-essential"></em>
  </div>
  <!-- select box -->
  <prep-select-box
    [array]="typeList"
    (onSelected)="selectItem($event)"
    [defaultIndex]="defaultIndex"
    [isSearchAllowed]="true"
    [isAllowKeyboardManipulation]="true">
  </prep-select-box>
  <!-- //select box -->
</div>
<!-- //part -->

<!-- part -->
<div class="ddp-box-part" *ngIf="isShow && isTimestamp" style = "width :260px">
  <div class="ddp-box-title">
    {{'msg.dp.ui.set.pattern' | translate}}<em class="ddp-icon-essential"></em>
  </div>
  <!-- select box -->
  <prep-select-box
    [array]="timestampFormats"
    (onSelected)="selectTimestamp($event)"
    [defaultIndex]="defaultTimestampIndex"
    [viewKey]="'value'"
    [isSearchAllowed]="true"
    [isWritable]="false"
    [isAllowKeyboardManipulation]="true">
  </prep-select-box>
  <!-- //select box -->
</div>
<!-- //part -->
<!-- part -->
<div class="ddp-box-part" *ngIf="isShow && isTimestamp && 'Custom format' === selectedTimestamp">
  <div class="ddp-box-title">
    {{'msg.dp.ui.custom.format' | translate}}<em class="ddp-icon-essential"></em>
  </div>
  <div class="ddp-wrap-datainput">
    <input type="text"
           class="ddp-input-typebasic newColumnInput"
           tabindex="5"
           placeholder="{{'msg.dp.ui.timestamp.ph' | translate}}"
           [(ngModel)]="customTimestamp">
  </div>
</div>
<!-- //part -->
