<!--part-->
<div class="ddp-box-part" *ngIf="isShow">
  <div class="ddp-box-title">
    <span class="ddp-box-title-in">
        {{'msg.dp.th.expression' | translate}}<em class="ddp-icon-essential"></em>
        <a href="javascript:" class="ddp-btn-plus" (click)="addFormula();"></a>
    </span>
  </div>

  <!-- box scroll -->
  <div class="ddp-wrap-box-info" [ngClass]="{'ddp-selected':isFocus}" >
    <div class="ddp-wrap-boxwrap">
      <div class="ddp-wrap-boxadd" *ngFor="let item of formulas;trackBy:trackByFn;let idx = index;">
        <div class="ddp-wrap-datainput">
          <rule-condition-input
            [placeholder]="'msg.dp.th.expression.ph' | translate"
            [formula]="item.value" [command]="'aggregate'" [fields]="fields" [tabIndex]="2"
            (onChange)="item.value = $event"></rule-condition-input>
        </div>

        <div class="ddp-ui-buttons">
          <a href="javascript:" [ngClass]="(formulas.length==1)?'ddp-btn-minus ddp-disabled':'ddp-btn-minus'" (click)="deleteFormula(item.id)"></a>
        </div>
      </div>
    </div>
  </div>

</div>
<!--//part-->
<!--part-->
<div class="ddp-box-part ddp-error-part" *ngIf="isShow">
  <div class="ddp-box-title">
    {{'msg.dp.th.group.by' | translate}}<em class="ddp-icon-essential"></em>
  </div>

  <!-- select box -->
  <edit-rule-field-combo [isMulti]="true" [fields]="fields" [selected]="selectedFields" [tabIndex]="3"
                         (onChange)="changeFields($event)" ></edit-rule-field-combo>
  <!-- //select box -->
  <span class="ddp-txt-error ddp-size"><em class="ddp-icon-error-s"></em>{{'msg.dp.ui.aggregate.warning' | translate }}</span>

</div>
<!--//part-->
