<div class="ddp-wrap-tab-contents">
  <div class="ddp-ui-tab-contents">
    <!-- info -->
<!--    <div class="ddp-box-synch type-info">-->
<!--      <div class="ddp-txt-synch">-->
<!--        <em class="ddp-icon-info"></em>-->
<!--        2019-12-12 00:00:00 The data structure has changed.-->
<!--      </div>-->
<!--      <a href="javascript:" class="ddp-btn-info-close"></a>-->
<!--    </div>-->
    <!-- //info -->
    <div class="ddp-data-details ddp-ui-preview-contents meta-grid-type" grid-component (onHeaderRowCellRendered)="extendGridHeader($event)">
    </div>
  </div>
</div>
