<div class="ddp-wrap-tab-contents" *ngIf="metadataId">
  <div class="ddp-ui-tab-contents">
    <div class="ddp-data-details ddp-ui-preview-contents" (scroll)="onScroll()">
      <table class="ddp-table-form ddp-table-type2 ddp-table-details">
        <colgroup>
<!--          <col [style.width]="'100px'" *ngIf="isDatasourceTypeMetadata()">-->
          <col [style.width]="'160px'">
          <col [style.width]="'180px'">
          <col [style.width]="'180px'">
          <col [style.width]="'150px'">
          <col [style.width]="'150px'">
          <col [style.width]="'200px'">
          <col [style.width]="'150px'">
          <col [style.width]="'300px'">
        </colgroup>
        <thead>
        <tr>
          <!-- role (only datasource) -->
<!--          <th *ngIf="isDatasourceTypeMetadata()">-->
<!--            <div class="ddp-th-long">-->
<!--            <span class="ddp-th-txt">-->
<!--              {{'msg.comm.th.role' | translate}}-->
<!--            </span>-->
<!--            </div>-->
<!--          </th>-->
          <!-- //role (only datasource) -->
          <th>
            {{'msg.metadata.th.column.popularity' | translate}}
            <div class="ddp-wrap-hover-info"><em class="ddp-icon-info3"></em>
              <component-popularity-layer></component-popularity-layer>
            </div>
          </th>
          <th>
            {{'msg.metadata.th.physical.name' | translate}}
          </th>
          <th>
            {{'msg.metadata.th.name' | translate}}
            <div class="ddp-wrap-hover-info"><em class="ddp-icon-info3"></em>
              <component-logical-name-layer></component-logical-name-layer>
            </div>
          </th>
          <th>
            {{'msg.metadata.th.dictionary' | translate}}
          </th>
          <th>
            {{'msg.metadata.th.logical.type'| translate}}
          </th>
          <th>
            {{'msg.metadata.th.format'| translate}}
          </th>
          <th>
            {{'msg.storage.ui.th.code.table' | translate}}
          </th>
          <th>
            {{'msg.storage.ui.th.description' | translate}}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let column of columns; let index=index">
          <td *ngIf="isDatasourceTypeMetadata()">
          <span class="ddp-box-tag-value"
                [class.ddp-measure]="column.role === ROLE.MEASURE"
                [class.ddp-dimension]="column.role === ROLE.DIMENSION || column.role === ROLE.TIMESTAMP">
            {{column.role === ROLE.MEASURE ? ('msg.comm.name.mea' | translate) : ('msg.comm.name.dim' | translate)}}
          </span>
          </td>
          <td class="">
            <div class="ddp-bar">
              <span [style.width]="column.popularity ? column.popularity + '%' : 0 + '%'"></span>
            </div>
          </td>
          <td>
            {{column.physicalName}}
          </td>
          <td>
            {{column.name}}
          </td>
          <td>
            {{column.dictionary? column.dictionary.name : '-'}}
          </td>
          <td>
            <span class="ddp-txt-icon">
              <em class="{{getFieldTypeIconClass(column.type)}}"></em>{{getConvertedType(column)}}
            </span>
          </td>
          <td>
            {{column.format? column.format.format : '-'}}
          </td>
          <td>
            <div class=" ddp-select-search ddp-pop-select"
                 [ngClass]="{'ddp-selected': column['isShowCodeTable']}">
              <a href="javascript:" class="ddp-ui-search2"
                 (click)="$event.stopImmediatePropagation(); onClickOpenCodeTable(column, index)">
                {{column.codeTable? column.codeTable.name : '-'}}
              </a>
              <div class="ddp-box-layout4 ddp-pop-fix"
                   #codeTablePreview
                   style="top: 343px; left: 1284px;">
                <a class="ddp-btn-close" href="javascript:" (click)="column['isShowCodeTable'] = false"></a>
                <div class="ddp-data-title"> 조직 코드 </div>
                <div class="ddp-data-code ddp-size">
                  <table class="ddp-table-code">
                    <colgroup>
                      <col style="width: 90px;">
                      <col [style.width]="'*'">
                    </colgroup>
                    <tbody>
                    <tr *ngFor="let item of codeTableDetailList | slice:0:10">
                      <td>
                        <span class="ddp-txt-long">{{item.code}}</span>
                        <!-- tooltip -->
                        <div class="ddp-ui-tooltip-info">
                          <em class="ddp-icon-view-top"></em>
                          {{item.code}}
                        </div>
                        <!-- //tooltip -->
                      </td>

                      <td>
                        <span class="ddp-txt-long">{{item.value}}</span>
                        <!-- tooltip -->
                        <div class="ddp-ui-tooltip-info">
                          <em class="ddp-icon-view-top"></em>
                          {{item.value}}
                        </div>
                        <!-- //tooltip -->
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          <td>{{column.description || '-'}}</td>
        </tr>

        </tbody>

      </table>

    </div>
  </div>
</div>
