<div class="ddp-pop-preview ddp-type" *ngIf="isShow">
  <!-- top -->
  <div class="ddp-ui-top">
    <div class="ddp-data-name">
      {{'msg.explore.ui.detail.recent.query'| translate}}
      <div class="ddp-data-info"><em class="ddp-icon-info"></em>List up to the last 100 cases.</div>
    </div>
    <em class="ddp-btn-popup-close" (click)="closePopup()"></em>
  </div>
  <!-- //top -->
  <!-- cpmtemts -->
  <div class="ddp-ui-preview-contents ">
    <table class="ddp-table-form ddp-table-type3">
      <colgroup>
        <col width="15%">
        <col width="15%">
        <col width="20%">
        <col width="150px">
        <col width="*">
      </colgroup>
      <thead>
      <tr>
        <th>Date</th>
        <th>Type</th>
        <th>User</th>
        <th>Result</th>
        <th>Query</th>
      </tr>
      </thead>
      <!--  if sourceType is ENGINE(dataSource)    -->
      <tbody *ngIf="recentlyQueriesForDataSource">
      <tr *ngFor="let recentQuery of recentlyQueriesForDataSource['_embedded']['datasourcequeryhistories']">
        <td>{{ recentQuery.createdTime }}</td>
        <td>{{ recentQuery.queryType }}</td>
        <td>{{ recentQuery.creator.fullName }}</td>
        <td> <span class="ddp-data-state" [ngClass]="recentQuery.succeed ? 'ddp-success' : 'ddp-fail'">{{ recentQuery.succeed ? 'Success' : 'Fail' }}</span></td>
        <td>
          <div class="ddp-txt-long ddp-type-button">
            <a href="javascript:" class="ddp-btn-selection ddp-fright" (click)="onClickCopy(queryElement)">Copy</a>
            <span class="ddp-txt-name" title="{{ recentQuery.query }}" #queryElement>{{ recentQuery.query }}</span>
          </div>
        </td>
      </tr>
      <!--  if sourceType is ENGINE(dataSource)    -->
      <!--  if sourceType is JDBC(database)    -->
      </tbody>
      <tbody *ngIf="recentlyQueriesForDataBase">
      <tr *ngFor="let recentQuery of recentlyQueriesForDataBase['_embedded']['queryhistories']">
        <td>{{ recentQuery['createdTime'] }}</td>
        <td>Type</td>
        <td>{{ recentQuery['createdBy']['fullName'] }}</td>
        <td> <span class="ddp-data-state" [ngClass]="recentQuery.queryResultStatus === 'SUCCESS' ? 'ddp-success' : 'ddp-fail'">{{ recentQuery.queryResultStatus === 'SUCCESS'? 'Success' : 'Fail' }}</span></td>
        <td>
          <div class="ddp-txt-long ddp-type-button">
            <a href="javascript:" class="ddp-btn-selection ddp-fright">Copy</a>
            <span class="ddp-txt-name" title="{{ recentQuery.query }}" #queryElement>{{ recentQuery['query'] }}</span>
          </div>
        </td>
      </tr>
      </tbody>
      <!--  if sourceType is JDBC(database)    -->
    </table>

  </div>
  <!-- //cpmtemts -->
</div>
