<div class="ddp-layout-popuptype" *ngIf="isShow">
  <em class="ddp-bg-popup"></em>
  <div class="ddp-ui-popup">
    <div class="ddp-ui-popup-title">
            <span class="ddp-txt-title-name">
              Used in workspaces ({{workspaces.length}})

            </span>

      <div class="ddp-ui-pop-buttons">
        <a href="javascript:" class="ddp-btn-pop">Cancel</a>
        <a href="javascript:" class="ddp-btn-pop ddp-bg-black"><em class="ddp-icon-add2"></em>Make new workbook</a>
      </div>
    </div>

    <!-- used workspace -->
    <div class="ddp-type-contents-in ddp-used-workspace">
      <!-- ddp-selected 추가시 sub show -->
      <div class="ddp-ui-usedworkspace ddp-selected">
        <span class="ddp-data-name">워크스페이스 001</span>
        <!-- sub -->
        <div class="ddp-ui-sub-usedwork">
          <ul class="ddp-list-tree">
            <li>
              <a href="javascript:"><em class="ddp-icon-folder"></em>A사업부</a>
              <ul>
                <li>
                  <a href="javascript:"><em class="ddp-icon-workbook"></em>워크북 001</a>
                  <ul>
                    <li>
                      <a href="javascript:"><em class="ddp-icon-dashboard2"></em>워크북 001</a>
                    </li>
                    <li>
                      <a href="javascript:"><em class="ddp-icon-dashboard2"></em>워크북 001</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="ddp-list-tree">
            <li>
              <a href="javascript:"><em class="ddp-icon-folder"></em>A사업부</a>
              <ul>
                <li>
                  <a href="javascript:"><em class="ddp-icon-notebook"></em>노트북 001</a>
                  <ul>
                    <li>
                      <a href="javascript:"><em class="ddp-icon-dashboard2"></em>워크북 001</a>
                    </li>
                    <li>
                      <a href="javascript:"><em class="ddp-icon-dashboard2"></em>워크북 001</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- //sub -->
      </div>
      <div class="ddp-ui-usedworkspace">
        <span class="ddp-data-name">워크스페이스 001</span>
        <!-- sub -->
        <div class="ddp-ui-sub-usedwork">
          <ul class="ddp-list-tree">
            <li>
              <a href="javascript:"><em class="ddp-icon-folder"></em>A사업부</a>
              <ul>
                <li>
                  <a href="javascript:"><em class="ddp-icon-workbook"></em>워크북 001</a>
                  <ul>
                    <li>
                      <a href="javascript:"><em class="ddp-icon-dashboard2"></em>워크북 001</a>
                    </li>
                    <li>
                      <a href="javascript:"><em class="ddp-icon-dashboard2"></em>워크북 001</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="ddp-list-tree">
            <li>
              <a href="javascript:"><em class="ddp-icon-folder"></em>A사업부</a>
              <ul>
                <li>
                  <a href="javascript:"><em class="ddp-icon-notebook"></em>노트북 001</a>
                  <ul>
                    <li>
                      <a href="javascript:"><em class="ddp-icon-dashboard2"></em>워크북 001</a>
                    </li>
                    <li>
                      <a href="javascript:"><em class="ddp-icon-dashboard2"></em>워크북 001</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- //sub -->
      </div>





    </div>
    <!-- //used workspace -->
  </div>
</div>
