@charset "utf-8";

/**************************************************************
    인풋 폼
**************************************************************/
.ddp-ui-input-form {display:block; text-align:left;}
.ddp-ui-input-form label.ddp-label-type {display:block; padding-bottom:5px; font-size:13px; color:#444;}
.ddp-ui-input-form label.ddp-label-type span.ddp-label {display:block;float:left; width:110px;}

.ddp-ui-input-form label.ddp-label-type span.ddp-txt-option {display:inline-block; margin-left:6px; color:#9c9c9c; font-size:12px; letter-spacing:-1px;}
.ddp-ui-input-form label.ddp-label-type span.ddp-txt-option:before {display:inline-block; content:''; position:relative; top:1px; padding-left:10px; height:13px; border-left:1px solid #ddd;}
.ddp-ui-input-form label.ddp-label-type span.ddp-txt-option:first-of-type:before {padding-left:0; border-left:none;}
.ddp-ui-input-form label.ddp-label-type .ddp-ui-tooltip:hover .ddp-ui-tooltip-info {display:block;}

.ddp-ui-input-form label.ddp-label-type .ddp-ui-tooltip-info {display:none;}
.ddp-ui-input-form input.ddp-input-type {display:block; width:100%; padding:10px 0; font-size:16px; border:none; border-bottom:1px solid #ddd;}

.ddp-ui-input-form label.ddp-label-type span.ddp-info2 {display:block;  font-size:13px; color:#4b515b; font-weight:normal; overflow:hidden;}
.ddp-ui-input-form label.ddp-label-type span.ddp-info2 .ddp-data-group {display:block; padding-bottom:10px; font-size:13px; color:#4b515b;}
.ddp-ui-input-form label.ddp-label-type span.ddp-info2 .ddp-data-det {display:block; color:#b7bac1; font-size:12px;}
.ddp-ui-input-form label.ddp-label-type span.ddp-info2 .ddp-data-group .ddp-icon-user-s2,
.ddp-ui-input-form label.ddp-label-type span.ddp-info2 .ddp-data-group .ddp-icon-group-s2 {margin-right:5px; opacity:1;}

.ddp-ui-input-form .ddp-data-form {position:relative; padding:10px 0; font-size:16px;}
.ddp-ui-input-form .ddp-data-form .ddp-btn-selection {position:absolute; top:50%; right:0; margin-top:-17px;}
.ddp-ui-input-form .ddp-data-form input[type="password"] {display:block; width:100%; font-size:16px; border:none;}
.ddp-ui-input-form.ddp-type-error .ddp-input-check {border-bottom:1px solid #ff2a1b;}
.ddp-ui-input-form.ddp-type-error .ddp-input-check .ddp-icon-error {display:block;}

[class*="ddp-col"].ddp-apply {position:relative; padding-right:52px;}
[class*="ddp-col"].ddp-apply .ddp-btn-line-s {position:absolute; top:0; right:0; padding:6px 0 7px 0; font-size:12px; width:48px;}

.ddp-form-error .ddp-data-error {color:#e70000; font-size:12px; font-style:italic;}
.ddp-form-error .ddp-data-error:before {display:inline-block; width:13px; height:13px; background:url(../../../images/icon_info.png) no-repeat; background-position:-28px top;
    vertical-align:middle; content:'';}

/**************************************************************
    메세지
**************************************************************/
.ddp-ui-buttons.ddp-inline .ddp-ui-message {display:inline-block; margin-left:10px;}
.ddp-ui-buttons.ddp-inline .ddp-ui-message .ddp-data-error2 {padding-top:0;}
.ddp-ui-message span.ddp-data-ok,
.ddp-ui-message span.ddp-data-error {position:relative; margin-top:10px; padding-left:17px; color:#666eb2; font-size:12px; font-style:italic;}
.ddp-ui-message span.ddp-data-error2 {display:block; padding:10px 0 0 0; color:#ca4b4b; font-style:italic;}
.ddp-ui-message span.ddp-data-error {color:#ca4b4b;}
.ddp-ui-message span.ddp-data-ok em.ddp-icon-ok,
.ddp-ui-message span.ddp-data-error em.ddp-icon-error {display:inline-block; position:absolute; top:3px; left:0; background:url(../../../images/icon_message.png) no-repeat;}
.ddp-ui-message span.ddp-data-ok em.ddp-icon-ok {width:11px; height:8px; background-position:left -10px;}
.ddp-ui-message span.ddp-data-error em.ddp-icon-error {width:9px; height:9px;}

.ddp-ui-message.ddp-type {margin-top:-6px;}

/**************************************************************
    foling
**************************************************************/
.ddp-ui-folding {margin:30px 0 0; }
.ddp-ui-folding .ddp-fold-label {display:inline-block; margin-bottom:12px;color:#4c515a; font-size:13px; cursor:pointer; text-decoration:underline;}
.ddp-ui-folding .ddp-icon-view {display:inline-block; position:relative;}
.ddp-ui-folding .ddp-icon-view:before {display:inline-block; margin-left:5px;width:7px; height:4px; background:url(../../../images/icon_select.png) no-repeat; background-position:-24px top; content:'';}
.ddp-ui-folding.ddp-selected .ddp-icon-view:before {transform:rotate(180deg);}
.ddp-ui-folding .ddp-ui-option-in {padding:11px 27px 0 0;}
.ddp-ui-folding .ddp-ui-option-in .ddp-type-label {vertical-align:top; position:relative;font-weight:bold; font-size:14px;}
.ddp-ui-folding .ddp-ui-option-in .ddp-box-option-input input[type="text"],
.ddp-ui-folding .ddp-ui-option-in .ddp-box-option-input input[type="number"] {padding:7px 5px 6px 5px}
.ddp-ui-folding .ddp-ui-sub-folding {display:none;}
.ddp-ui-folding.ddp-selected .ddp-ui-sub-folding {display:block;}



/**************************************************************
    setting
**************************************************************/
.ddp-edit-setting {margin-top:40px;}
.ddp-edit-setting .ddp-label-name {display:block; padding:9px 0;  margin-right:8px; color:#4c515a; font-size:14px; font-weight:bold; cursor:pointer;}
.ddp-edit-setting .ddp-label-name .ddp-icon-drop {display:inline-block; width:13px; height:8px; margin-left:10px; background:url(../../../images/icon_arrow.png) no-repeat; vertical-align: middle; transform:rotate(180deg);}
.ddp-edit-setting .ddp-label-name:hover {background-color:#f6f6f7;}

.ddp-edit-setting.ddp-selected .ddp-label-name{background-color:#f6f6f7;}
.ddp-edit-setting.ddp-selected .ddp-label-name .ddp-icon-drop {transform: rotate(0deg);}
.ddp-edit-setting .ddp-label-sub {display:block; position:absolute; top:20px; left:0; width:172px; padding:0 20px 5px 20px; line-height:16px; color:#4c515a; font-size:13px; word-break:break-word; box-sizing:border-box;}
.ddp-edit-setting .ddp-clear.ddp-list-code {margin-bottom:2px;}
.ddp-edit-setting .ddp-col-6 {padding:0 6px;}
.ddp-edit-setting  textarea {display:block; width:100%; border:1px solid #d0d1d9; overflow:hidden;}
.ddp-edit-setting  .ddp-wrap-down {display:none; padding-left:172px;}
.ddp-edit-setting.ddp-selected .ddp-wrap-down {display:block; padding-left:0px;}
.ddp-edit-setting.ddp-selected .ddp-wrap-down .ddp-wrap-edit2:first-of-type {margin-top:0px;}
.ddp-edit-setting .ddp-edit-sub {position:relative; padding:20px 0 0 172px;}
.ddp-edit-setting .ddp-edit-sub .ddp-ui-message {margin-top:6px;}
.ddp-edit-setting .ddp-edit-sub .ddp-ui-message .ddp-data-ok,
.ddp-edit-setting .ddp-edit-sub .ddp-ui-message .ddp-data-error {margin-left:12px;}

.ddp-edit-setting.ddp-type {margin-top:30px; padding-top:30px; border-top:1px dotted #ccc; }
.ddp-edit-setting .ddp-fold-link {display:inline-block; padding-bottom:20px; color:#4c515a; font-size:13px; text-decoration:underline;}
.ddp-edit-setting .ddp-fold-link:after {display:inline-block; width:7px; height:4px; margin-left:10px; background:url(../../../images/icon_select.png) no-repeat; background-position:-16px top; vertical-align:middle; content:'';}
.ddp-edit-setting.ddp-selected .ddp-fold-link:after {transform:rotate(180deg)}


.ddp-detail-setting {padding:35px 0 0 0; }
.ddp-detail-setting .ddp-fold-link {display:inline-block; padding-bottom:20px; color:#4c515a; font-size:13px; text-decoration:underline;}
.ddp-detail-setting .ddp-wrap-down {display:none;}
.ddp-detail-setting .ddp-fold-link:after {display:inline-block; width:7px; height:4px; margin-left:10px; background:url(../../../images/icon_select.png) no-repeat; background-position:-16px top; vertical-align:middle; content:'';}
.ddp-detail-setting.ddp-selected .ddp-fold-link:after {transform:rotate(180deg)}
.ddp-detail-setting.ddp-selected .ddp-wrap-down {display:block;}


/**************************************************************
    no data
**************************************************************/
.ddp-ui-empty {padding:20px; color:#b7b9c3; font-size:12px;}

.ddp-data-empty{display:table; width:100%; height:100%; text-align:center;}
.ddp-data-empty .ddp-data-contents {display:table-cell; text-align:center;color:#b7b9c3; font-size:12px; vertical-align: middle;}

/**************************************************************
	INPUT NUMBER
**************************************************************/
.ddp-input-number {position:relative; border-radius:2px; border:1px solid #d0d1d8; background:#fff; overflow:hidden;}
.ddp-input-number input[type="number"] {display:block; width:100%; padding:6px 58px 7px 10px; color:#4b515b; font-size:12px; border:none; box-sizing:border-box;}
.ddp-input-number .ddp-input-number-nav {position:absolute; top:0; right:0;}

.ddp-input-number-button {position:relative; width:28px; height:28px; float:left; border-left:1px solid #d0d1d9; background-color:#f7f7f8; cursor:pointer;}
.ddp-input-number-button:before {display:inline-block; content:''; position:absolute; top:50%; left:50%; background:url(../../../images/btn_minus_plus.png) no-repeat;}
.ddp-input-number-button.ddp-input-number-up:before {width:9px; height:9px; margin:-5px 0 0 -5px; background-position:left -2px;}
.ddp-input-number-button.ddp-input-number-down:before {width:9px; height:1px; margin:0 0 0 -5px;}
.ddp-input-number-button.ddp-disabled {opacity:0.5; cursor:no-drop;}

.ddp-input-number.ddp-disabled:before {display:block; position:absolute; top:0; left:0; right:0; bottom:0; background-color:rgba(255,255,255,0.5); cursor:no-drop; z-index:1; content:'';}


/**************************************************************
    에러 메세지
**************************************************************/
.ddp-wrap-datainput {position:relative;}
.ddp-wrap-datainput .ddp-box-error {display:none; position:absolute; bottom:34px; left:0; right:0; padding:10px; border:1px solid #da5359; border-radius:2px; background-color:#fff; color:#000; font-size:12px; white-space:normal; box-sizing:border-box;}
.ddp-wrap-datainput .ddp-box-error.ddp-selected {display:block;}
.ddp-wrap-datainput .ddp-box-error .ddp-txt-error {display:block; margin-bottom:10px;}

.ddp-wrap-datainput .ddp-box-error .ddp-icon-close {display:inline-block; position:absolute; top:8px; right:7px; width:11px; height:11px; background:url(../../../images/btn_close.png) no-repeat; background-position:left -58px;}

.ddp-txt-error {display: inline-block; color:#ca4b4b; font-size:13px;}
.ddp-txt-error.ddp-size {font-size:12px; color:#eb5f58;}
.ddp-txt-error em.ddp-icon-error {display:inline-block; width:15px; height:15px; margin-right:6px; background:url(../../../images/icon_error.png) no-repeat; vertical-align: middle;}
.ddp-txt-error em.ddp-icon-error-s {margin-right:8px; background-position:-16px 0;}
.ddp-txt-error2 {color:#ff3324; text-align:center; font-size:13px;}



/**************************************************************
    날짜 form
**************************************************************/
.ddp-wrap-dateinfo {margin-top:14px;}
.ddp-wrap-dateinfo:first-of-type {margin-top:0;}
.ddp-wrap-dateinfo .ddp-ui-dateinfo:first-of-type {margin-top:0;}
.ddp-ui-dateinfo {position:relative; padding-left:38px; margin-top:4px;}
.ddp-ui-dateinfo .ddp-box-dateinfo {position:relative; border:1px solid #d0d1d8; background-color:#fff;}
.ddp-ui-dateinfo .ddp-box-dateinfo.ddp-disabled {background-color:rgba(240,240,240,0.3); opacity:0.7; cursor:no-drop;}
.ddp-ui-dateinfo .ddp-box-dateinfo .ddp-disabled {position:absolute; top:-1px; left:-1px; right:-1px; bottom:-1px; background-color:#fff; border:1px solid rgba(208,209,216,0.7);}
.ddp-ui-dateinfo .ddp-box-dateinfo .ddp-disabled span {display:block; padding:5px 5px 6px 5px; position:absolute; top:0; left:0; right:0; bottom:0; background-color:rgba(240,240,240,0.3); opacity:0.7;}
.ddp-ui-dateinfo .ddp-box-dateinfo input {display:inline-block; float:left; padding:5px 5px 6px 5px; border:none; color:#4b515b; font-size:12px; box-sizing:border-box;}
.ddp-ui-dateinfo .ddp-box-dateinfo input.ddp-input-calen {width:49%; background:none;}
.ddp-ui-dateinfo .ddp-box-dateinfo input.ddp-input-time {width:51%;background:none;}

.ddp-ui-dateinfo .ddp-box-dateinfo .ddp-box-date {position:relative; float:Left; width:55%; padding-left:28px; box-sizing:border-box;}
.ddp-ui-dateinfo .ddp-box-dateinfo .ddp-box-date:last-of-type {width:45%; border-left:1px solid #d0d1d8;}
.ddp-ui-dateinfo .ddp-box-dateinfo .ddp-box-date:first-of-type {border-left:none;}

.ddp-ui-dateinfo .ddp-box-dateinfo .ddp-box-date em.ddp-icon-calen {display:inline-block; position:absolute; top:50%; left:9px; margin-top:-7px; width:13px; height:14px; background:url(../../../images/icon_calen.png) no-repeat;}
.ddp-ui-dateinfo .ddp-box-dateinfo .ddp-box-date em.ddp-icon-time {position:absolute; top:50%; left:9px; margin-top:-7px;}
.ddp-ui-dateinfo .ddp-box-dateinfo .ddp-box-date .ddp-txt-calen,
.ddp-ui-dateinfo .ddp-box-dateinfo .ddp-box-date .ddp-txt-time {display:block; padding-left:0px; line-height:29px; height:28px; font-size:13px; box-sizing:border-box; overflow:hidden;}
.ddp-ui-dateinfo .ddp-box-dateinfo .ddp-box-date .ddp-txt-calen {width:86px; padding-right:10px;}
.ddp-ui-dateinfo .ddp-box-dateinfo .ddp-box-date .ddp-txt-time {width:72px;}
.ddp-ui-dateinfo .ddp-box-dateinfo .ddp-box-date.ddp-full {width:100%; }
.ddp-ui-dateinfo .ddp-box-dateinfo .ddp-box-date.ddp-full .ddp-txt-calen {width:100%;}
.ddp-ui-dateinfo .ddp-txt-date {position:absolute; top:6px; left:0; color:#90969f; font-size:12px;}
.ddp-ui-dateinfo.ddp-to .ddp-txt-date {left:15px;}


.ddp-ui-dateinfo .ddp-messege  {padding:6px 10px; border:1px solid #d0d1d8; font-size:13px; text-align:left;}
.ddp-wrap-dateinfo.ddp-disabled .ddp-ui-dateinfo:before {display:inline-block; content:''; position:absolute; top:0; left:0; right:0; bottom:0; background-color:rgba(255,255,255,0.6); opacity:0.5; cursor: no-drop; z-index:1;}
.ddp-wrap-dateinfo.ddp-readonly .ddp-box-dateinfo{border:none; background:none;}

.ddp-filter-time {}
.ddp-filter-time.ddp-clear {margin:0 -3px;}
.ddp-filter-time [class*="ddp-col"]{padding:0 3px;}
.ddp-filter-time .ddp-box-multy input.ddp-input-typebasic {float:left; width:45%; border:none; box-sizing:border-box; text-align:right;}
.ddp-filter-time .ddp-box-multy .ddp-type-selectbox {float:left; width:55%; border:none; border-left:1px solid #ddd; box-sizing:border-box;}

.ddp-form-multy {position:relative; padding-left:50px; margin-top:4px;}
.ddp-form-multy span.ddp-txt-label {position:absolute; top:8px; left:0; color:#90969f; font-size:12px;}
.ddp-form-multy .ddp-box-multy {top:2px; border:1px solid #d0d1d8; background-color:#fff;}
.ddp-form-multy .ddp-box-multy input.ddp-input-typebasic {float:left; width:35%; text-align:right; box-sizing:border-box; border:none;}
.ddp-form-multy .ddp-box-multy .ddp-type-selectbox {float:left; width:65%; box-sizing:border-box; border:none; border-left:1px solid #d0d1d8;}
.ddp-form-multy .ddp-box-multy.ddp-form-time .ddp-input-typebasic {width:69px;}
.ddp-form-multy .ddp-box-multy.ddp-form-time .ddp-type-selectbox {width:100px;}