@charset "utf-8";

/**************************************************************
  top Filtering
**************************************************************/
.ddp-wrap-top-filtering {position:relative; min-height:54px; margin:0 -80px; padding:0 80px;background-color:#dbdce0; z-index:10;}

.ddp-wrap-top-filtering .ddp-filter-more {position:relative; float:left; padding:12px 0 0 0; margin-right:-7px;}
.ddp-wrap-top-filtering .ddp-filter-more .ddp-wrap-popup2 {display:none; position:absolute; top:45px; left:0; min-width:134px;}

.ddp-wrap-top-filtering .ddp-filter-more .ddp-box-result.ddp-selected .ddp-wrap-popup2{display:block;}
.ddp-wrap-top-filtering .ddp-btn-filter-more {display:inline-block; position:relative; width:30px; height:30px; border-radius:3px; background-color:#c8cad1;}
.ddp-wrap-top-filtering .ddp-btn-filter-more:hover {background-color:#b6b9c2;}
.ddp-wrap-top-filtering .ddp-btn-filter-more:before {display:inline-block; width:12px; height:12px; position:absolute; top:50%; left:50%; margin:-6px 0 0 -6px;background:url(../../../images/icon_add.png) no-repeat; background-position:left -77px; content:'';}
.ddp-wrap-top-filtering .ddp-btn-filter-more:hover:before {background-position-x:-13px;}
.ddp-wrap-top-filtering .ddp-form-filtering {display:inline-block; position:relative; }
.ddp-wrap-top-filtering .ddp-form-filtering .ddp-result-filtering {padding:19px 0 20px 0; margin-left:20px;}
.ddp-wrap-top-filtering .ddp-form-filtering .ddp-result-filtering .ddp-txt-label {color:#90969f; font-size:13px;}
.ddp-wrap-top-filtering .ddp-form-filtering .ddp-result-filtering .ddp-box-result {display:inline-block; position:relative; margin-left:4px;max-width:250px; padding-right:15px; cursor:pointer; box-sizing:border-box; vertical-align:top;}
.ddp-wrap-top-filtering .ddp-form-filtering .ddp-result-filtering .ddp-box-result .ddp-txt-result {display:block; white-space:nowrap; text-overflow:ellipsis; overflow:Hidden;}
.ddp-wrap-top-filtering .ddp-form-filtering .ddp-result-filtering .ddp-box-result:before {display:inline-block; position:absolute; top:50%; right:0; width:8px; height:4px; margin-top:-2px; background:url(../../../images/icon_select.png) no-repeat; background-position:-16px top; content:'';}
.ddp-wrap-top-filtering .ddp-form-filtering .ddp-wrap-popup2 {display:none; position:absolute; top:24px; left:0; min-width:130px;max-width:250px; max-height:250px; overflow:auto;}
.ddp-wrap-top-filtering .ddp-form-filtering .ddp-box-result.ddp-selected .ddp-wrap-popup2 {display:block;}
.ddp-wrap-top-filtering .ddp-form-filtering .ddp-wrap-popup2.ddp-date {min-width:190px;}

.ddp-wrap-top-filtering .ddp-form-filtering ul.ddp-list-popup + ul.ddp-list-popup{border-top:1px solid #e7e7ea;}
.ddp-wrap-top-filtering .ddp-form-filtering ul.ddp-list-popup li a .ddp-wrap-between .ddp-wrap-dateinfo {position:relative; margin-top:10px; }
.ddp-wrap-top-filtering .ddp-form-filtering ul.ddp-list-popup li a .ddp-wrap-between .ddp-wrap-dateinfo .ddp-txt-bar {position:absolute; top:6px; right:0;}

.ddp-wrap-top-filtering .ddp-form-filtering .ddp-result-filtering .ddp-wrap-popup2 .ddp-pop-search {position:relative;padding:0 0 0 33px; border-bottom:1px solid #e7e7ea; }
.ddp-wrap-top-filtering .ddp-form-filtering .ddp-result-filtering .ddp-wrap-popup2 {}
.ddp-wrap-top-filtering .ddp-form-filtering .ddp-result-filtering .ddp-wrap-popup2 .ddp-pop-search input {display:block; padding:13px 0; width:100%; border:none; background:none; box-sizing:border-box;}
.ddp-wrap-top-filtering .ddp-form-filtering .ddp-result-filtering .ddp-wrap-popup2 .ddp-pop-search:before {display:Inline-block; position:absolute; top:50%; left:10px; margin-top:-7px;width:14px; height:14px; background:url(../../../images/icon_search.png) no-repeat; background-position:left -12px; content:'';}

.ddp-wrap-top-filtering .ddp-ui-dateinfo .ddp-box-dateinfo input.ddp-full {width:100%}


.ddp-wrap-top-filtering .ddp-filter-search {}
.ddp-wrap-top-filtering .ddp-filter-search .ddp-form-filter-search {float:left; position:relative; padding-left:10px; width:195px; box-sizing:border-box;}
.ddp-wrap-top-filtering .ddp-filter-search .ddp-form-filter-search input {display:block; padding:18px 10px; width:100%; font-size:13px; box-sizing:border-box; background:none; border:none;}
.ddp-wrap-top-filtering .ddp-filter-search .ddp-form-filter-search:before {display:inline-block; position:absolute; top:50%; left:0; margin-top:-7px; width:14px; height:14px; background:url(../../../images/icon_search.png) no-repeat; background-position:-15px -12px; content:'';}
.ddp-wrap-top-filtering .ddp-filter-search .ddp-btn-selection {float:left; margin:10px 0 0 0;}
.ddp-filter-option {padding:18px 0 11px 0; text-align:right;}
.ddp-filter-option .ddp-btn-pop {padding:8px 9px;}


@media screen and (max-width: 1550px) {
    .ddp-wrap-top-filtering .ddp-form-filtering .ddp-result-filtering .ddp-box-result {
        max-width:70px;
    }

}

