@charset "utf-8";

/**************************************************************
	Table 기본
**************************************************************/
table.ddp-table-form {width:100%;table-layout: fixed;border-spacing: 0px; border-bottom:1px solid #e7e7ea}
table.ddp-table-form thead tr th {position:relative; padding:7px 10px; color:#4b515b; font-size:13px;font-weight:normal; text-align:left;}
table.ddp-table-form thead tr th:last-of-type {border-right:none;}

table.ddp-table-form thead tr th .ddp-wrap-type-filter {position:absolute; top:50%; right:6px; margin-top:-9px;}
table.ddp-table-form thead tr th .ddp-wrap-type-filter a.ddp-icon-type-filter {display:inline-block; width:17px; height:17px; }
table.ddp-table-form thead tr th .ddp-wrap-type-filter a.ddp-icon-type-filter:after {display:inline-block; content:''; positioN:absolute; top:50%; left:50%; width:9px; height:10px; margin:-5px 0 0 -5px; background:url(../../../images/icon_filter.png) no-repeat;}
table.ddp-table-form thead tr th .ddp-wrap-type-filter a.ddp-icon-type-filter:hover,
table.ddp-table-form thead tr th .ddp-wrap-type-filter.ddp-selected a.ddp-icon-type-filter {background-color:#f0f0f2;}
table.ddp-table-form thead tr th .ddp-wrap-type-filter .ddp-wrap-popup2 {display:none; position:absolute; left:-21px; top:100%;}
table.ddp-table-form thead tr th .ddp-wrap-type-filter.ddp-selected .ddp-wrap-popup2 {display:block;}
table.ddp-table-form tbody tr td {position:relative; padding:5px 10px; border-right:1px solid #eaeaed; color:#4b525b; font-size:12px;}

table.ddp-table-form tbody tr:nth-child(odd) td {background-color:#fafafa;}

table.ddp-table-form tbody tr td.ddp-inherit {overflow:inherit;}
table.ddp-table-form tbody tr.ddp-disabled td:before {display:inline-block; content:'';position:absolute; top:0; right:0; bottom:0; left:0; background-color:rgba(255,255,255,0.5); z-index:3; cursor: no-drop;}
table.ddp-table-form tbody tr.ddp-disabled:hover td .ddp-btn-control {display:none;}

table.ddp-table-form tbody tr td .ddp-type-txt {position:relative; display:inline-block; max-width:100%; box-sizing:border-box;}

table.ddp-table-form tbody tr td .ddp-type-txt.ddp-tag {padding-right:75px; line-height:1em;}
table.ddp-table-form tbody tr td .ddp-type-txt.ddp-tag .ddp-tag-annoymous {display:inline-block; position:absolute; top:50%; right:0; margin-top:-9px; padding:1px 2px; color:#666eb2; font-size:11px; border:1px solid #666eb2; background: #eff0f7; border-radius:2px;}

table.ddp-table-form tbody tr td .ddp-type-txt.ddp-info {padding-right:18px;}
table.ddp-table-form tbody tr td .ddp-type-txt.ddp-info .ddp-icon-error2 {position:relative; top:0;}

table.ddp-table-form tbody tr td .ddp-type-txt.ddp-info .ddp-ui-info {position:absolute; top:3px; right:0;}
table.ddp-table-form tbody tr td .ddp-type-txt.ddp-info .ddp-status-rejected +  .ddp-ui-info {top:0;}
table.ddp-table-form tbody tr td .ddp-type-txt.ddp-info .ddp-ui-info .ddp-box-layout4 {display:none; position:absolute; left:-30px; top:100%; margin-top:6px;}
table.ddp-table-form tbody tr td .ddp-type-txt.ddp-info .ddp-ui-info:hover .ddp-box-layout4 {display:block; white-space:normal;}

table.ddp-table-form tbody tr td .ddp-wrap-long {display:inline-block; position:relative; padding-right:41px; max-width:100%; box-sizing:border-box;}

table.ddp-table-form tbody tr td .ddp-wrap-long em.ddp-icon-new,
table.ddp-table-form tbody tr td .ddp-txt-long em.ddp-icon-new {position:absolute; top:50%; right:0; margin-top:-7px;}
table.ddp-table-form tbody tr td .ddp-txt-long.ddp-new {padding-right:40px;}
table.ddp-table-form tbody tr td .ddp-txt-long.ddp-info {display:inline-block; padding-right:13px;}
table.ddp-table-form tbody tr td .ddp-txt-long .ddp-data-txt {text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
table.ddp-table-form tbody tr td .ddp-txt-long .ddp-icon-global {display:none; position:absolute; top:2px; right:0; width:53px; padding:2px 2px 3px 2px;  text-align:center; border:1px solid #666eb2; border-radius:2px; background:#eff0f7; box-sizing:border-box;}
table.ddp-table-form tbody tr td .ddp-txt-long .ddp-icon-global:before {display:inline-block; content:'전체공개'; color:#666eb2; font-size:11px; line-height:11px;}

table.ddp-table-form tbody tr td .ddp-txt-long2 {display:inline-block; position:relative;max-width:100%; line-height:21px; height:21px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; word-wrap:normal; box-sizing:border-box;}
table.ddp-table-form tbody tr td .ddp-txt-long {display:inline-block; position:relative;max-width:100%; line-height:21px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; word-wrap:normal; box-sizing:border-box; vertical-align:top;}

table.ddp-table-form tbody tr td .ddp-txt-long.ddp-global {padding-right:66px;}
table.ddp-table-form tbody tr td .ddp-txt-long.ddp-global.ddp-new {padding-right:100px;}
table.ddp-table-form tbody tr td .ddp-txt-long.ddp-global.ddp-new em.ddp-tag-global {right:40px;}
table.ddp-table-form tbody tr td .ddp-txt-long.ddp-global.ddp-en-connection {padding-right:100px;}
table.ddp-table-form tbody tr td .ddp-txt-long.ddp-global.ddp-en-connection .ddp-tag-global {width:auto;}
table.ddp-table-form tbody tr td .ddp-txt-long em.ddp-tag-global {position:absolute; top:0; right:0; height:20px; width:60px; padding:2px 2px 3px 2px; color:#666eb2; font-size:11px; text-align:center; border:1px solid #666eb2; border-radius:2px; background:#eff0f7; box-sizing:border-box;}

table.ddp-table-form tbody tr td .ddp-txt-long.ddp-global .ddp-icon-global {display:block;}

table.ddp-table-form tbody tr td .ddp-txt-long .ddp-tag-global.type-tag {float:right; position:relative; margin-top:-2px; right:0; margin-left:5px; width:auto; min-width:60px;}
table.ddp-table-form tbody tr td .ddp-txt-long .ddp-data-long {display:block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
table.ddp-table-form tbody tr td .ddp-txt-long.ddp-type {overflow:initial;}
table.ddp-table-form tr td .ddp-wrap-long .ddp-box-tag {position:relative; top:3px; margin-right:13px;}

table.ddp-table-form tr td .ddp-txt-colortype .ddp-txt-search{font-size:13px; color:#666db7;}
table.ddp-table-form tr td .ddp-txt-search {font-size:14px; color:#666db7;}
table.ddp-table-form tr td .ddp-txt-search.type-search {padding:2px 3px 1px 3px;font-size:13px; color:#666eb2; font-weight:bold; background-color:rgba(210, 204, 255, 0.4)}
table.ddp-table-form tr td.ddp-data-none {color:#b7b9c3; text-align:center;}
table.ddp-table-form tr td.ddp-nodata {color:#b7bac1; font-size:13px;}
table.ddp-table-form tr th .ddp-wrap-hover-info {display:inline-block; margin-left:3px;position:Relative; cursor:pointer;}
table.ddp-table-form tr th .ddp-wrap-hover-info em.ddp-icon-info3 {display:inline-block; position:relative; top:-1px; width:11px; height:11px; background:url(../../../images/icon_que.png) no-repeat; background-position:left -12px;}
table.ddp-table-form tr th .ddp-wrap-hover-info .ddp-box-layout4 {display:none; position:absolute; bottom:100%; right:100%; margin:0 -20px 4px 0;}
table.ddp-table-form tr th .ddp-wrap-hover-info:hover .ddp-box-layout4 {display:block; white-space:normal; z-index:20;}

table.ddp-table-form tbody tr td .ddp-ui-flex {display:inline-block; max-width:100%; white-space:nowrap; text-overflow:ellipsis; overflow:Hidden;}
table.ddp-table-form tbody tr td .ddp-ui-flex .ddp-icon-info3 {display:inline-block; float:right; margin-left:3px;position:relative; top:2px; width:11px; height:11px; background:url(../../../images/icon_info3.png) no-repeat;}

table.ddp-table-form tbody tr td span.ddp-txt-colortype {color:#b7b9c2;}
table.ddp-table-form tbody tr td em.ddp-icon-by {margin:0 3px; color:#b7bac1; font-size:13px;}
table.ddp-table-form tbody tr td span.ddp-data-num {display:inline-block; margin-right:17px; color:#4c515a; font-size:13px;}

table.ddp-table-form tbody tr td.ddp-data-last {padding-right:36px;}

table.ddp-table-form tbody tr td a.ddp-btn-more {display:inline-block; position:absolute; top:50%; right:6px; width:12px; height:17px; margin-top:-9px;}
table.ddp-table-form tbody tr td a.ddp-btn-more:before {display:inline-block; content:''; position:absolute; top:50%; left:50%; width:2px; height:9px; margin:-5px 0 0 -1px; background:url(../../../images/icon_more2.png) no-repeat;}
table.ddp-table-form tbody tr td a.ddp-btn-more:hover,
table.ddp-table-form tbody tr td a.ddp-btn-more.ddp-selected {background-color:#f0f0f2;}

table.ddp-table-form tbody tr td span.ddp-data-delete {color:#b7b9c2; font-size:13px;}
table.ddp-table-form tbody tr td .ddp-icon-new {margin-left:5px;}

table.ddp-table-form tbody tr td .ddp-link-delete {color:#d0d1d8;}
table.ddp-table-form tbody tr td .ddp-link-delete:hover {color:#90969f}
table.ddp-table-form tbody tr td .ddp-link-delete em.ddp-icon-delete {display:inline-block; width:11px; height:12px; background:url(../../../images/icon_edit2.png) no-repeat; background-position:-12px -21px;}
table.ddp-table-form tbody tr td .ddp-link-delete:hover em.ddp-icon-delete {background-position:-24px -21px;}
table.ddp-table-form tbody tr td .ddp-ui-disabled {display:none;}
table.ddp-table-form tbody tr.type-disabled td:last-of-type {padding-right:29px;}
table.ddp-table-form tbody tr.type-disabled.ddp-selected td:last-of-type {padding-right:29px;}
table.ddp-table-form tbody tr.type-disabled td .ddp-ui-disabled {display:inline-block; position:absolute; top:50%; right:9px; margin-top:-8px;}
table.ddp-table-form tbody tr.type-disabled td .ddp-ui-disabled .ddp-icon-disabled {display:inline-block; width:16px; height:16px; background:url(../../../images/icon_disabled.png) no-repeat; content:'';}
table.ddp-table-form tbody tr.type-disabled td .ddp-ui-disabled .ddp-ui-tooltip-info {right:-7px;}
table.ddp-table-form tbody tr.type-disabled td .ddp-ui-disabled .ddp-ui-tooltip-info .ddp-icon-view-top {right:12px;}
table.ddp-table-form tbody tr.type-disabled td .ddp-ui-disabled:hover .ddp-ui-tooltip-info {display:block;}


.ddp-ui-grid .ddp-ui-empty {padding:20px; color:#b7b9c3; font-size:12px;}
.ddp-ui-gridbody {position:absolute; top:28px; left:0; right:0; bottom:0; overflow-y:scroll;}
.ddp-box-viewtable .ddp-ui-gridhead {height:33px;border-top:none;}
.ddp-box-viewtable .ddp-ui-gridhead table {padding-right:18px; box-sizing:border-box;}
.ddp-box-viewtable .ddp-ui-gridhead tr th {height:33px; box-sizing:border-box;}
.ddp-box-viewtable .ddp-ui-gridbody {top:34px;}

.ddp-ui-gridhead2 {padding-right:18px;  background-color:#f6f6f7;}
.ddp-ui-gridbody2 {position:absolute; top:35px; left:0; right:0; bottom:0; overflow-y:scroll;}

.ddp-box-viewtable {position:relative; min-height:293px; border:1px solid #b7b9c2; background-color:#fff;}
.ddp-wrap-viewtable .ddp-box-add-link {margin-top:-1px; padding:13px 0; border:1px solid #b7b9c2;}
.ddp-wrap-viewtable.ddp-type {padding-bottom:43px;}
.ddp-box-viewtable.ddp-selected .ddp-ui-gridbody {bottom:45px;}

/**************************************************************
	Table form cursor, inherit
**************************************************************/
table.ddp-table-form.ddp-cursor tbody tr td {cursor:pointer;}
table.ddp-table-form.ddp-cursor tbody tr:hover > td {background-color:#f1f1f3;}
table.ddp-table-form.ddp-cursor tbody tr td .ddp-table-code tr:hover td {background:none;}
table.ddp-table-form.ddp-cursor tbody tr.ddp-selected > td {border-top:1px solid #9ca2cc; border-bottom:1px solid #9ca2cc; background-color:#f2f1f8;}
table.ddp-table-form.ddp-cursor tbody tr.ddp-selected > td:first-of-type {border-left:1px solid #9ca2cc;}
table.ddp-table-form.ddp-cursor tbody tr.ddp-selected > td:last-of-type {border-right:1px solid #9ca2cc;}
table.ddp-inherit tbody tr td {position:relative; overflow:inherit;}
table.ddp-table-form.ddp-inherit tbody tr td {overflow:inherit; white-space:normal;}

/**************************************************************
	Table form 2
**************************************************************/
table.ddp-table-form2 {table-layout:fixed; width:100%; box-sizing:border-box;}
table.ddp-table-form2 thead tr th {padding:5px 29px; font-size:12px; color:#90969f; text-align:left; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; word-wrap:normal;}
table.ddp-table-form2 tbody tr td {position:relative; padding:7px 29px; color:#4b515b; font-size:13px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; word-wrap:normal; box-sizing:border-box;}
table.ddp-table-form2 tbody tr td .ddp-ui-selected-option {display:inline-block;}
table.ddp-table-form2.ddp-long tbody tr td {text-overflow:inherit; white-space:inherit;}
table.ddp-table-form2 tbody tr td .ddp-data-note {color:#b7bac1; font-size:13px;}
table.ddp-table-form2 tbody tr td.ddp-table-icons,
table.ddp-table-form2 thead tr th.ddp-table-icons {padding:0; text-align:center;}

/**************************************************************
	Table type 2
**************************************************************/
table.ddp-table-type2 thead tr th {position:relative; padding:7px 10px; color:#90969f; font-size:12px; border-right:1px solid #eaeaed;}

table.ddp-table-type2 thead tr th:last-of-type {border-right:1px solid transparent;}
table.ddp-table-type2 thead tr th .ddp-th-long {display:inline-block;   position:relative; max-width:100%; box-sizing:border-box;}
table.ddp-table-type2 thead tr th .ddp-th-long .ddp-th-txt {display:block; overflow:hidden; white-space:nowrap;text-overflow:ellipsis; line-height:19px;}

table.ddp-table-type2 tbody tr > td {position:relative; padding:13px 10px 14px 10px; font-size:13px; border:none;}
table.ddp-table-type2 tbody tr > td.ddp-disabled {cursor:no-drop !important;}
table.ddp-table-type2 tbody tr > td.ddp-disabled:hover {background:none;}
table.ddp-table-type2 tbody tr > td.ddp-disabled:before {position:absolute; top:0; right:0; bottom:0; left:0; z-index:15; content:''; cursor:no-drop;}
table.ddp-table-type2 tbody tr > td.ddp-disabled em.ddp-bg-select {display:none !important;}

table.ddp-table-type2 tbody tr.ddp-selected > td {padding:12px 10px 13px 10px;}
table.ddp-table-type2 tbody tr.ddp-selected > td:first-of-type {padding-left:9px;}
table.ddp-table-type2 tbody tr.ddp-selected > td:last-of-type {padding-right:9px;}

table.ddp-table-type2 tbody tr td .ddp-ui-checkbox {position:relative; display:inline-block; width:12px; height:12px; vertical-align:middle;}

table.ddp-table-type2 tbody tr td .ddp-input-form { cursor:pointer;}
table.ddp-table-type2 tbody tr td .ddp-input-form:hover:before {position:absolute; top:0; left:0; right:0; bottom:0;background:#f1f1f3; content:'';}
table.ddp-table-type2 tbody tr td.ddp-selected .ddp-input-form:hover:before {display:none;}

table.ddp-table-type2 tbody tr td.ddp-disabled > div {opacity:0.3;}
table.ddp-table-type2 tbody tr td.ddp-disabled > div.ddp-ui-info {opacity:1; cursor:pointer; z-index:20}
table.ddp-table-type2 tbody tr td.ddp-input-form {cursor:pointer;}
table.ddp-table-type2 tbody tr td.ddp-input-form:hover {background-color:#f1f1f3 !important;}
table.ddp-table-type2 tbody tr td.ddp-input-form input.ddp-txt-input {display:block; position:relative; width:100%; height:100%; border:none; background:none; font-size:13px; box-sizing:border-box; z-index:10; cursor:pointer;}

table.ddp-table-type2 tbody tr td .ddp-input-form.ddp-edit input.ddp-txt-input {padding-right:34px;}
table.ddp-table-type2 tbody tr td .ddp-input-form.ddp-edit .ddp-icon-edit {display:none; position:absolute; top:50%; right:10px; margin-top:-6px;width:12px; height:12px; background:url(../../../images/icon_edit.png) no-repeat; }
table.ddp-table-type2 tbody tr td .ddp-input-form.ddp-edit:hover .ddp-icon-edit {display:block;}
/**************************************************************
	Table3
**************************************************************/
table.ddp-table-form.ddp-table-type3,
table.ddp-table-form.ddp-table-line {border-bottom:none;}

table.ddp-table-type3 thead tr th {color:#4b515b; font-size:12px; font-weight:normal; border-top:1px solid #d2d3d9; border-bottom:1px solid #d2d3d9; background-color:#f8f8f8;}
table.ddp-table-type3 thead tr th:first-of-type {padding-left:20px; border-left:1px solid #d2d3d9;}
table.ddp-table-type3 thead tr th:last-of-type {border-right:1px solid #d2d3d9;}
table.ddp-table-type3 thead tr th .ddp-txt-colortype {color:#b7b9c2;}

table.ddp-table-type3.ddp-cursor-none tbody tr td {cursor: default;}
table.ddp-table-type3 tbody tr td {position:relative; padding:10px 10px 11px 10px; font-size:13px; border:none; border-bottom:1px solid #ddd; background-color:#fff; cursor: pointer; cursor:pointer; overflow:inherit; white-space:normal;}

table.ddp-table-type3 tbody tr td:first-of-type {padding-left:20px; border-left:1px solid #ddd;}
table.ddp-table-type3 tbody tr td:last-of-type {border-right:1px solid #ddd;}
table.ddp-table-type3 tbody tr:nth-child(odd) td {background:#fff;}
table.ddp-table-type3 tbody tr:hover td {background-color:#f6f6f7; cursor:pointer;}
table.ddp-table-type3.ddp-cursor-none tbody tr:hover td {background:#fff; cursor:default;}
table.ddp-table-type3 tbody tr td .ddp-btn-control {display:none; position:absolute; top:50%; right:10px; margin-top:-11px;}
table.ddp-table-type3 tbody tr:hover td .ddp-btn-control {display:block;}
table.ddp-table-type3 tbody tr td.ddp-hover-tooltip {display:table-cell; overflow:inherit;}

table.ddp-table-type3 tbody tr td .ddp-link {text-decoration: underline; color:#4c92e0;}

/**************************************************************
	Table select
**************************************************************/
table.ddp-table-select tbody tr td {position:relative; cursor:pointer;}
table.ddp-table-select tbody tr:hover td {background-color:#f1f1f1; cursor:pointer;}
table.ddp-table-select tbody tr.ddp-selected td {background-color:#f2f1f8;}
/*table.ddp-table-select tbody tr.ddp-selected td:before {position:absolute; top:0; left:0; right:0; bottom:0; border:1px solid Red; border-left:none; border-right:none; content:'';}*/
table.ddp-table-select tbody tr.ddp-selected td {border-top:1px solid #666eb2; border-bottom:1px solid #666eb2;;}
table.ddp-table-select tbody tr.ddp-selected td:first-of-type {border-left:1px solid #666eb2;}
table.ddp-table-select tbody tr.ddp-selected td:last-of-type {border-right:1px solid #666eb2;}
table.ddp-table-select tbody tr td .ddp-box-tag {position:relative; top:2px;}
table.ddp-table-select tbody tr td .ddp-ui-checkbox,
table.ddp-table-select tbody tr td .ddp-ui-radio {font-size:0; vertical-align:middle;}
table.ddp-table-type2.ddp-table-select tbody tr.ddp-selected > td {padding:12px 10px 13px 10px}
table.ddp-table-type2.ddp-table-select tbody tr.ddp-selected > td:first-of-type {padding-left:9px;}


table.ddp-table-select tr td:last-of-type {padding-right:35px;}
table.ddp-table-select tbody tr.ddp-selected td:first-child:before {border-left:1px solid #666eb2;}
table.ddp-table-select tbody tr.ddp-selected td:last-child:before {border-right:1px solid #666eb2; }


table.ddp-table-select tbody tr.ddp-selected td .ddp-box-tag {position:relative; top:2px;}

/**************************************************************
	Table listview
**************************************************************/
.ddp-wrap-table-list {float:left; width:100%; padding:10px 53px 10px 83px; box-sizing:border-box;}
table.ddp-table-listview {width:100%; table-layout:fixed;}
table.ddp-table-listview tbody tr td {padding:3px 5px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; word-wrap:normal;}
table.ddp-table-listview tbody tr td span.ddp-sub-name {color:#4b525b; font-size:13px; font-weight:300;}
table.ddp-table-listview tbody tr:nth-child(odd) td {background-color:#fafafa;}

table.ddp-table-listview tbody tr td span.ddp-box-tag-value {display:inline-block; padding:2px 3px; border-radius:2px;  font-size:12px;}
table.ddp-table-listview tbody tr td span.ddp-box-tag-value.ddp-dimension {width:70px; border:1px solid #439fe5; text-align:center; color:#439fe5; box-sizing:border-box;}
table.ddp-table-listview tbody tr td span.ddp-box-tag-value.ddp-measure {width:70px; border:1px solid #5fd7a5;text-align:center;  color:#5fd7a5; box-sizing:border-box;}
table.ddp-table-listview tbody tr td em[class*="ddp-icon-type-"] {position:relative; left:0; top:0; margin:0;}

/**************************************************************
	매니지먼트 모니터링 리스트
**************************************************************/
.ddp-fix-size {position:relative; height:246px; box-sizing:border-box;}
.ddp-fix-size .ddp-nodata {display:table; width:100%; height:215px; padding:90px 0 0 0; text-align:center; background-color:#fff;  font-size:18px; color:#d0d1db; border:1px solid #ddd; border-top:none; box-sizing:border-box;}

/**************************************************************
	매니지먼트 메타데이터 상세
**************************************************************/
.ddp-ui-preview-contents table.ddp-table-form.ddp-table-details tbody tr:nth-child(odd) td.ddp-disabled:hover {background-color:#fafafa !important;}
table.ddp-table-type2 thead tr th .ddp-th-long .ddp-th-icons {float:right;}
table.ddp-table-type2 thead tr th .ddp-th-long .ddp-th-icons .ddp-wrap-hover-info {float:left; padding:5px 0 0 0; font-size:0px;}

table.ddp-table-type2 thead tr th .ddp-th-long .ddp-th-icons [class*="ddp-icon-array"] {top:0;}

/**************************************************************
	Table tooltip
**************************************************************/
table tbody tr td .ddp-txt-long:hover + .ddp-ui-tooltip-info {display:block; top:100%; left:0; min-width:50px;max-width:100%; white-space:normal; box-sizing:border-box;}
table tbody tr td .ddp-txt-long:hover + .ddp-ui-tooltip-info .ddp-icon-view-top {left:40px;}

table tbody tr > td .ddp-hover-tooltip:hover + .ddp-ui-tooltip-info {display:block; top:100%; left:-10px; min-width:50px; max-width:100%; white-space:normal; box-sizing:border-box;}
table tbody tr > td .ddp-hover-tooltip:hover + .ddp-ui-tooltip-info em.ddp-icon-view-top {left:40px; }
table tbody tr > td .ddp-hover-tooltip:hover + .ddp-ui-tooltip-info.ddp-top {bottom:100%; top:inherit;}
table.ddp-table-type3 tbody tr td.ddp-hover-tooltip .ddp-ui-tooltip-info{top:30px; left:10px; right:inherit; max-width:90%;white-space:normal;}
table.ddp-table-type3 tbody tr td.ddp-hover-tooltip .ddp-ui-tooltip-info .ddp-icon-view-top {left:20px; right:inherit;}
table.ddp-table-type3 tbody tr td.ddp-hover-tooltip .ddp-ui-tooltip-info .ddp-scroll {max-height:150px; overflow:auto;}

/**************************************************************
	Table 오름차순
**************************************************************/
em.ddp-icon-array-default2,
em.ddp-icon-array-asc2,
em.ddp-icon-array-des2 {display:inline-block; position:relative; top:-1px; width:19px; height:19px; cursor:pointer; vertical-align: middle;}

em.ddp-icon-array-default2:before,
em.ddp-icon-array-asc2:before,
em.ddp-icon-array-des2:before {display:inline-block; content:''; position:absolute; width:7px; height:9px;top:5px; left:50%; margin-left:-4px;background:url(../../../images/icon_array.png) no-repeat; cursor: pointer;}
em.ddp-icon-array-asc2:before {background-position:-16px top;}
em.ddp-icon-array-des2:before {background-position:-8px top;}

/**************************************************************
	더보기 버튼
**************************************************************/
.ddp-box-add-link {padding:10px 0; margin-top:7px; border:1px solid #ddd; background-color:#fff; text-align:center; cursor:pointer;}
.ddp-box-add-link span.ddp-link-type {font-size:13px; color:#90969f;}
.ddp-box-add-link:hover span.ddp-link-type {color:#4b515b; text-decoration: underline;}
.ddp-box-add-link span.ddp-link-type em.ddp-icon-view {display:inline-block; width:7px; height:4px; margin-left:6px; background:url(../../../images/icon_selecview.png) no-repeat; background-position:-35px -7px; vertical-align: middle;}
.ddp-box-add-link:hover span.ddp-link-type em.ddp-icon-view {background-position:left -7px;}
.ddp-box-add-link.ddp-shadow {border:none; padding:14px 0; margin-top:10px;
    -webkit-box-shadow: 0px 2px 2px 1px rgba(231,231,234,1);
    -moz-box-shadow: 0px 2px 2px 1px rgba(231,231,234,1);
    box-shadow: 0px 2px 2px 1px rgba(231,231,234,1);
}
.ddp-box-add-link2 {position:relative; padding:16px 0; margin-top:-1px; border-top:1px solid #b7b9c2; border-bottom:1px solid #b7b9c2; background-color:#fff; text-align:center; cursor:pointer; z-index:1;}
.ddp-box-add-link2 span.ddp-link-type {font-size:13px; color:#90969f;}
.ddp-box-add-link2:hover span.ddp-link-type {color:#4b515b; text-decoration: underline;}
.ddp-box-add-link2 span.ddp-link-type em.ddp-icon-view {display:inline-block; width:7px; height:4px; margin-left:6px; background:url(../../../images/icon_selecview.png) no-repeat; background-position:-35px -7px; vertical-align: middle;}
.ddp-box-add-link2:hover span.ddp-link-type em.ddp-icon-view {background-position:left -7px;}

.ddp-box-add-link3 {position:relative; padding:13px 0; margin-top:-1px; border:1px solid #b7b9c1; background-color:#fff; text-align:center; cursor:pointer; z-index:1;}
.ddp-box-add-link3 span.ddp-link-type {font-size:13px; color:#90969f;}
.ddp-box-add-link3:hover span.ddp-link-type {color:#4b515b; text-decoration: underline;}
.ddp-box-add-link3 span.ddp-link-type em.ddp-icon-view {display:inline-block; width:7px; height:4px; margin-left:6px; background:url(../../../images/icon_selecview.png) no-repeat; background-position:-35px -7px; vertical-align: middle;}
.ddp-box-add-link3:hover span.ddp-link-type em.ddp-icon-view {background-position:left -7px;}

[class*="ddp-box-add-link"].ddp-disabled:before {display:inline-block; content:''; position:absolute; top:0; left:0; right:0; bottom:0; background-color:rgba(255,255,255,0.5); z-index:1; cursor: no-drop;}
[class*="ddp-box-add-link"].ddp-disabled:hover span.ddp-link-type {text-decoration: none; color:#90969f;}
[class*="ddp-box-add-link"].ddp-disabled:hover span.ddp-link-type em.ddp-icon-view {background-position:-35px -7px;}


.ddp-ui-moretype {position:absolute; bottom:0; left:0; right:0; text-align:center;}
.ddp-btn-moretype {display:inline-block; padding:3px 9px; color:#90969f; font-size:12px; text-align:center; background-color:#f6f6f7; border-radius:2px 2px 0 0;}
.ddp-btn-moretype:hover {color:#4b515b;}
.ddp-btn-moretype:after {display:inline-block; width:8px; height:4px; margin-left:4px; background:url(../../../images/icon_select.png) no-repeat; vertical-align:middle; content:'';}
.ddp-btn-moretype:hover:after {background-position:-16px top;}




/**************************************************************
	List form
**************************************************************/

/*table.ddp-table-list-form {table-layout:fixed; width:100%;}*/
/*table.ddp-table-list-form tbody tr {cursor: pointer;}*/
/*table.ddp-table-list-form thead tr th {padding:10px 10px; color:#707070; text-align:left;}*/
/*table.ddp-table-list-form tbody tr td {position:relative; padding:9px 10px; height:43px; color:#222; font-size:14px; text-align:left; white-space:nowrap; word-wrap:normal; text-overflow:ellipsis; overflow:hidden; box-sizing:border-box;}*/

/*table.ddp-table-list-form tbody tr:nth-child(odd) td {border:1px solid #ddd; border-left:none; border-right:none; background-color:#fff;}*/
/*table.ddp-table-list-form tbody tr:nth-child(odd) td:first-of-type {border-left:1px solid #ddd;}*/
/*table.ddp-table-list-form tbody tr:nth-child(odd) td:last-of-type {border-right:1px solid #ddd;}*/
/*table.ddp-table-list-form tbody tr:nth-child(even) td {background-color:#f9f9f9}*/
/*table.ddp-table-list-form tbody tr:hover td {border:1px solid #90969f; border-left:none; border-right:none;}*/
/*table.ddp-table-list-form tbody tr:hover td:first-child {border-left:1px solid #90969f;}*/
/*table.ddp-table-list-form tbody tr:hover td:last-child {border-right:1px solid #90969f;}*/
/*table.ddp-table-list-form tbody tr td .ddp-btn-control {display:none; position:absolute; top:10px; right:20px}*/
/*table.ddp-table-list-form tbody tr:hover td .ddp-btn-control {display:block;}*/

/*table.ddp-table-list-form tbody tr td .ddp-data-text-wrap {display:inline-block; max-width:100%; position:relative; padding-right:35px; box-sizing:border-box;}*/
/*table.ddp-table-list-form tbody tr td .ddp-data-text-wrap span.ddp-data-name {display:inline-block; max-width:100%; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; word-wrap:normal; vertical-align:middle;}*/
/*table.ddp-table-list-form tbody tr td span.ddp-data-name {position:relative;}*/
/*table.ddp-table-list-form tbody tr td span.ddp-data-name .ddp-icon-new {display:none; position:absolute; top:2px; right:0;}*/
/*table.ddp-table-list-form tbody tr td span.ddp-data-name.ddp-data-new {position:relative; padding-right:40px; max-width:100%; box-sizing:border-box; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; word-wrap:normal; box-sizing:border-box;}*/
/*table.ddp-table-list-form tbody tr td span.ddp-data-name.ddp-data-new em.ddp-icon-new {display:block; position:absolute; right:0; bottom:0;}*/
/*table.ddp-table-list-form tbody tr td em.ddp-data-by {color:#9c9c9c;}*/
/*table.ddp-table-list-form tbody tr td em.ddp-data-user {color:#8c97d3;}*/



