@charset "utf-8";

/***************************************************************************
	page
*************************************************************************/
.ddp-ui-page a.ddp-btn-prev,
.ddp-ui-page a.ddp-btn-next {display:inline-block; float:left; width:21px; height:21px; background:url(../../../images/btn_page2.png) no-repeat; background-color:#fff;}
.ddp-ui-page a.ddp-btn-prev:hover,
.ddp-ui-page a.ddp-btn-next:hover {background-position-y:-22px}
.ddp-ui-page a.ddp-btn-prev.ddp-disabled,
.ddp-ui-page a.ddp-btn-next.ddp-disabled {opacity:0.3; cursor:no-drop; background-position-y:0;}
.ddp-ui-page a.ddp-btn-next {background-position:-21px 0;}
.ddp-ui-page span.ddp-data-page {display:inline-block; position:relative; top:3px; float:left; padding:0 6px; color:#444; font-size:11px;}
.ddp-ui-page span.ddp-data-page input.ddp-input-data {display:inline-block; width:32px; height:21px; margin-right:5px; padding:0 8px; text-align:right; border:1px solid #ddd; box-sizing:border-box;}
.ddp-ui-page span.ddp-data-page em {display:inline-block; padding:0 3px;}
