@charset "utf-8";
/**************************************************************
	icons
**************************************************************/
.ddp-icon-time,
.ddp-icon-time2,
.ddp-icon-time3,
.ddp-icon-time4,
.ddp-icon-time5 {display:inline-block; width:15px; height:15px; background:url(../../../images/icon_time.png) no-repeat; vertical-align:middle;}
.ddp-icon-time4 {width:14px;}
.ddp-icon-time2 {background-position:-16px top}
.ddp-icon-time3 {background-position:-32px top}
.ddp-icon-time4 {background-position:-14px -16px;}
.ddp-icon-time5 {width:13px; height:13px; background-position:-28px -16px;}
.ddp-icon-scheme,
.ddp-icon-refresh3,
.ddp-icon-tb {display:inline-block; width:13px; height:14px; background:url(../../../images/icon_scheme.png) no-repeat;}
.ddp-icon-refresh3 {width:12px; height:13px; background-position:0 -15px;}
.ddp-icon-refresh3:hover {background-position:-14px -15px;}
.ddp-icon-tb {width:10px; height:10px; background-position:-14px 0;}

.ddp-icon-group-s2,
.ddp-icon-user-s2 {display:inline-block; background:url(../../../images/icon_group.png) no-repeat; opacity:0.5;}
.ddp-icon-group-s2 {width:17px; height:12px; background-position:left -15px;}
.ddp-icon-user-s2 {width:10px; height:12px; background-position:left -28px;}


em.ddp-icon-dataset2,
em.ddp-icon-dataset3 {display:inline-block; width:19px; height:19px; margin-right:5px; background:url(../../../images/icon_dataset.png) no-repeat; background-position:-20px top; vertical-align: middle;}

em.ddp-icon-dataset3 {background-position:-60px top;}


.ddp-result-scuccess {color:#5cacdf; font-size:12px;}
.ddp-result-fail {color:#e35252; font-size:12px; cursor: pointer;}
.ddp-result-fail:after {display:inline-block; position:relative; top:-1px; margin-left:3px; content:''; width:13px; height:13px; vertical-align: middle; background:url(../../../images/icon_go.png) no-repeat;}
.ddp-result-fail:hover {text-decoration: underline;}
em.ddp-icon-dataset {display:inline-block; position:relative; top:-3px; width:19px; height:19px; margin-right:5px; background:url(../../../images/icon_dataset.png) no-repeat; vertical-align: middle;}

.ddp-icon-success,
.ddp-icon-fail {display:inline-block; background:url(../../../images/icon_message.png) no-repeat;}
.ddp-icon-fail {width:9px; height:10px; }
.ddp-icon-success {width:11px; height:8px; background-position:left -19px;}


.ddp-btn-reset2,
.ddp-btn-reset3 {display:inline-block; width:14px; height:13px; background:url(../../../images/icon_reset.png) no-repeat; background-position:left -34px;}
.ddp-btn-reset2:hover {background-position:-15px -34px;}
.ddp-btn-reset3 {background-position:-16px -20px;}
.ddp-btn-reset3:hover {background-position:-15px -34px;}

.ddp-icon-reset2 {display:inline-block; width:14px; height:13px; background:url(../../../images/icon_reset.png) no-repeat; background-position:-31px -20px;}

.ddp-icon-database-s,
.ddp-icon-database-s2,
.ddp-icon-database-w,
.ddp-icon-database-b {display:inline-block; width:12px; height:15px; background:url(../../../images/icon_database.png) no-repeat; background-position:left -30px; vertical-align: middle;}
.ddp-icon-database-b {width:12px; height:13px; background-position:-39px top;}
.ddp-icon-database-s2 {background-position:-26px top;}
.ddp-icon-database-w {width:12px; height:13px; background-position:left top;}

.ddp-icon-database3 {display:inline-block; width:12px; height:14px; background:url(../../../images/icon_database.png) no-repeat; background-position:-13px -31px; vertical-align: middle;}



em.ddp-icon-lock {display:inline-block; width:11px; height:13px; background:url(../../../images/icon_lock.png) no-repeat; background-position:left top;}

em.ddp-icon-alias {display:inline-block; position:relative; top:-2px;height:11px; font-size:12px; color:#656d7b; vertical-align: middle; font-family:sans-serif; font-weight:bold;}


.ddp-wrap-datarecommend {display:inline-block; position:relative; padding:1px 0 0 0; min-width:16px; height:11px;  border:1px solid #b7b9c2; color:#b8bac3; font-size:10px; text-align:center; line-height:11px;}
.ddp-wrap-datarecommend em.ddp-icon-recommend-s,
.ddp-wrap-datarecommend em.ddp-icon-recommend-s2 {display:inline-block; position:absolute; bottom:-2px; right:-2px; width:6px; height:9px; background:url(../../../images/icon_recommend.png) no-repeat; background-position:left -16px;}
.ddp-wrap-datarecommend em.ddp-icon-recommend-s2 {position:absolute; bottom:-4px; right:-5px;background-position-y:-26px; background-color:#f7f7f8; border:1px solid #f7f7f8;}

.ddp-wrap-datalock {display:inline-block; position:relative; padding:1px 0 0 0; min-width:16px; height:11px;  border:1px solid #b7b9c2; color:#b8bac3; font-size:10px; text-align:center; line-height:11px;}
.ddp-wrap-datalock em.ddp-icon-lock-s {position:absolute;bottom:-2px; right:-2px;}
.ddp-wrap-datalock em.ddp-icon-lock-s2 {position:absolute; bottom:-3px; right:-5px; background-color:#f7f7f8; border:1px solid #f7f7f8;}


.ddp-btn-option,
.ddp-btn-option2 {display:inline-block; width:15px; height:15px; background:url(../../../images/icon_option.png) no-repeat;}
.ddp-btn-option2 {width:14px; height:14px; background-position:-30px -16px; vertical-align:middle;}
.ddp-btn-option:hover {background-position:-16px top;}
.ddp-btn-option2:hover {background-position:-15px -16px;}


.ddp-btn-info {display:inline-block; width:13px; height:13px; background:url(../../../images/icon_info.png) no-repeat; background-position:-14px -30px; cursor:pointer;}
.ddp-btn-info:hover {background-position:-28px -30px;}


a.ddp-btn-return-s,
a.ddp-btn-return {display:inline-block; width:22px; height:19px; background:url(../../../images/icon_return.png)no-repeat;}
a.ddp-btn-return:hover {background-position-x:-23px;}
a.ddp-btn-return-s {width:14px; height:13px; background-position:-15px -20px;}
a.ddp-btn-switch {display:inline-block; width:7px; height:12px; background:url(../../../images/icon_switch.png) no-repeat;}
a.ddp-btn-switch.ddp-selected {background-position:-8px top;}

a.ddp-btn-edit-b,
a.ddp-btn-delete-b {display:inline-block; background:url(../../../images/icon_edit_b.png) no-repeat;}
a.ddp-btn-edit-b {width:16px; height:17px;}
a.ddp-btn-edit-b:hover {background-position-x:-17px ;}
a.ddp-btn-delete-b {width:18px; height:17px; background-position:left -18px; }
a.ddp-btn-delete-b:hover {background-position-x:-19px;}

span.ddp-data-jupyter:before,
span.ddp-data-zeppelin:before  {display:inline-block; content:''; margin-right:5px; background:url(../../../images/icon_server.png) no-repeat; vertical-align: middle;}
span.ddp-data-jupyter:before {width:12px; height:16px;}
span.ddp-data-zeppelin:before {width:18px; height:10px; background-position:left -17px;}

span.ddp-data-lang-r:before,
span.ddp-data-lang-python:before  {display:inline-block; content:''; margin-right:5px; background:url(../../../images/icon_lang.png) no-repeat; vertical-align: middle;}
span.ddp-data-lang-r:before {width:16px; height:13px; background-position:left -14px;}
span.ddp-data-lang-python:before {width:13px; height:13px;}

em.ddp-icon-window {display:inline-block; width:12px; height:10px; background:url(../../../images/icon_window.png) no-repeat; vertical-align: middle;}
em.ddp-icon-lock-s,
em.ddp-icon-lock-s2 {display:inline-block; width:6px; height:8px; background:url(../../../images/icon_lock.png) no-repeat; background-position:left -14px;}
em.ddp-icon-lock-s2 {background-position:left -23px;}
em.ddp-icon-recommend {display:inline-block; position:relative; top:-1px; width:11px; height:15px; background:url(../../../images/icon_recommend.png) no-repeat;}
em.ddp-icon-boardside-lock {display:inline-block; width:11px; height:13px; background:url(../../../images/icon_lock.png) no-repeat;}

em.ddp-icon-delete,
em.ddp-icon-delete2 {display:inline-block; width:11px; height:12px; margin-right:5px; background:url(../../../images/icon_edit2.png) no-repeat; background-position:left -21px; vertical-align: middle;}
em.ddp-icon-delete2 {opacity:0.5}
em.ddp-icon-file-sql {display:inline-block; width:22px; height:22px; margin-right:5px; background:url(../../../images/icon_file.png) no-repeat; vertical-align: middle;}

em.ddp-icon-wrangled,
em.ddp-icon-imported,
em.ddp-icon-imported-s,
em.ddp-icon-imported2-s,
em.ddp-icon-db-s,
em.ddp-icon-flow,
em.ddp-icon-flow2,
em.ddp-icon-file,
em.ddp-icon-file2,
em.ddp-icon-dbdata,
em.ddp-icon-dbdata2 ,
em.ddp-icon-staging,
em.ddp-icon-dbdata-s,
em.ddp-icon-wrangled-m {display:inline-block; position:relative; width:13px; height:12px; margin-right:5px; background:url(../../../images/icon_data.png) no-repeat; vertical-align: middle;}
em.ddp-icon-imported {width:11px; height:14px; background-position:-27px top;}
em.ddp-icon-imported-s {width:13px; height:12px; background-position:left top; vertical-align: middle;}
em.ddp-icon-imported2-s {width:13px; height:12px; background-position:-53px top; vertical-align: middle;}
em.ddp-icon-db-s {width:13px; height:13px; background-position:-39px top; vertical-align: middle;}
em.ddp-icon-flow {width:13px; height:13px; background-position:left -50px;}
em.ddp-icon-flow2 {width:13px; height:13px; background-position:-14px -50px; vertical-align: middle;}
em.ddp-icon-file {width:11px; height:13px; background-position:left -64px;}
em.ddp-icon-file2 {width:16px; height:20px; background-position:left -78px;}
em.ddp-icon-dbdata,
em.ddp-icon-dbdata2 {width:17px; height:19px; margin-right:10px;  background-position:left -30px;}
em.ddp-icon-dbdata2 {background-position:-18px -30px;}
em.ddp-icon-staging {width:13px; height:15px; background-position:left -99px;}
em.ddp-icon-dbdata-s {width:11px; height:14px; background-position:-27px top;}
em.ddp-icon-wrangled-m { width:16px; height:16px; margin-right:5px; background-position:left -13px;}

em.ddp-icon-use {display:inline-block; position:absolute; top:50%; left:8px; width:6px; height:6px; margin-top:-3px; border-radius:50%; background-color:#4b515b; vertical-align: middle;}
.ddp-icon-add {display:inline-block; width:13px; height:13px; background:url(../../../images/icon_add2.png) no-repeat; background-position:-14px top; vertical-align: middle;}

.ddp-icon-edit2 {display:inline-block; width:10px; height:10px; background:url(../../../images/icon_edit2.png) no-repeat; vertical-align: middle;}
.ddp-icon-edit2:hover {background-position:-11px top;}

em.ddp-icon-svg {display:inline-block; width:24px; height:24px; margin-right:5px; vertical-align:middle;}
em.ddp-icon-sinfo2,
em.ddp-icon-error2,
em.ddp-icon-error-s,
em.ddp-icon-alart {display:inline-block; background:url(../../../images/icon_info.png) no-repeat; vertical-align: middle;}

em.ddp-icon-sinfo2 {width:13px; height:13px;  background-position:left -16px; cursor:pointer;}
em.ddp-icon-error2 {width:13px; height:13px; background-position:-14px -16px;}
em.ddp-icon-error-s {width:11px; height:11px; background-position:-16px 0;}
em.ddp-icon-alart {width:15px; height:15px; background-position:left -44px;}
em.ddp-icon-essential {display:inline-block; width:4px; height:5px; background:url(../../../images/icon_essential.png) no-repeat;}
em.ddp-icon-type-graph {display:inline-block; position:absolute; top:50%; left:10px; width:11px; height:11px; margin-top:-6px; background:url(../../../images/icon_graph.png) no-repeat; vertical-align:middle;}

em.ddp-icon-type-sdel {display:inline-block; position:absolute; top:50%; left:10px; width:11px; height:12px; margin-top:-6px; background:url(../../../images/btn_info_det.png) no-repeat; background-position:left -14px; vertical-align:middle;}

em.ddp-icon-type-round {display:inline-block; width:16px; height:16px; text-align:center; position:absolute; top:50%; left:10px; margin-top:-6px; padding:1px 3px 0px 1px; border-radius:50%; border:1px solid #7078b7; color:#7078b7; font-size:9px; vertical-align:middle; letter-spacing: -1px; box-sizing:border-box;}

em.ddp-icon-tool-title,
em.ddp-icon-tool-legend,
em.ddp-icon-tool-minimap,
em.ddp-icon-tool-linked,
em.ddp-icon-tool-chart,
em.ddp-icon-tool-pointer,
em.ddp-icon-tool-elliptical,
em.ddp-icon-tool-freeshape,
em.ddp-icon-tool-rectangular,
em.ddp-icon-tool-zoomin,
em.ddp-icon-tool-zoomout,
em.ddp-icon-tool-revert,
em.ddp-icon-tool-selectbox,
em.ddp-icon-tool-display,
em.ddp-icon-tool-list,
em.ddp-icon-chartdet{display:inline-block; background:url(../../../images/icon_tool.png) no-repeat;vertical-align: middle;}
em.ddp-icon-tool-title {width:13px; height:13px;}
em.ddp-icon-tool-legend {width:12px; height:11px; background-position:left -14px;}
em.ddp-icon-tool-minimap {width:12px; height:13px; background-position:left -26px;}
em.ddp-icon-tool-linked {width:16px; height:11px; background-position:left -40px;}
em.ddp-icon-tool-chart {width:12px; height:13px; background-position:left -52px;}

em.ddp-icon-tool-pointer {width:12px; height:11px; background-position:left -66px;}
em.ddp-icon-tool-elliptical {width:13px; height:13px; background-position:left -78px;}
em.ddp-icon-tool-freeshape {width:13px; height:12px; background-position:left -92px;}
em.ddp-icon-tool-rectangular {width:14px; height:14px; background-position:left -105px;}
em.ddp-icon-tool-zoomin {width:12px; height:13px; background-position:left -121px;}
em.ddp-icon-tool-zoomout {width:13px; height:13px; background-position:left -135px;}
em.ddp-icon-tool-revert {width:11px; height:13px; background-position:left -149px;}

em.ddp-icon-chartdet {width:13px; height:13px; margin-right:5px;  background-position:left -163px; }
em.ddp-icon-tool-selectbox {width:15px; height:11px; margin:-6px 0 0 -8px; background-position:left -177px;}
em.ddp-icon-tool-display {width:12px; height:11px; background-position:left -199px;}
em.ddp-icon-tool-list {width:13px; height:9px; margin:-5px 0 0 -7px; background-position:left -189px}
em.ddp-icon-spin-loading {display:inline-block; width:12px; height:12px; background:url(../../../images/icon_tabloading.png) no-repeat; vertical-align: middle; animation-name: spin;animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }
em.ddp-icon-widget-loading:before {display:inline-block; margin:-6px 0 0 -6px; width:12px; height:12px; background:url(../../../images/icon_tabloading.png) no-repeat; vertical-align: middle; animation-name: spin;animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; content:'';}


em.ddp-icon-widget-edit,
em.ddp-icon-widget-cut,
em.ddp-icon-widget-moveto,
em.ddp-icon-widget-save,
em.ddp-icon-widget-full,
em.ddp-icon-widget-downsize,
em.ddp-icon-widget-copy,
em.ddp-icon-widget-chart,
em.ddp-icon-widget-gridsave,
em.ddp-icon-widget-store,
em.ddp-icon-widget-info {position:relative; display:inline-block; cursor:pointer;}

em.ddp-icon-widget-edit:before,
em.ddp-icon-widget-cut:before,
em.ddp-icon-widget-moveto:before,
em.ddp-icon-widget-save:before,
em.ddp-icon-widget-gridsave:before,
em.ddp-icon-widget-full:before,
em.ddp-icon-widget-downsize:before,
em.ddp-icon-widget-copy:before,
em.ddp-icon-widget-chart:before,
em.ddp-icon-widget-store:before,
em.ddp-icon-widget-info:before ,
em.ddp-icon-widget-dataview:before,
em.ddp-icon-widget-synch:before {display:inline-block;  background:url(../../../images/icon_widget.png) no-repeat; vertical-align: middle; content:'';}

em.ddp-icon-widget-edit:before {width:13px; height:13px; background-position:left -131px;}
em.ddp-icon-widget-cut:before {width:11px; height:11px; background-position:0px -176px;}
em.ddp-icon-widget-moveto:before {width:13px; height:12px; background-position:-14px top;}
em.ddp-icon-widget-save:before {width:12px; height:13px; background-position:-13px -40px;}
em.ddp-icon-widget-gridsave:before {display:inline-block; width:12px; height:13px; background-position:-39px -40px; content:'';}
em.ddp-icon-widget-full:before {width:14px; height:14px; background-position:left -161px;}
em.ddp-icon-widget-downsize:before {width:14px; height:14px;background-position:-15px -161px}
em.ddp-icon-widget-copy:before {width:13px; height:13px; background-position:-14px -92px;}
em.ddp-icon-widget-chart:before {position:relative; top:2px; width:13px; height:11px; background-position:-14px -106px;}
em.ddp-icon-widget-info:before {width:15px; height:15px; background-position:left -145px;}
em.ddp-icon-widget-dataview:before {display:inline-block; width:13px; height:13px; background-position:left -188px;}
em.ddp-icon-widget-store:before {width:13px; height:12px; background-position:-14px -118px;}
em.ddp-icon-widget-synch:before {display:inline-block; width:18px; height:13px; background-position:left -202px;}
em.ddp-icon-widget-synch.ddp-on:before {width:16px; background-position-y:-216px;}


em.ddp-icon-workbook {display:inline-block; width:12px; height:14px; background:url(../../../images/icon_workbook.png) no-repeat;}
em.ddp-icon-group {display:inline-block; width:14px; height:12px; background:url(../../../images/icon_group.png) no-repeat; vertical-align: middle;}

em.ddp-icon-btnplus2 {display:inline-block; width:10px; height:10px; margin-right:5px; background:url(../../../images/icon_add.png) no-repeat; background-position:-11px -66px;}


em.ddp-icon-folder {display:inline-block; position:absolute; top:50%; left:68px; width:15px; height:13px; margin-top:-7px; background:url(../../../images/icon_folder.png) no-repeat;}

em.ddp-icon-btnsource,
em.ddp-icon-result-source,
em.ddp-icon-result-source-w,
em.ddp-icon-result-user,
em.ddp-icon-result-users,
em.ddp-icon-result-data,
em.ddp-icon-result-workbook {display:inline-block; position:relative; top:-1px; background:url(../../../images/icon_result.png) no-repeat; vertical-align: middle;}
em.ddp-icon-btnsource {width:12px; height:14px; background-position:-37px top;}
em.ddp-icon-result-source {width:12px; height:14px; margin-right:5px; background-position:-37px top;}
em.ddp-icon-result-source-w {width:12px; height:14px; background-position:-24px top;}
em.ddp-icon-result-user {width:12px; height:14px; margin-right:5px; background-position:left -14px;}
em.ddp-icon-result-users {width:14px; height:12px; margin-right:5px; background-position:left -44px;}
em.ddp-icon-result-data {width:12px; height:14px; margin-right:5px; background-position:-63px top;}
em.ddp-icon-result-workbook {width:17px; height:14px; margin-right:5px; background-position:left -29px;}


em.ddp-icon-btnchart,
em.ddp-icon-btnchart-w,
em.ddp-icon-btntext,
em.ddp-icon-btntext-w,
em.ddp-icon-btnfilter,
em.ddp-icon-btnvariable,
em.ddp-icon-spacelist,
em.ddp-icon-btnplus,
em.ddp-icon-dismiss,
em.ddp-icon-btndone,
em.ddp-icon-btnsave,
em.ddp-icon-btnclose,
em.ddp-icon-btnfav,
em.ddp-icon-btnworkspace ,
em.ddp-icon-btnadd,
em.ddp-icon-chart-new,
em.ddp-icon-filter-new,
em.ddp-icon-parameter-new,
em.ddp-icon-text-new,
em.ddp-icon-btn-edit,
em.ddp-icon-btn-edit2,
em.ddp-icon-btn-done{display:inline-block; margin-right:8px; background:url(../../../images/icon_buttons.png) no-repeat; vertical-align: middle;}
em.ddp-icon-btnchart {width:17px; height:14px; background-position:left -101px;}
em.ddp-icon-btnchart-w {width:17px; height:14px; background-position:-18px -101px;}
em.ddp-icon-btntext {width:11px; height:13px; background-position:left -119px;}
em.ddp-icon-btntext-w {width:11px; height:13px; background-position:-12px -119px;}

em.ddp-icon-btnfilter {width:16px; height:13px; background-position:left -133px;}

em.ddp-icon-btnvariable {width:17px; height:15px; background-position:left -147px;}
em.ddp-icon-spacelist {width:14px; height:15px; background-position:left -73px;}

em.ddp-icon-btnplus {position:relative; top:-1px; width:11px; height:11px; background-position:left -89px;}
em.ddp-icon-dismiss {width:12px; height:12px; background-position:left -173px;}
em.ddp-icon-btndone {width:15px; height:9px; background-position:left -163px;}
em.ddp-icon-btnsave {width:15px; height:9px; background-position:left -163px;}
em.ddp-icon-btnclose {width:11px; height:11px; background-position:left -186px;}

em.ddp-icon-btnfav {width:12px; height:11px; background-position:left -227px;}
em.ddp-icon-btnworkspace {width:10px; height:12px; background-position:left -239px;}

em.ddp-icon-btnadd {width:10px; height:10px; background-position:left -252px;}
em.ddp-icon-chart-new {width:22px; height:17px; background-position:-23px -277px;}
em.ddp-icon-filter-new {width:21px; height:14px; background-position:left -295px;}
em.ddp-icon-parameter-new {width:21px; height:15px; background-position:left -310px;}
em.ddp-icon-btn-edit {width:13px; height:13px; background-position:left -339px;}
em.ddp-icon-btn-edit2 {width:13px; height:13px; background-position:-14px -339px;}
em.ddp-icon-text-new {width:19px; height:13px; background-position:left -326px;}
em.ddp-icon-btn-done {width:15px; height:9px; background-position:left -353px;}

em.ddp-icon-btnoption {display:inline-block; width:14px; height:14px; margin-right:8px; background:url(../../../images/icon_option.png) no-repeat; background-position:-30px -16px; vertical-align:middle;}

em.ddp-icon-chart2,
em.ddp-icon-chart3,
em.ddp-icon-chart-s {display:inline-block; width:19px; height:15px; background:url(../../../images/icon_chart.png) no-repeat; background-position:left -12px; vertical-align: middle;}
em.ddp-icon-chart3 {width:17px; height:14px; background-position:left -28px;}
em.ddp-icon-chart-s {width:10px; height:8px; background-position:left -43px;}

em.ddp-icon-chart-w {display:inline-block; width:13px; height:11px; margin-right:5px; background:url(../../../images/icon_widget.png) no-repeat; background-position:-28px -106px;}

em.ddp-icon-dashboard2,
em.ddp-icon-dashboard3  {display:inline-block; width:19px; height:15px; background:url(../../../images/icon_dashboard.png) no-repeat; vertical-align: middle;}
em.ddp-icon-dashboard3 {width:17px; height:14px; background-position:left -16px;}
em.ddp-icon-notebook {display:inline-block; width:12px; height:14px; position:absolute; top:50%; margin-top:-7px; background:url(../../../images/icon_gnb.png) no-repeat; background-position:left -29px;}


em.ddp-link-add {display:inline-block; width:13px; height:13px; margin-right:10px; background:url(../../../images/icon_linkadd.png) no-repeat; vertical-align:middle;}

em.ddp-icon-eyes2,
em.ddp-icon-eyes2-none,
em.ddp-icon-eyes2-on {display:inline-block; width:16px; height:11px; background:url(../../../images/icon_eyes.png) no-repeat; vertical-align: middle;}
em.ddp-icon-eyes2 {background-position:-17px 0;}
em.ddp-icon-eyes2-none {background-position:left -24px;}
em.ddp-icon-eyes2-on {background-position:-17px top;}
em.ddp-icon-sclose {padding:4px; cursor:pointer;}
em.ddp-icon-sclose:before {display:inline-block; content:''; width:8px; height:8px; background:url(../../../images/btn_sclose.png) no-repeat; background-position:left -77px; cursor:pointer;}

em.ddp-icon-sclose2 {display:inline-block; content:''; width:8px; height:8px; background:url(../../../images/btn_sclose.png) no-repeat; background-position:left -94px; cursor:pointer;}
em.ddp-icon-sclose2:hover {background-position:-9px -94px;}

.ddp-icon-edit-s,
.ddp-icon-del-s {display:inline-block; padding:4px; cursor:pointer;}
.ddp-icon-edit-s:before,
.ddp-icon-del-s:before {display:inline-block; content:''; background:url(../../../images/icon_edit2.png) no-repeat; cursor:pointer;}
.ddp-icon-edit-s:before {width:10px; height:10px;}
.ddp-icon-del-s:before {width:9px; height:9px; position:relative; top:-1px; background-position:0 -11px;}
.ddp-icon-edit-s:hover:before {background-position:-11px top;}
.ddp-icon-del-s:hover:before {background-position:-10px -11px;}






em.ddp-icon-link-add {display:inline-block; width:9px; height:9px; margin-right:5px; background:url(../../../images/icon_add.png) no-repeat; background-position:-20px top; vertical-align: middle;}


em.ddp-icon-link-plus {display:inline-block; position:relative; width:9px; height:9px; background:url(../../../images/btn_minus_plus.png) no-repeat; background-position:left -2px; vertical-align: middle; cursor: pointer;}
em.ddp-icon-link-plus.ddp-disabled:hover {background-position:left -2px;}
em.ddp-icon-link-plus.ddp-disabled:before {display:inline-block; content:''; position:absolute; top:0; left:0; right:0; bottom:0; background-color:rgba(255,255,255,0.5); cursor: no-drop;}


/* icon_control.png */
em.ddp-icon-link-approve,
em.ddp-icon-link-check,
em.ddp-icon-link-cut,
em.ddp-icon-link-cut2,
em.ddp-icon-link-edit,
em.ddp-icon-link-edit2,
em.ddp-icon-link-down {display:inline-block; margin-right:5px; background:url(../../../images/icon_control.png) no-repeat; vertical-align: middle;}
em.ddp-icon-link-approve {width:11px; height:11px; background-position:left -119px;}
em.ddp-icon-link-check {width:11px; height:8px; background-position:left -110px;}
em.ddp-icon-link-cut {position:relative; top:-1px; width:12px; height:13px; background-position:-13px -14px;}
em.ddp-icon-link-cut2 {position:relative; top:-1px; width:11px; height:12px; background-position:-62px -14px;}
em.ddp-icon-link-cut2.ddp-disabled,
em.ddp-icon-link-cut2.ddp-disabled:hover {background-position:-26px -14px; opacity:0.5; cursor:no-drop;}

em.ddp-icon-link-edit {width:12px; height:12px; background-position:-26px -97px;}
em.ddp-icon-link-edit2 {width:12px; height:12px; background-position:-39px -97px;}
em.ddp-icon-link-down {width:13px; height:13px; background-position:left -230px;}

em.ddp-icon-upload,
em.ddp-icon-download {display:inline-block; background:url(../../../images/icon_control.png) no-repeat;}
em.ddp-icon-upload {width:11px; height:12px; background-position:left -244px;}
em.ddp-icon-download {width:13px; height:13px; background-position:left -230px;}

em.ddp-icon-control-copy,
em.ddp-icon-control-copy-s,
em.ddp-icon-control-cut,
em.ddp-icon-control-plus,
em.ddp-icon-control-cut-s,
em.ddp-icon-control-info,
em.ddp-icon-control-fav,
em.ddp-icon-control-filter,
em.ddp-icon-control-user,
em.ddp-icon-control-parameter,
em.ddp-icon-control-calculat,
em.ddp-icon-control-dimension,
em.ddp-icon-control-edit2,
em.ddp-icon-control-check,
em.ddp-icon-control-more,
em.ddp-icon-control-close,
em.ddp-icon-control-user.ddp-type,
em.ddp-icon-control-parameter.ddp-type,
em.ddp-icon-control-calculat.ddp-type,
em.ddp-icon-control-filter.ddp-type,
em.ddp-icon-control-link,
em.ddp-icon-control-insert,
em.ddp-icon-control-more2 {display:inline-block; padding:3px; cursor:pointer; vertical-align: middle;}
em.ddp-icon-control-copy:before,
em.ddp-icon-control-copy-s:before,
em.ddp-icon-control-cut:before,
em.ddp-icon-control-plus:before,
em.ddp-icon-control-cut-s:before,
em.ddp-icon-control-info:before,
em.ddp-icon-control-fav:before,
em.ddp-icon-control-filter:before,
em.ddp-icon-control-user:before,
em.ddp-icon-control-parameter:before,
em.ddp-icon-control-calculat:before,
em.ddp-icon-control-dimension:before,
em.ddp-icon-control-edit2:before,
em.ddp-icon-control-check:before,
em.ddp-icon-control-more:before,
em.ddp-icon-control-close:before,
em.ddp-icon-control-user.ddp-type:before,
em.ddp-icon-control-parameter.ddp-type:before,
em.ddp-icon-control-calculat.ddp-type:before,
em.ddp-icon-control-filter.ddp-type:before,
em.ddp-icon-control-link:before,
em.ddp-icon-control-insert:before,
em.ddp-icon-control-more2:before {display:inline-block; content:''; background:url(../../../images/icon_control.png) no-repeat; vertical-align: middle;}
em.ddp-icon-control-link {padding-top:4px;}
em.ddp-icon-control-link:before {width:14px; height:8px; background-position:left -257px; opacity:0.6}
em.ddp-icon-control-link:hover:before {opacity:1;}
.ddp-icon-control-cut-s.ddp-type:before  {background-position:-50px -14px;}
.ddp-icon-control-cut-s.ddp-type:hover:before  {background-position:-38px -14px;}

em.ddp-icon-control-copy:before {width:13px; height:13px;}
em.ddp-icon-control-cut:before {width:12px; height:13px; background-position:left -14px;}
em.ddp-icon-control-plus:before {width:11px; height:11px; background-position:left -218px;}
em.ddp-icon-control-info:before {width:13px; height:13px; background-position:left -28px;}
em.ddp-icon-control-fav:before {width:12px; height:12px; background-position:left -42px;}
em.ddp-icon-control-copy:hover:before {background-position:-14px 0;}
em.ddp-icon-control-cut:hover:before {background-position:-13px -14px;}
em.ddp-icon-control-info:hover:before {background-position:-14px -28px;}
em.ddp-icon-control-fav:hover:before {background-position:-13px -42px;}
em.ddp-icon-control-plus:hover:before {background-position:-12px -218px;}
em.ddp-icon-control-fav.ddp-selected:before {background-position:-26px -42px;}
em.ddp-icon-control-user:before {width:9px; height:9px; background-position:left -55px;}
em.ddp-icon-control-filter:before {width:12px; height:9px; background-position:left -65px;}
em.ddp-icon-control-parameter:before {width:11px; height:9px; background-position:left -87px;}
em.ddp-icon-control-calculat:before {width:11px; height:11px; background-position:left -75px;}
em.ddp-icon-control-dimension:before {width:12px; height:12px; background-position:left -98px;}
em.ddp-icon-control-more:before {display:inline-block; width:2px; height:9px; background-position:left -164px;}
em.ddp-icon-control-close:before {display:inline-block; width:8px; height:8px; background-position:left -174px;}
em.ddp-icon-control-copy-s:before {width:10px; height:10px; background-position:left -183px;}
em.ddp-icon-control-cut-s:before {width:10px; height:10px; background-position:left -194px;}
em.ddp-icon-control-insert:before {width:10px; height:11px; background-position:left -266px;}
em.ddp-icon-control-insert:hover:before {background-position-x:-11px;}

em.ddp-icon-control-more2 {width:16px; height:17px; box-sizing:border-box;}
em.ddp-icon-control-more2:before {position:absolute; top:50%; left:50%; width:2px; height:10px; margin:-5px 0 0 -1px; background-position:left -278px;}
em.ddp-icon-control-more2:hover:before {background-position-x:-3px;}

em.ddp-icon-control-copy-s:hover:before {background-position:-11px -183px;}
em.ddp-icon-control-cut-s:hover:before  {background-position:-11px -194px;}
em.ddp-icon-control-close:hover:before {background-position:-9px -174px;}
em.ddp-icon-control-user:hover:before,
em.ddp-icon-control-user.ddp-selected:before {background-position:-10px -55px;}
em.ddp-icon-control-filter:hover:before,
em.ddp-icon-control-filter.ddp-selected:before {background-position:-13px -65px;}
em.ddp-icon-control-parameter:hover:before,
em.ddp-icon-control-parameter.ddp-selected:before {background-position:-12px -87px;}

em.ddp-icon-control-calculat:hover:before,
em.ddp-icon-control-calculat.ddp-selected:before {background-position:-12px -75px;}

em.ddp-icon-control-dimension:hover:before,
em.ddp-icon-control-dimension.ddp-selected:before {background-position:-13px -98px;}
em.ddp-icon-control-user.ddp-type:before {background-position:-10px -55px;}
em.ddp-icon-control-parameter.ddp-type:before {background-position:-12px -87px;}
em.ddp-icon-control-calculat.ddp-type:before {background-position:-12px -75px;}

em.ddp-icon-control-user.ddp-type:hover:before {background-position:0 -55px;}
em.ddp-icon-control-parameter.ddp-type:hover:before {background-position:0 -87px;}
em.ddp-icon-control-calculat.ddp-type:hover:before {background-position:0 -75px;}

em.ddp-icon-control-filter.ddp-type:before {background-position:-13px -65px;}
em.ddp-icon-control-more:hover:before {background-position:-3px -164px;}
em.ddp-icon-control-filter.ddp-type:hover:before,
em.ddp-icon-control-filter.ddp-type.ddp-selected:before {background-position:left -65px;}

em.ddp-icon-control-edit2:before {width:12px; height:12px; background-position:left -97px;}
em.ddp-icon-control-edit2:hover:before {background-position:-13px -97px;}

em.ddp-icon-control-check:before {width:11px; height:8px; background-position:left -110px;}
em.ddp-icon-control-check:hover:before {background-position:-12px -110px;}

em.ddp-icon-control-edit {display:inline-block; padding:4px; cursor:pointer;}

em.ddp-icon-control-edit:before {display:inline-block; content:''; position:relative; top:1px; width:10px; height:10px; background:url(../../../images/icon_edit2.png) no-repeat; vertical-align: middle;}
em.ddp-icon-control-edit:hover:before {background-position:-11px top;}




em.ddp-icon-global,
em.ddp-icon-global-s {display:inline-block; width:17px; height:17px; background:url(../../../images/icon_global.png) no-repeat; vertical-align: middle;}
em.ddp-icon-global-s {width:13px; height:13px; background-position:left -18px;}

em.ddp-icon-source,
em.ddp-icon-source2,
em.ddp-icon-source-w,
a.ddp-icon-source3 {display:inline-block; width:12px; height:15px; margin-right:5px; background:url(../../../images/icon_source.png) no-repeat;vertical-align: middle;}
em.ddp-icon-source-w {background-position:-13px top;}
a.ddp-icon-source3 {width:16px; height:18px; background-position:left -16px;}
a.ddp-icon-source3:hover {background-position:-17px -16px;}



a.ddp-icon-board-monitoring:before,
a.ddp-icon-board-edit:before {display:inline-block; content:''; margin-right:6px; background:url(../../../images/btn_boardoption.png) no-repeat; vertical-align: middle;}
a.ddp-icon-board-monitoring:before {width:17px; height:18px;}
a.ddp-icon-board-monitoring:hover:before {background-position:-18px top;}
a.ddp-icon-board-edit:before {width:20px; height:19px; background-position:0 -19px;}
a.ddp-icon-board-edit:hover:before {background-position:-21px -19px;}


.ddp-icon-drop-monitoring,
.ddp-icon-drop-editmodify,
.ddp-icon-drop-editdel3,
.ddp-icon-drop-dashboard,
.ddp-icon-drop-global,
.ddp-icon-drop-global2,
.ddp-icon-drop-refresh,
.ddp-icon-drop-member,
.ddp-icon-drop-set,
.ddp-icon-drop-schema,
.ddp-icon-drop-change,
.ddp-icon-drop-sort,
.ddp-icon-drop-move,
.ddp-icon-drop-generate,
.ddp-icon-drop-detail,
.ddp-icon-drop-re,
.ddp-icon-drop-clean {display:inline-block; position:absolute; top:50%; left:13px; margin-top:-7px; width:13px; height:12px; background:url(../../../images/icon_drop.png) no-repeat;}
.ddp-icon-drop-re {width:13px; height:12px; background-position:-205px top;}
.ddp-icon-drop-monitoring {width:13px; height:12px;}
.ddp-icon-drop-editmodify {width:12px; height:12px; background-position:-14px top;}
.ddp-icon-drop-editdel3 {width:11px; height:12px; margin-top:-6px; background-position:-27px top;}
.ddp-icon-drop-dashboard {width:13px; height:13px; background-position:-39px top;}
.ddp-icon-drop-global {width:13px; height:13px; background-position:-53px top;}
.ddp-icon-drop-refresh {width:14px; height:13px; background-position:-67px top;}
.ddp-icon-drop-member {width:14px; height:12px; background-position:-82px top;}
.ddp-icon-drop-set {width:13px; height:13px; background-position:-97px top;}
.ddp-icon-drop-global2 {width:13px; height:13px; background-position:-111px top;}
.ddp-icon-drop-schema {width:11px; height:11px; margin-top:-6px; background-position:-125px top;}
.ddp-icon-drop-change {width:11px; height:12px; margin-top:-6px; background-position:-137px top;}
.ddp-icon-drop-sort  {width:13px; height:13px; margin-top:-7px; background-position:-150px top;}
.ddp-icon-drop-move {width:13px; height:13px; margin-top:-7px; background-position:-164px top;}
.ddp-icon-drop-generate  {width:13px; height:13px; margin-top:-7px; background-position:-178px top;}
.ddp-icon-drop-detail  {width:12px; height:13px; margin-top:-7px; background-position:-192px top;}
.ddp-icon-drop-clean {width:15px; height:13px; margin-top:-7px; background-position:-237px top;}

a.ddp-icon-more {position:relative; display:inline-block; padding:8px 4px; cursor:pointer; font-size:0px;}

a.ddp-icon-more:before {display:inline-block; content:''; width:15px; height:3px; background:url(../../../images/icon_more.png) no-repeat; transform:rotate(90deg);}
a.ddp-icon-more:hover:before {background-position:0 -4px;}


em.ddp-icon-searchview2  {display:inline-block; content:''; width:14px; height:14px; background:url(../../../images/icon_searchview.png) no-repeat; vertical-align: middle; background-position:-15px 0;}
em.ddp-icon-searchview {padding:4px; cursor:pointer;}
em.ddp-icon-searchview:before {display:inline-block; content:''; width:14px; height:14px; background:url(../../../images/icon_searchview.png) no-repeat; vertical-align: middle;}
em.ddp-icon-searchview:hover:before {background-position:-15px 0;}


em.ddp-icon-editdel,
em.ddp-icon-editdel2 {display:inline-block; padding:4px; cursor:pointer;}
em.ddp-icon-editdel:before,
em.ddp-icon-editdel2:before {display:inline-block; width:11px; height:12px; background:url(../../../images/icon_edit.png) no-repeat; background-position:left -50px; vertical-align: middle; content:'';}

em.ddp-icon-editdel:hover:before{background-position:-12px -50px;}
em.ddp-icon-editdel2:before {background-position:-24px -50px;}
em.ddp-icon-editdel2:hover:before {background-position:-36px -50px;}

em.ddp-icon-editsearch {padding:4px; cursor:pointer;}
em.ddp-icon-editsearch:before {display:inline-block; content:''; width:11px; height:11px; background:url(../../../images/icon_search.png) no-repeat; vertical-align: middle;}
em.ddp-icon-editsearch:hover:before {background-position:-12px 0;}

em.ddp-icon-editadd {padding:4px; cursor:pointer;}
em.ddp-icon-editadd:before {display:inline-block; content:''; width:9px; height:9px; background:url(../../../images/icon_add.png) no-repeat; vertical-align: middle;}
em.ddp-icon-editadd:hover:before {background-position:-10px 0;}

em.ddp-icon-grid,
em.ddp-icon-listgrid,
em.ddp-icon-lineage {display:inline-block; width:13px; height:13px; background:url(../../../images/icon_grid.png) no-repeat;}
em.ddp-icon-listgrid {width:15px; height:11px; background-position:left -14px;}
em.ddp-icon-lineage {width:15px; height:13px; background-position:left -26px;}

em.ddp-icon-type-calen3,
em.ddp-icon-type-text {display:inline-block; background:url(../../../images/icon_type.png) no-repeat; }
em.ddp-icon-type-calen3 {width:11px; height:11px;}
em.ddp-icon-type-text {width:10px; height:11px;background-position:left -12px;}
ul.ddp-list-popup li a em.ddp-icon-type-calen3,
ul.ddp-list-popup li a em.ddp-icon-type-text {position:absolute; left:10px; top:50%; margin-top:-6px;}

/**************************************************************
	value type
**************************************************************/
em.ddp-icon-type-calen,
em.ddp-icon-type-ab,
em.ddp-icon-type-local,
em.ddp-icon-type-sharp,
em.ddp-icon-type-account,
em.ddp-icon-type-tf,
em.ddp-icon-type-maplink,
em.ddp-icon-type-float,
em.ddp-icon-type-int,
em.ddp-icon-type-latitude,
em.ddp-icon-type-longitude,
em.ddp-icon-type-array,
em.ddp-icon-type-map,
em.ddp-icon-type-phone,
em.ddp-icon-type-email,
em.ddp-icon-type-gender,
em.ddp-icon-type-url,
em.ddp-icon-type-zipcode,
em.ddp-icon-type-private,
em.ddp-icon-type-image,
em.ddp-icon-type-binary,
em.ddp-icon-type-spatial,
em.ddp-icon-type-etc,
em.ddp-icon-type-point,
em.ddp-icon-type-line,
em.ddp-icon-type-polygon,
em.ddp-icon-type-expression{display:inline-block; position:absolute; top:50%; left:10px; width:13px; height:9px; margin-top:-5px; background:url(../../../images/icon_valuetype.png) no-repeat; vertical-align:middle;}
em.ddp-icon-type-local {width:9px; height:12px; margin-top:-6px; background-position:left -10px;}
em.ddp-icon-type-sharp {width:15px; height:8px; margin-top:-4px; background-position:left -23px;}
em.ddp-icon-type-account {width:11px; height:12px; margin-top:-6px; background-position:left -32px;}
em.ddp-icon-type-maplink {width:10px; height:10px; margin-top:-5px; background-position:left -54px;}
em.ddp-icon-type-tf {width:14px; height:9px; background-position:left -45px;}
em.ddp-icon-type-float {width:16px; height:8px; background-position:left -96px;}
em.ddp-icon-type-int {width:8px; height:8px; background-position:left -87px;}
em.ddp-icon-type-calen {width:11px; height:11px; margin-top:-6px; background-position:left -74px;}
em.ddp-icon-type-latitude  {width:11px; height:11px; margin-top:-6px; background-position:left -119px;}
em.ddp-icon-type-longitude {width:11px; height:11px; margin-top:-6px; background-position:left -131px;}
em.ddp-icon-type-array {width:8px; height:10px; margin-top:-5px; background-position:left -107px;}
em.ddp-icon-type-map {width:14px; height:10px; margin-top:-5px; background-position:left -143px;}
em.ddp-icon-type-phone {width:13px; height:13px; margin-top:-7px; background-position:left -154px;}
em.ddp-icon-type-email {width:12px; height:12px; margin-top:-6px; background-position:left -168px;}
em.ddp-icon-type-gender {width:11px; height:11px; margin-top:-6px; background-position:left -181px;}
em.ddp-icon-type-url {width:15px; height:9px; margin-top:-5px; background-position:left -193px;}
em.ddp-icon-type-zipcode {width:16px; height:7px; margin-top:-4px; background-position:left -203px;}
em.ddp-icon-type-private {width:11px; height:12px; margin-top:-6px; background-position:left -211px;}
em.ddp-icon-type-image {width:11px; height:10px; background-position:left -224px;}
em.ddp-icon-type-binary {width:9px; height:11px; background-position:left -235px;}
em.ddp-icon-type-spatial {width:11px; height:12px; background-position:left -247px;}
em.ddp-icon-type-etc {width:14px; height:7px; background-position:left -260px;}
em.ddp-icon-type-point {width:9px; height:12px; background-position:left -268px;}
em.ddp-icon-type-line {width:10px; height:12px; background-position:left -281px;}
em.ddp-icon-type-polygon {width:13px; height:13px; background-position:left -294px;}

em.ddp-icon-type-expression {width:11px; height:10px; background-position:left -308px;}
em.ddp-icon-basic-calen,
em.ddp-icon-basic-ab,
em.ddp-icon-basic-local,
em.ddp-icon-basic-sharp,
em.ddp-icon-basic-account,
em.ddp-icon-basic-tf,
em.ddp-icon-basic-maplink,
em.ddp-icon-basic-float,
em.ddp-icon-basic-int,
em.ddp-icon-basic-latitude,
em.ddp-icon-basic-longitude,
em.ddp-icon-basic-array ,
em.ddp-icon-basic-map {display:inline-block; background:url(../../../images/icon_valuetype.png) no-repeat; vertical-align:middle;}

em.ddp-icon-basic-ab {width:13px; height:9px; background-position:-42px top;}
em.ddp-icon-basic-calen {width:11px; height:11px; background-position:-36px -74px;}
em.ddp-icon-basic-local {width:9px; height:12px; background-position:-40px -10px;}
em.ddp-icon-basic-sharp {width:15px; height:8px; background-position:-63px -23px;}
em.ddp-icon-basic-account {width:11px; height:12px; background-position:-44px -32px;}
em.ddp-icon-basic-maplink {width:10px; height:10px; background-position:-44px -54px;}
em.ddp-icon-basic-tf {width:14px; height:9px; background-position:-59px -45px;}
em.ddp-icon-basic-float {width:16px; height:8px; background-position:-67px -96px;}
em.ddp-icon-basic-int {width:8px; height:8px; background-position:-35px -87px;}
em.ddp-icon-basic-latitude  {width:11px; height:11px; background-position:-48px -119px;}
em.ddp-icon-basic-longitude {width:11px; height:11px; background-position:-48px -131px;}
em.ddp-icon-basic-array {width:8px; height:10px; background-position:-36px -107px;}
em.ddp-icon-basic-map {width:14px; height:10px; background-position:-60px -143px;}

em.ddp-icon-dimension-ab,
em.ddp-icon-dimension-local,
em.ddp-icon-dimension-calen,
em.ddp-icon-dimension-sharp,
em.ddp-icon-dimension-float,
em.ddp-icon-dimension-tf,
em.ddp-icon-dimension-account,
em.ddp-icon-dimension-maplink,
em.ddp-icon-dimension-int,
em.ddp-icon-dimension-latitude,
em.ddp-icon-dimension-longitude,
em.ddp-icon-dimension-array,
em.ddp-icon-measure-ab,
em.ddp-icon-measure-local,
em.ddp-icon-measure-calen,
em.ddp-icon-measure-sharp,
em.ddp-icon-measure-float,
em.ddp-icon-measure-tf,
em.ddp-icon-measure-account,
em.ddp-icon-measure-maplink ,
em.ddp-icon-measure-int,
em.ddp-icon-measure-latitude,
em.ddp-icon-measure-longitude,
em.ddp-icon-measure-array{display:inline-block; background:url(../../../images/icon_valuetype.png) no-repeat; vertical-align:middle; font-size:0px;}

em.ddp-icon-dimension-ab {width:13px; height:9px; background-position:-28px top;}
em.ddp-icon-dimension-local {width:9px; height:11px; background-position:-20px -10px;}
em.ddp-icon-dimension-calen {width:11px; height:11px; background-position:-24px -74px;}
em.ddp-icon-dimension-sharp {width:15px; height:8px; background-position:-47px -23px;}
em.ddp-icon-dimension-float {width:16px; height:8px; background-position:-33px -96px;}
em.ddp-icon-dimension-tf {width:14px; height:8px; background-position:-30px -45px;}
em.ddp-icon-dimension-account {width:10px; height:12px; background-position:-23px -32px;}
em.ddp-icon-dimension-maplink {width:10px; height:10px; background-position:-22px -54px;}
em.ddp-icon-dimension-int  {width:8px; height:8px; background-position:-17px -87px;}
em.ddp-icon-dimension-latitude {width:11px; height:11px; background-position:-24px -119px;}
em.ddp-icon-dimension-longitude {width:11px; height:11px; background-position:-24px -131px;}
em.ddp-icon-dimension-array {width:8px; height:12px; background-position:-18px -106px;}

em.ddp-icon-measure-ab {width:13px; height:9px; background-position:-56px top;}
em.ddp-icon-measure-local {width:9px; height:11px; background-position:-30px -10px;}
em.ddp-icon-measure-calen {width:11px; height:11px; background-position:-48px -74px;}
em.ddp-icon-measure-float {width:16px; height:8px; background-position:-50px -96px;}
em.ddp-icon-measure-tf {width:14px; height:8px; background-position:-45px -45px;}
em.ddp-icon-measure-sharp {width:15px; height:8px; background-position:-31px -23px;}
em.ddp-icon-measure-account {width:10px; height:12px; background-position:-34px -32px;}
em.ddp-icon-measure-maplink  {width:10px; height:10px; background-position:-33px -54px;}
em.ddp-icon-measure-int  {width:8px; height:8px; background-position:-26px -87px;}
em.ddp-icon-measure-latitude  {width:11px; height:11px; background-position:-36px -119px;}
em.ddp-icon-measure-longitude {width:11px; height:11px; background-position:-36px -131px;}
em.ddp-icon-measure-array  {width:8px; height:12px;  background-position:-27px -106px;}


ul.ddp-list-filter li.ddp-selected a em.ddp-icon-dimension-ab,
ul.ddp-list-filter li.ddp-selected a em.ddp-icon-measure-ab,
ul.ddp-list-filter li.ddp-selected a em.ddp-icon-basic-ab {background-position-x:-14px;}
ul.ddp-list-filter li.ddp-selected a em.ddp-icon-dimension-local,
ul.ddp-list-filter li.ddp-selected a em.ddp-icon-measure-local,
ul.ddp-list-filter li.ddp-selected a em.ddp-icon-basic-local {background-position-x:-10px;}
ul.ddp-list-filter li.ddp-selected a em.ddp-icon-dimension-calen,
ul.ddp-list-filter li.ddp-selected a em.ddp-icon-measure-calen,
ul.ddp-list-filter li.ddp-selected a em.ddp-icon-basic-calen {background-position-x:-12px;}
ul.ddp-list-filter li.ddp-selected a em.ddp-icon-dimension-sharp,
ul.ddp-list-filter li.ddp-selected a em.ddp-icon-measure-sharp,
ul.ddp-list-filter li.ddp-selected a em.ddp-icon-basic-sharp {background-position-x:-16px;}
ul.ddp-list-filter li.ddp-selected a em.ddp-icon-dimension-float,
ul.ddp-list-filter li.ddp-selected a em.ddp-icon-measure-float ,
ul.ddp-list-filter li.ddp-selected a em.ddp-icon-basic-float{background-position-x:-17px;}
ul.ddp-list-filter li.ddp-selected a em.ddp-icon-dimension-tf,
ul.ddp-list-filter li.ddp-selected a em.ddp-icon-measure-tf ,
ul.ddp-list-filter li.ddp-selected a em.ddp-icon-basic-tf{background-position-x:-15px;}
ul.ddp-list-filter li.ddp-selected a em.ddp-icon-dimension-account,
ul.ddp-list-filter li.ddp-selected a em.ddp-icon-measure-account,
ul.ddp-list-filter li.ddp-selected a em.ddp-icon-basic-account {background-position-x:-11px;}
ul.ddp-list-filter li.ddp-selected a em.ddp-icon-dimension-maplink,
ul.ddp-list-filter li.ddp-selected a em.ddp-icon-measure-maplink,
ul.ddp-list-filter li.ddp-selected a em.ddp-icon-basic-maplink {background-position-x:-11px;}
ul.ddp-list-filter li.ddp-selected a em.ddp-icon-dimension-int,
ul.ddp-list-filter li.ddp-selected a em.ddp-icon-measure-int ,
ul.ddp-list-filter li.ddp-selected a em.ddp-icon-basic-int  {background-position-x:-9px;}
ul.ddp-list-filter li.ddp-selected a em.ddp-icon-dimension-latitude,
ul.ddp-list-filter li.ddp-selected a em.ddp-icon-measure-latitude,
ul.ddp-list-filter li.ddp-selected a em.ddp-icon-basic-latitude  {background-position-x:-12px;}
ul.ddp-list-filter li.ddp-selected a em.ddp-icon-dimension-longitude,
ul.ddp-list-filter li.ddp-selected a em.ddp-icon-measure-longitude,
ul.ddp-list-filter li.ddp-selected a em.ddp-icon-basic-longitude {background-position-x:-12px;}
ul.ddp-list-filter li.ddp-selected a em.ddp-icon-dimension-array,
ul.ddp-list-filter li.ddp-selected a em.ddp-icon-measure-array,
ul.ddp-list-filter li.ddp-selected a em.ddp-icon-basic-array {background-position-x:-9px;}



/* value type map */
em.ddp-icon-map-view {display:inline-block; position:absolute; top:5px; left:0; background:url(../../../images/icon_valuetype_map.png) no-repeat;}
em.ddp-icon-map-view-w  {display:inline-block; position:relative;  top:1px; margin-right:5px;background:url(../../../images/icon_valuetype_map.png) no-repeat; vertical-align:top;}
em.ddp-icon-polygon-w {width:13px; height:13px; background-position:-28px top;}
em.ddp-icon-line-w {width:10px; height:12px; background-position:-22px -14px;}
em.ddp-icon-point-w {width:10px; height:12px; background-position:-20px -27px;}


em.ddp-icon-dimension-polygon,
em.ddp-icon-dimension-line,
em.ddp-icon-dimension-point,
em.ddp-icon-measure-polygon,
em.ddp-icon-measure-line,
em.ddp-icon-measure-point{display:inline-block; background:url(../../../images/icon_valuetype_map.png) no-repeat;}
em.ddp-icon-dimension-polygon {width:13px; height:13px;}
em.ddp-icon-dimension-line {width:10px; height:12px; background-position:left -14px;}
em.ddp-icon-dimension-point {width:9px; height:12px; background-position:left -27px;}
em.ddp-icon-measure-polygon {width:13px; height:13px; background-position:-14px top;}
em.ddp-icon-measure-line {width:10px; height:12px; background-position:-11px -14px;}
em.ddp-icon-measure-point {width:9px; height:12px; background-position:-10px -27px;}

/**************************************************************
	대시보드, 차트 rnb 메뉴 아이콘
**************************************************************/
em.ddp-icon-menu-chart,
em.ddp-icon-menu-filter,
em.ddp-icon-menu-layout,
em.ddp-icon-menu-color,
em.ddp-icon-menu-axis,
em.ddp-icon-menu-num,
em.ddp-icon-menu-presentation,
em.ddp-icon-menu-tooltip,
em.ddp-icon-menu-split,
em.ddp-icon-menu-datasorce,
em.ddp-icon-menu-text,
em.ddp-icon-menu-general,
em.ddp-icon-menu-axis-x,
em.ddp-icon-menu-axis-y,
em.ddp-icon-menu-legend,
em.ddp-icon-menu-label,
em.ddp-icon-menu-calculated,
em.ddp-icon-menu-secondary,
em.ddp-icon-menu-parameters,
em.ddp-icon-menu-mapview1,
em.ddp-icon-menu-mapview2,
em.ddp-icon-menu-mapview3 {display:inline-block; background:url(../../../images/icon_sidemenu.png) no-repeat;}

em.ddp-icon-menu-calculated {width:18px; height:22px; margin:-9px 0 0 -11px; background-position:left -337px;}
em.ddp-icon-menu-general {width:22px; height:19px; margin:-9px 0 0 -11px; background-position:left -297px;}
em.ddp-icon-menu-axis-x {width:21px; height:21px; margin:-11px 0 0 -11px; background-position:left -253px; }
em.ddp-icon-menu-axis-y {width:21px; height:21px; margin:-11px 0 0 -11px; background-position:left -231px;}
em.ddp-icon-menu-legend {width:22px; height:19px; margin:-10px 0 0 -11px; background-position:left -317px;}
em.ddp-icon-menu-label{width:22px; height:21px; margin:-11px 0 0 -11px; background-position:left -275px;}
em.ddp-icon-menu-chart {width:26px; height:20px; margin:-10px 0 0 -13px;}
em.ddp-icon-menu-filter {width:18px; height:15px; margin:-8px 0 0 -9px;background-position:left -21px;}
em.ddp-icon-menu-layout {width:26px; height:20px; margin:-10px 0 0 -13px;background-position:left -37px;}
em.ddp-icon-menu-color {width:21px; height:24px; margin:-12px 0 0 -11px;background-position:left -58px;}
em.ddp-icon-menu-axis {width:20px; height:21px; margin:-12px 0 0 -10px;background-position:left -83px;}
em.ddp-icon-menu-num {width:26px; height:13px; margin:-7px 0 0 -13px;background-position:left -105px;}
em.ddp-icon-menu-presentation {width:22px; height:23px; margin:-11px 0 0 -12px;background-position:left -119px;}
em.ddp-icon-menu-tooltip {width:24px; height:23px; margin:-12px 0 0 -12px;background-position:left -143px;}
em.ddp-icon-menu-split {width:23px; height:22px; margin:-11px 0 0 -12px;background-position:left -167px;}
em.ddp-icon-menu-datasorce {width:21px; height:22px; margin:-11px 0 0 -10px; background-position:left -190px;}
em.ddp-icon-menu-datasorce.ddp-selected {background-position:-22px -190px;}
em.ddp-icon-menu-text {width:15px; height:17px; margin:-9px 0 0 -8px; background-position:left -213px;}
em.ddp-icon-menu-secondary {width:24px; height:16px; margin:-8px 0 0 -12px; background-position:left -360px;}
em.ddp-icon-menu-parameters { width:20px; height:18px; margin:-9px 0 0 -10px; background-position:left -377px; }
em.ddp-icon-menu-mapview1 {width:21px; height:20px; margin:-10px 0 0 -10px; background-position:left -396px;}
em.ddp-icon-menu-mapview2 {width:21px; height:20px; margin:-10px 0 0 -10px;background-position:left -417px;}
em.ddp-icon-menu-mapview3 {width:21px; height:20px; margin:-10px 0 0 -10px;background-position:left -438px;}
/*상태 아이콘*/
em.ddp-icon-status-success,
em.ddp-icon-status-error,
em.ddp-icon-status-inprogress,
em.ddp-icon-status-inprogress2 {display:inline-block; position:relative; width:20px; height:20px; background:url(../../../images/icon_snapshot_status.png) no-repeat;}
em.ddp-icon-status-error {background-position:left -21px;}
em.ddp-icon-status-inprogress {background-position:left -42px;}
em.ddp-icon-status-inprogress2 {background-position:left -63px;}
em.ddp-icon-status-inprogress:hover .ddp-ui-tooltip-info,
em.ddp-icon-status-inprogress2:hover .ddp-ui-tooltip-info{display:block; left:100%; top:-2px; margin-left:5px;}
