@charset "utf-8";


/**************************************************************
	라디오버튼 폼
**************************************************************/
.ddp-label-radio {display:inline-block; position:relative; padding-left:19px;  cursor:pointer;}
.ddp-label-radio span.ddp-txt-radio,
.ddp-label-radio span.ddp-txt-checkbox {display:inline-block; font-size:13px; color:#4b515b; vertical-align:bottom; word-break:break-all;}
.ddp-label-radio span.ddp-txt-radio span.ddp-data-valuenum,
.ddp-label-radio span.ddp-txt-checkbox span.ddp-data-valuenum {position:relative; top:-1px; margin-left:5px; color:#90969f; font-size:12px;}
.ddp-label-radio span.ddp-txt-radio span.ddp-txt-det {color:#808dcd; font-style:italic;}

.ddp-label-radio span.ddp-txt-radio .ddp-box-tag-value {display:inline-block; padding:2px; border-radius:2px; }
.ddp-label-radio span.ddp-txt-radio .ddp-box-tag-value.ddp-dimension {border:1px solid #439fe5;color:#439fe5; font-size:12px;}
.ddp-label-radio span.ddp-txt-radio .ddp-box-tag-value.ddp-measure {border:1px solid #5fd7a5;color:#5fd7a5; font-size:12px;}


.ddp-label-radio input[type="radio"] {position:absolute; top:50%; left:0; margin-top:-6px; opacity:0;}
.ddp-label-radio i.ddp-icon-radio {display:inline-block; position:absolute;top:50%; left:0; margin-top:-6px; width:12px; height:12px; background:url(../../../images/icon_radio.png) no-repeat; background-position:left -24px;}
.ddp-label-radio input[type="radio"]:checked + i.ddp-icon-radio,
.ddp-label-radio.ddp-radiotype input[type="radio"]:checked + i.ddp-icon-radio {background-position:-13px -24px;}
.ddp-label-radio input[type="radio"]:checked + i.ddp-icon-radio + .ddp-txt-radio {font-weight:bold;}
.ddp-label-radio input[type="radio"]:checked + i.ddp-icon-radio + .ddp-txt-radio .ddp-txt-det {font-weight:normal;}
.ddp-label-radio input[type="radio"]:disabled + i.ddp-icon-radio {background-position:-26px -24px;}
.ddp-label-radio input[type="radio"]:disabled + i.ddp-icon-radio + .ddp-txt-radio,
.ddp-label-radio.ddp-radiotype input[type="radio"]:disabled + i.ddp-icon-radio {color:#d0d1d8; cursor: no-drop;}
.ddp-label-radio.ddp-radiotype input[type="radio"] + i.ddp-icon-radio {background-position:-36px top;}
.ddp-label-radio.ddp-inline {display:inline-block; margin-right:25px;}
.ddp-label-radio.ddp-dark i {background-position:-12px -12px;}
.ddp-label-radio.ddp-dark .ddp-txt-radio {color:#90969f; font-size:12px;}
.ddp-label-radio.ddp-dark input[type="radio"]:checked + i.ddp-icon-radio  {background-position:left -12px;}

.ddp-label-radio.ddp-dark input[type="radio"]:disabled + i.ddp-icon-radio {background-position:-24px -12px;}
.ddp-label-radio.ddp-dark input[type="radio"]:disabled + i.ddp-icon-radio + .ddp-txt-radio {color:#d0d1d8; cursor: no-drop; opacity:0.3;}

.ddp-label-radio2 {display:inline-block; position:relative;}
.ddp-label-radio2 input {display:inline-block; position:absolute; top:0; right:0; bottom:0; opacity:0;}
.ddp-label-radio2 i.ddp-icon-radio {display:inline-block; width:11px; height:11px; background:url(../../../images/icon_radio.png) no-repeat; background-position:-84px top;}
.ddp-label-radio2 input:checked + i.ddp-icon-radio {background-position:-72px top;}

.ddp-ui-radio {position:relative; display:inline-block;}
.ddp-ui-radio input[type="radio"] {position:absolute; top:0; left:0; opacity:0; z-index:1; cursor:pointer;}
.ddp-ui-radio i.ddp-icon-radio {display:inline-block; width:11px; height:11px; background:url(../../../images/icon_radio.png) no-repeat;}
.ddp-ui-radio input[type="radio"]:checked + i.ddp-icon-radio,
.ddp-ui-radio.ddp-checkboxtype input[type="radio"]:checked + i.ddp-icon-radio {background-position:-12px top;}
.ddp-ui-radio.ddp-checkboxtype input[type="radio"] + i.ddp-icon-radio {background-position:-24px top;}

