@charset "utf-8";
/* CSS Document */
.ddp-type-top-option {padding-bottom:13px;}
.ddp-type-top-option .ddp-ui-leftoption {float:left;}
.ddp-type-top-option .ddp-ui-rightoption {float:right;}
.ddp-type-top-option .ddp-top-title {line-height:30px;font-size:13px; color:#90969f; font-weight:bold;}
.ddp-type-top-option .ddp-ui-rightoption .ddp-form-label2 {float:left; margin-left:28px; color:#b7b9c2;}
.ddp-type-top-option .ddp-form-label2 .ddp-label-type {font-size:13px;}
.ddp-type-top-option .ddp-wrap-dropdown {width:168px;}





