@charset "utf-8";


/**************************************************************
  Page : 05_06_EngineMonitoring_01overview
**************************************************************/

.theme-dark .ddp-view-setting {
    margin: 16px 0 8px 0;
}

.theme-dark .ddp-view-setting .ddp-label-name {
    float: left;
}

.theme-dark .ddp-view-setting .ddp-label-name .ddp-txt-label {
    float: left;
    color: #4e5368;
    font-size: 14px;
}

.theme-dark .ddp-view-setting .ddp-label-name .ddp-wrap-info {
    position: relative;
    top: 3px;
    float: left;
    margin: 0 0 0 9px;
}

.theme-dark .ddp-view-setting .ddp-label-name .ddp-wrap-info .ddp-btn-info2 {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url(../../../../images/icon_info.png) no-repeat;
    background-position: left -16px;
}

.theme-dark .ddp-view-setting .ddp-label-name .ddp-wrap-info:hover .ddp-box-layout4 {
    display: block;
}

.theme-dark .ddp-view-setting .ddp-label-name .ddp-wrap-info .ddp-wrap-hover-layout {
    position: absolute;
    top: -10px;
    left: 100%;
}

.theme-dark .ddp-view-setting .ddp-label-name .ddp-wrap-info .ddp-box-layout4 {
    display: none;
    margin-left: 5px;
    width: auto;
    min-width: 320px;
    z-index: 10;
}

.theme-dark .ddp-view-setting .ddp-label-name .ddp-wrap-info .ddp-box-layout4 table.ddp-table-info tr th {
    font-weight: normal;
    color: #7e8aa5;
    letter-spacing: -0.6px;
}

.theme-dark .ddp-view-setting .ddp-label-name .ddp-wrap-info .ddp-bar-size {
    display: block;
    position: relative;
    height: 12px;
    margin-top: 5px;
    background-color: #eaedf5;
}

.theme-dark .ddp-view-setting .ddp-label-name .ddp-wrap-info .ddp-bar-size .ddp-data-bar .ddp-ui-tooltip-info {
    display: none;
    top: 100%;
    margin-top: 8px;
    margin-left: -29px;
    width: 57px;
    text-align: center;
    box-sizing: border-box;
}

.theme-dark .ddp-view-setting .ddp-label-name .ddp-wrap-info .ddp-bar-size .ddp-data-bar:hover .ddp-ui-tooltip-info {
    display: block;
}

.theme-dark .ddp-view-setting .ddp-label-name .ddp-wrap-info .ddp-bar-size .ddp-data-bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #4e5368;
    cursor: pointer;
}

.theme-dark .ddp-view-setting .ddp-label-name .ddp-wrap-info .ddp-bar-size .ddp-data-line {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    border-left: 1px solid #dc494f;
}

.theme-dark .ddp-wrap-engine-graph {
    display: flex;
    margin-left: -6px;
}

.theme-dark .ddp-wrap-engine-graph .ddp-box-graph {
    position: relative;
    margin-left: 6px;
    border-radius: 3px;
}

.theme-dark .ddp-wrap-engine-graph .ddp-box-graph.type-cpu,
.theme-dark .ddp-wrap-engine-graph .ddp-box-graph.type-memory {
    position: relative;
    width: 250px;
    height: 250px;
    background-color: #5373c6;
}

.theme-dark .ddp-wrap-engine-graph .ddp-box-graph.type-memory {
    background-color: #395286;
}

.theme-dark .ddp-wrap-engine-graph .ddp-box-graph .ddp-box-label {
    padding: 19px 18px 0 18px;
    color: #fff;
    font-size: 14px;
}

.theme-dark .ddp-wrap-engine-graph .ddp-box-graph .ddp-graph-round {
    display: table;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -77px;
    width: 154px;
    height: 154px;
}

.theme-dark .ddp-wrap-engine-graph .ddp-box-graph .ddp-graph-round .ddp-graph-in {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.theme-dark .ddp-wrap-engine-graph .ddp-box-graph .ddp-graph-round .ddp-graph-in .ddp-data-num {
    display: block;
    font-size: 40px;
    color: #fff;
}

.theme-dark .ddp-wrap-engine-graph .ddp-box-graph .ddp-graph-round .ddp-graph-in .ddp-data-per {
    display: inline-block;
    padding: 2px 6px 3px 6px;
    margin-top: 9px;
    color: #fff;
    font-size: 12px;
    border-radius: 2px;
    background-color: #415b9e;
}

.theme-dark .ddp-wrap-engine-graph .ddp-box-graph.type-memory .ddp-graph-round .ddp-graph-in .ddp-data-per {
    background-color: #2f426c;
}

.theme-dark .ddp-wrap-engine-graph .ddp-box-graph .ddp-data-per .ddp-icon-up,
.theme-dark .ddp-wrap-engine-graph .ddp-box-graph .ddp-data-per .ddp-icon-down {
    display: inline-block;
    position: relative;
    top: 6px;
    width: 7px;
    height: 4px;
    margin-right: 4px;
    background: url(../../../../images/icon_graph_per.png) no-repeat;
    transform: rotate(180deg);
    vertical-align: top;
}

.theme-dark .ddp-wrap-engine-graph .ddp-box-graph .ddp-data-per .ddp-icon-down {
    transform: rotate(0deg);
}

.theme-dark .ddp-wrap-engine-graph .ddp-box-graph .ddp-graph-line {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 79px;
}

.theme-dark .ddp-wrap-engine-graph .ddp-box-graph .ddp-graph-num {
    position: absolute;
    bottom: 35px;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.theme-dark .ddp-wrap-engine-graph .ddp-box-graph .ddp-icon-status {
    position: absolute;
    top: 19px;
    right: 17px;
}

.theme-dark .ddp-wrap-engine-graph .ddp-box-graph .ddp-icon-status .ddp-icon-error,
.theme-dark .ddp-wrap-engine-graph .ddp-box-graph .ddp-icon-status .ddp-icon-warning,
.theme-dark .ddp-wrap-engine-graph .ddp-box-graph.type-count-num .ddp-icon-status2 .ddp-icon-warning {
    display: none;
    width: 19px;
    height: 18px;
    background: url(../../../../images/icon_confidence.png) no-repeat;
    background-position: -20px -21px;
}

.theme-dark .ddp-wrap-engine-graph .ddp-box-graph .ddp-icon-status .ddp-icon-error {
    width: 20px;
    height: 20px;
    background-position: -21px -57px;
}

.theme-dark .ddp-wrap-engine-graph .ddp-box-graph.type-warning {
    background-color: #f3b110;
}

.theme-dark .ddp-wrap-engine-graph .ddp-box-graph.type-warning .ddp-icon-status .ddp-icon-warning {
    display: block;
}

.theme-dark .ddp-wrap-engine-graph .ddp-box-graph.type-warning .ddp-graph-round .ddp-graph-in .ddp-data-per {
    background-color: #c28d0d;
}

.theme-dark .ddp-wrap-engine-graph .ddp-box-graph.type-error {
    background-color: #ba363a;
}

.theme-dark .ddp-wrap-engine-graph .ddp-box-graph.type-error .ddp-icon-status .ddp-icon-error {
    display: inline-block;
}

.theme-dark .ddp-wrap-engine-graph .ddp-box-graph.type-error .ddp-graph-round .ddp-graph-in .ddp-data-per {
    background-color: #952a2e;
}

.theme-dark .ddp-wrap-engine-graph .ddp-wrap-line-graph {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.theme-dark .ddp-wrap-engine-graph .ddp-box-graph.type-count {
    margin-bottom: 6px;
    height: 122px;
    background-color: #383f49;
}

.theme-dark .ddp-wrap-engine-graph .ddp-box-graph.type-count-num {
    width: 200px;
    margin-bottom: 6px;
    height: 122px;
    background-color: #75ab4f;
}

.theme-dark .ddp-wrap-engine-graph .ddp-box-graph.type-count-num .ddp-icon-status2 {
    position: absolute;
    top: 16px;
    right: 10px;
}

.theme-dark .ddp-wrap-engine-graph .ddp-box-graph.type-count-num .ddp-data-per {
    display: inline-block;
    padding: 2px 6px 3px 6px;
    margin-left: 5px;
    border-radius: 2px;
    font-size: 12px;
    background-color: #5e8940;
    color: #fff;
}

.theme-dark .ddp-wrap-engine-graph .ddp-box-graph.type-count-num.type-warning {
    background-color: #f3a611;
}

.theme-dark .ddp-wrap-engine-graph .ddp-box-graph.type-count-num.type-warning .ddp-icon-warning {
    display: block;
    float: left;
}

.theme-dark .ddp-wrap-engine-graph .ddp-box-graph.type-count-num.type-warning .ddp-data-per {
    background-color: #dc494f;
}

.theme-dark .ddp-wrap-engine-graph .ddp-box-graph.type-task {
    margin-bottom: 6px;
    height: 122px;
    background-color: #478743;
}

.theme-dark .ddp-wrap-engine-graph .ddp-wrap-num-graph {
    display: flex;
    flex-direction: column;
}

.theme-dark .ddp-view-setting .ddp-date-setting {
    float: right;
}

.theme-dark .ddp-view-setting .ddp-date-setting .ddp-btn-toggle {
    float: left;
    height: 30px;
    margin-left: 3px;
    padding: 7px 10px 7px 10px;
    background-color: #c3c8d3;
    border-radius: 2px;
    color: #4e5368;
    font-size: 13px;
    text-align: center;
    box-sizing: border-box;
}

.theme-dark .ddp-view-setting .ddp-date-setting .ddp-btn-toggle.ddp-selected {
    background-color: #4e5368;
    color: #fff;
}

.theme-dark .ddp-view-setting .ddp-date-setting .ddp-data-date {
    padding: 6px 0;
    margin-right: 10px;
    float: left;
    color: #4e5368;
}

.theme-dark .ddp-view-setting .ddp-date-setting .ddp-data-date .ddp-btn-refresh {
    display: inline-block;
    width: 12px;
    height: 13px;
    margin-left: 5px;
    background: url(../../../../images/icon_refresh2.png) no-repeat;
    background-position: -42px top;
    vertical-align: middle;
}

.theme-dark .ddp-box-type.ddp-type-server .ddp-wrap-status-value {
    display: flex;
    padding: 20px 20px 19px 20px;
    margin-left: -6px;
    border-bottom: 1px dotted #d2d3da;
}

.theme-dark .ddp-box-type.ddp-type-server .ddp-wrap-status-value .ddp-ui-status-value {
    flex: auto;
    margin-left: 6px;
    box-sizing: border-box;
}

.theme-dark .ddp-box-type.ddp-type-server .ddp-wrap-status-value .ddp-ui-status-value.type-all {
    flex: initial;
    width: 80px;
}

.theme-dark .ddp-box-type.ddp-type-server .ddp-wrap-status-value .ddp-ui-status-value:first-of-type {
    padding-left: 0;
}

.theme-dark .ddp-box-type.ddp-type-server .ddp-wrap-status-value .ddp-label-status {
    display: block;
    position: relative;
    padding: 11px 0 11px 20px;
    height: 38px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: bold;
    box-sizing: border-box;
    cursor: pointer;
}

.theme-dark .ddp-box-type.ddp-type-server .ddp-wrap-status-value .ddp-label-status.type-selected:after {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #7e8aa5;
    content: '';
    border-radius: 3px;
}

.theme-dark .ddp-box-type.ddp-type-server .ddp-wrap-status-value .ddp-label-status.type-all {
    padding: 11px 0 11px 0;
    text-align: center;
    background-color: #f5f5f5;
    color: #7e8aa5;
}

.theme-dark .ddp-box-type.ddp-type-server .ddp-wrap-status-value .ddp-label-status.type-all.type-selected:after {
    border: 1px solid #7e8aa5;
}

.theme-dark .ddp-box-type.ddp-type-server .ddp-wrap-status-value .ddp-label-status.type-warning {
    color: #f7af88;
    background-color: rgba(255, 182, 2, 0.1);
}

.theme-dark .ddp-box-type.ddp-type-server .ddp-wrap-status-value .ddp-label-status.type-warning.type-selected:after {
    border: 1px solid #ffb602;
}

.theme-dark .ddp-box-type.ddp-type-server .ddp-wrap-status-value .ddp-label-status.type-error {
    color: #dc494f;
    background-color: rgba(237, 57, 73, 0.1);
}

.theme-dark .ddp-box-type.ddp-type-server .ddp-wrap-status-value .ddp-label-status.type-error.type-selected:after {
    border: 1px solid #dc494f;
}

.theme-dark .ddp-box-type.ddp-type-server .ddp-wrap-status-value .ddp-label-status.type-historical {
    color: #58bb90;
    background-color: rgba(120, 196, 164, 0.1);
}

.theme-dark .ddp-box-type.ddp-type-server .ddp-wrap-status-value .ddp-label-status.type-historical.type-selected:after {
    border: 1px solid #78c4a4;
}

.theme-dark .ddp-box-type.ddp-type-server .ddp-wrap-status-value .ddp-label-status.type-normal {
    color: #58bb90;
    background-color: rgba(120, 196, 164, 0.1);
}

.theme-dark .ddp-box-type.ddp-type-server .ddp-wrap-status-value .ddp-label-status.type-normal.type-selected:after {
    border: 1px solid #78c4a4;
}

.theme-dark .ddp-box-type.ddp-type-server .ddp-wrap-status-value .ddp-label-status.type-middleManager {
    color: #dc494f;
    background-color: rgba(237, 57, 73, 0.1);
}

.theme-dark .ddp-box-type.ddp-type-server .ddp-wrap-status-value .ddp-label-status.type-middleManager.type-selected:after {
    border: 1px solid #dc494f;
}

.theme-dark .ddp-box-type.ddp-type-server .ddp-wrap-status-value .ddp-label-status:hover {
    color: #fff !important;
}

.theme-dark .ddp-box-type.ddp-type-server .ddp-wrap-status-value .ddp-label-status.type-all:hover {
    background-color: #7e8aa5;
}

.theme-dark .ddp-box-type.ddp-type-server .ddp-wrap-status-value .ddp-label-status.type-warning:hover {
    background-color: #ffb602;
}

.theme-dark .ddp-box-type.ddp-type-server .ddp-wrap-status-value .ddp-label-status.type-error:hover {
    background-color: #dc494f;
}

.theme-dark .ddp-box-type.ddp-type-server .ddp-wrap-status-value .ddp-label-status.type-historical:hover {
    background-color: #58bb90;
}

.theme-dark .ddp-box-type.ddp-type-server .ddp-wrap-status-value .ddp-label-status.type-normal:hover {
    background-color: #58bb90;
}

.theme-dark .ddp-box-type.ddp-type-server .ddp-wrap-status-value .ddp-label-status.type-middleManager:hover {
    background-color: #dc494f;
}

.theme-dark .ddp-box-type.ddp-type-server .ddp-wrap-status-value .ddp-label-status [class*="ddp-icon-status"] {
    position: absolute;
    top: 50%;
    right: 11px;
    margin-top: -10px;
}

.theme-dark .ddp-box-type.ddp-type-server .ddp-wrap-status-value .ddp-label-status:hover [class*="ddp-icon-status"] {
    background-position-x: -21px;
}

.theme-dark .ddp-box-type.ddp-type-server .ddp-wrap-status-value .ddp-label-status:hover:before {
    display: none;
}

.theme-dark .ddp-box-type.ddp-type-server .ddp-wrap-status-value .ddp-label-status:before {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    border-radius: 4px;
    content: '';
}

.theme-dark .ddp-box-type.ddp-type-server .ddp-wrap-status-value .ddp-label-status.type-selected:before {
    display: block;
}

.theme-dark .ddp-box-type.ddp-type-server .ddp-wrap-status-value .ddp-label-status.type-warning:before {
    background-color: #ffb602;
}

.theme-dark .ddp-box-type.ddp-type-server .ddp-wrap-status-value .ddp-label-status.type-error:before {
    background-color: #dc494f;
}

.theme-dark .ddp-box-type.ddp-type-server .ddp-wrap-status-value .ddp-label-status.type-historical:before {
    background-color: #78c4a4;
}

.theme-dark .ddp-box-type.ddp-type-server .ddp-wrap-status-value .ddp-label-status.type-normal:before {
    background-color: #78c4a4;
}

.theme-dark .ddp-box-type.ddp-type-server .ddp-wrap-status-value .ddp-label-status.type-middleManager:before {
    background-color: #dc494f;
}

.theme-dark .ddp-box-type.ddp-type-server .ddp-wrap-status-value .ddp-label-status.type-all:before {
    background-color: #7e8aa5;
}

.theme-dark .ddp-type-server {
    padding-bottom: 20px;
}

.theme-dark .ddp-type-server .ddp-box-top-setting .ddp-form-search  {
    float: left;
    margin: 15px 20px 0 20px;
}

.theme-dark .ddp-type-server .ddp-box-top-setting .ddp-type-option {
    float: right;
    padding: 0 20px 8px 0;
}

.theme-dark .ddp-type-server .ddp-box-top-setting .ddp-type-option .ddp-form-label2,
.theme-dark .ddp-type-server .ddp-box-top-setting .ddp-type-option .ddp-wrap-edit3,
.theme-dark .ddp-type-server .ddp-box-top-setting .ddp-type-option .ddp-list-tab-button {
    float: left;
}

.theme-dark .ddp-type-server .ddp-box-top-setting .ddp-type-option .ddp-form-label2 {
    padding: 12px 18px 0 0;
}

.theme-dark .ddp-type-server .ddp-box-top-setting .ddp-type-option .ddp-form-label2 .ddp-type-selectbox {
    width: 140px;
}

.theme-dark .ddp-type-server .ddp-box-top-setting .ddp-type-option .ddp-wrap-edit3 {
    width: auto;
    padding: 10px 0 0 0;
}

.theme-dark .ddp-type-server .ddp-box-top-setting .ddp-type-option .ddp-wrap-edit3 label.ddp-label-type {
    display: inline-block;
    width: auto;
    margin-right: 8px;
}

.theme-dark .ddp-type-server .ddp-box-top-setting .ddp-type-option .ddp-wrap-edit3 label.ddp-label-radio .ddp-tag-status {
    margin: -2px 0;
}

.theme-dark .ddp-type-server .ddp-box-top-setting .ddp-type-option .ddp-list-tab-button {
    margin: 13px 0 0 20px;
}

.theme-dark .ddp-type-server .ddp-box-detail {
    padding: 0 20px;
    margin-bottom: -10px;
}

.theme-dark .ddp-type-server .ddp-box-detail .ddp-grid-detail {
    margin: -2px -2px 10px -2px;
    overflow: hidden;
    clear: both;
}

.theme-dark .ddp-type-server .ddp-box-detail .ddp-grid-detail .ddp-grid-box {
    float: left;
    width: 36px;
    padding: 10px 0 11px 0;
    margin: 2px;
    background-color: rgba(120, 196, 164, 0.1);
    text-align: center;
    color: #58bb90;
}

.theme-dark .ddp-type-server .ddp-box-detail .ddp-grid-detail .ddp-grid-box.type-error {
    background-color: #dc494f;
    color: #fff;
}

.theme-dark .ddp-type-server .ddp-box-detail .ddp-table-detail3 {
    margin-bottom: 10px;
}

.theme-dark table.ddp-table-detail3 {
    border-collapse: collapse;
    border: 1px solid #d0d1d9;
}

.theme-dark table.ddp-table-detail3 tr th {
    position: relative;
    padding: 9px 30px 9px 14px;
    color: #7e8aa5;
    font-weight: normal;
    text-align: Left;
    border-bottom: 1px solid #d0d1d9;
    border-right: 1px solid #eaedf5;
}

.theme-dark table.ddp-table-detail3 tr th:last-of-type {
    border-right: none;
}

.theme-dark table.ddp-table-detail3 tr th [class*="ddp-icon-array"] {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -10px;
}

.theme-dark table.ddp-table-detail3 tr td {
    padding: 9px 18px 9px 18px;
    border: 1px solid #eaedf5;
    border-left: none;
    vertical-align: top;
    color: #4e5368;
    font-size: 13px;
}
.theme-dark table.ddp-table-detail3 tr:last-of-type td
{border-bottom:none;}

.theme-dark table.ddp-table-detail3 tr:nth-child(odd) td {
    background-color: #fafafa;
}

.theme-dark table.ddp-table-detail3 tr td ul.ddp-list-data {
    margin: -9px -18px;
}

.theme-dark table.ddp-table-detail3 tr td ul.ddp-list-data li {
    padding: 9px 18px 9px 18px;
}

.theme-dark table.ddp-table-detail3 tr td ul.ddp-list-data li:nth-child(odd) {
    background-color: #fafafa;
}

.theme-dark table.ddp-table-detail3 tr td:last-of-type {
    border-right: none;
}

.theme-dark table.ddp-table-detail3 tr td .ddp-tag-status {
    margin: -3px 0;
}

.theme-dark table.ddp-table-detail3 tr td .ddp-data-node {
    font-size: 13px;
    font-weight: bold;
}

.theme-dark table.ddp-table-detail3 tr td .ddp-data-node.type-broker {
    color: #f7af88;
}

.theme-dark table.ddp-table-detail3 tr td .ddp-data-node.type-coordinator {
    color: #f78887;
}

.theme-dark table.ddp-table-detail3 tr td .ddp-data-node.type-historical {
    color: #93cf6d;
}

.theme-dark table.ddp-table-detail3 tr td .ddp-data-node.type-overlord {
    color: #54bc9b;
}

.theme-dark table.ddp-table-detail3 tr td .ddp-data-node.type-middleManager {
    color: #8899d9;
}

.theme-dark table.ddp-table-detail3 tr td .ddp-type-status-error {
    position: relative;
}

.theme-dark table.ddp-table-detail3 tr td .ddp-type-status-error .ddp-txt-error {
    position: relative;
    font-style: normal;
    margin-left: 8px;
    cursor: pointer;
}

.theme-dark table.ddp-table-detail3 tr td .ddp-type-status-error .ddp-txt-error .ddp-icon-error {
    margin-right: 4px;
}

.theme-dark table.ddp-table-detail3 tr td .ddp-type-status-error .ddp-box-layout4 .ddp-data-title .ddp-sub-title {
    font-weight: normal;
}

.theme-dark table.ddp-table-detail3 tr td .ddp-type-status-error .ddp-box-layout4 {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
    width: auto;
}

.theme-dark table.ddp-table-detail3 tr td .ddp-type-status-error .ddp-box-layout4 .ddp-data-det {
    white-space: nowrap;
}

.theme-dark table.ddp-table-detail3 tr td .ddp-type-status-error:hover .ddp-box-layout4 {
    display: block;
}

/**************************************************************
  Page : 05_06EngineMonitoring_02Ingestion_01List
**************************************************************/
.theme-dark .ddp-ui-contents-det .ddp-list-option {
    padding: 10px 0 20px 0;
}

.theme-dark .ddp-ui-contents-det .ddp-list-option .ddp-wrap-boxtab {
    float: left;
}

.theme-dark .ddp-ui-contents-det .ddp-list-option .ddp-option-right {
    float: right;
}

.theme-dark .ddp-ui-contents-det .ddp-list-option .ddp-form-label2 label.ddp-label-type {
    color: #7e8aa5;
}

.theme-dark .ddp-form-label2 .ddp-wrap-dropdown.type-refresh {
    position: relative;
    padding-right: 29px;
}

.theme-dark .ddp-ui-contents-det .ddp-wrap-top-filtering {
    margin: 0 0 10px 0;
    padding: 0 20px;
}

.theme-dark .ddp-wrap-top-filtering .ddp-form-filtering:first-of-type .ddp-result-filtering {
    margin-left: 0;
}

/* refresh form */
.theme-dark .ddp-wrap-dropdown.type-refresh .ddp-btn-refresh {display:inline-block; position:absolute; top:0; right:0; width:30px; height:30px; border-radius:0 2px 2px 0; background-color:#7e8aa5;}
.theme-dark .ddp-wrap-dropdown.type-refresh .ddp-btn-refresh:before {display:inline-block; position:absolute; top:50%; left:50%; margin:-8px 0 0 -9px; width:18px; height:15px; background:url(../../../../images/btn_refresh.png) no-repeat; background-position:-36px top;content:'';}

/**************************************************************
  Page : 05_06EngineMonitoring_02Ingestion_01Task_02Detail
**************************************************************/
.theme-dark .ddp-top-flow .ddp-wrap-navi .ddp-data-name {
    color: #fff;
}

.theme-dark .ddp-ui-datadetail.type-detail .ddp-data-sub {
    padding: 0 20px;
}

.theme-dark .ddp-ui-datadetail.type-detail .ddp-wrap-log {
    position: relative;
    margin-top: 10px;
    height: 397px;
    padding: 15px 15px 76px 15px;
    background-color: #1f2942;
    box-sizing: border-box;
}

.theme-dark .ddp-ui-datadetail.type-detail .ddp-wrap-log .ddp-box-log {
    height: 100%;
    color: #fff;
}

.theme-dark .ddp-ui-datadetail.type-detail .ddp-box-log-option {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: #f4f6fc;
    border-radius: 2px;
}

.theme-dark .ddp-ui-datadetail.type-detail .ddp-box-log-option .ddp-left-option {
    float: left;
}

.theme-dark .ddp-ui-datadetail.type-detail .ddp-box-log-option .ddp-dl-option {
    padding: 14px 0 14px 13px;
}

.theme-dark .ddp-ui-datadetail.type-detail .ddp-box-log-option .ddp-dl-option dt {
    float: left;
    position: relative;
    top: 8px;
    padding-right: 6px;
    color: #4e5368;
    font-size: 12px;
}

.theme-dark .ddp-ui-datadetail.type-detail .ddp-box-log-option .ddp-dl-option dd {
    float: left;
}

.theme-dark .ddp-ui-datadetail.type-detail .ddp-box-log-option .ddp-dl-option dd .ddp-data-status {
    position: relative;
    top: 8px;
    float: left;
    margin-right: 16px;
    font-weight: bold;
    color: #4e5368;
    font-size: 12px;
}

.theme-dark .ddp-ui-datadetail.type-detail .ddp-box-log-option .ddp-dl-option dd .ddp-box-status {
    float: left;
    margin-right: 4px;
    padding: 6px 8px;
    color: #fff;
    font-size: 13px;
    border-radius: 3px;
}

.theme-dark .ddp-ui-datadetail.type-detail .ddp-box-log-option .ddp-dl-option dd .ddp-box-status.type-error {
    background-color: #ed3949;
}

.theme-dark .ddp-ui-datadetail.type-detail .ddp-box-log-option .ddp-dl-option dd .ddp-box-status.type-warning {
    background-color: #ffba00;
}

.theme-dark .ddp-ui-datadetail.type-detail .ddp-box-log-option .ddp-dl-option dd .ddp-box-status:before {
    display: inline-block;
    background: url(../../../../images/icon_info3.png) no-repeat;
    content: '';
    vertical-align: middle;
}

.theme-dark .ddp-ui-datadetail.type-detail .ddp-box-log-option .ddp-dl-option dd .ddp-box-status.type-error:before {
    width: 13px;
    height: 13px;
    background-position: -14px -27px;
}

.theme-dark .ddp-ui-datadetail.type-detail .ddp-box-log-option .ddp-dl-option dd .ddp-box-status.type-warning:before {
    width: 13px;
    height: 12px;
    background-position: -14px -67px;
}

.theme-dark .ddp-ui-datadetail.type-detail .ddp-box-log-option .ddp-right-option {
    float: right;
}

.theme-dark .ddp-ui-datadetail.type-detail .ddp-box-log-option .ddp-ui-btn-log {
    float: left;
    padding: 20px 25px 0 0;
}

.theme-dark .ddp-ui-datadetail.type-detail .ddp-box-log-option .ddp-btn-log {float:left; margin-left:15px; background:url(../../../../images/btn_log.png) no-repeat;}
.theme-dark .ddp-ui-datadetail.type-detail .ddp-box-log-option .ddp-btn-log.type-refresh {width:14px; height:14px;}
.theme-dark .ddp-ui-datadetail.type-detail .ddp-box-log-option .ddp-btn-log.type-down {width:13px; height:13px; background-position-y:-15px;}
.theme-dark .ddp-ui-datadetail.type-detail .ddp-box-log-option .ddp-btn-log.type-newwindow {width:14px; height:12px; background-position-y:-29px;}
.theme-dark .ddp-ui-datadetail.type-detail .ddp-box-log-option .ddp-btn-log.type-newtab {width:13px; height:13px;background-position-y:-43px;}

.theme-dark .ddp-ui-datadetail.type-detail .ddp-box-graph {
    height: 250px;
    padding: 20px;
    background-color: #383f49;
    box-sizing: border-box;
}

.theme-dark .ddp-ui-datadetail .ddp-label-option {
    position: relative;
}

.theme-dark .ddp-ui-datadetail .ddp-label-option .ddp-type-selectbox {
    position: absolute;
    top: -12px;
    right: 0;
    width: 180px;
}

.theme-dark .ddp-detail-contents.type-form .ddp-option-type {
    position: absolute;
    top: 0;
    right: 40px;
    z-index: 1;
}

.theme-dark .ddp-detail-contents.type-form .ddp-option-type .ddp-type-selectbox {
    width: 180px;
}

.theme-dark .ddp-detail-contents.type-form .ddp-wrap-monitoring {
    height: 330px;
    background-color: #383f49;
}

.theme-dark .ddp-detail-overview {
    margin-top: 20px;
}

.theme-dark .ddp-detail-overview .ddp-label {
    margin-bottom: 10px;
    color: #4e5368;
    font-weight: bold;
}

.theme-dark .ddp-detail-overview .ddp-box-viewtable {
    position: absolute;
    top: 373px;
    left: 0;
    right: 0;
    bottom: 20px;
    min-height: auto;
    border: 1px solid #c3c8d3;
    overflow: auto;
}

.theme-dark .ddp-detail-contents .ddp-view-datadetail {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 0 20px 20px;
    overflow: auto;
}

.theme-dark .ddp-detail-contents .ddp-view-datadetail .ddp-ui-datadetail .ddp-label-detail {
    font-size: 13px;
    font-weight: bold;
}

.theme-dark .ddp-detail-contents .ddp-view-datadetail .ddp-wrap-graph {
    height: 230px;
    background-color: #383f49;
}

.theme-dark .ddp-detail-contents .ddp-ui-datadetail.type-detail + .ddp-ui-datadetail.type-detail {
    padding-top: 20px;
}

.theme-dark .ddp-table-detail tr td .ddp-datasource .ddp-tag-status {
    display: inline-block;
    margin-right: 8px;
}

.theme-dark .ddp-table-detail tr td .ddp-datasource .ddp-txt-info {
    display: inline-block;
}
/**************************************************************
  popup : 05_06DataMonitoring_01overview_01DruidInfo_popup
**************************************************************/
.theme-dark .ddp-pop-preview.ddp-type.page-information {
    left: 170px;
    right: 170px;
}

.theme-dark .ddp-wrap-informaiton {
    position: relative;
    padding: 0 20px;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    z-index: 1;
}

.theme-dark .ddp-wrap-informaiton .ddp-ui-detail {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #eaedf5;
}

.theme-dark .ddp-wrap-informaiton .ddp-ui-detail:first-of-type {
    border-top: none;
}
