@charset "utf-8";

/****************************************************************************
   Page
*************************************************************************/
@import url('page/metatron.page.02Workbook_Dashboard.css');/* 02_워크북_02대시보드_03편집 */
@import url('page/metatron.page.05Management_datasourceDetail.css');/* 05_매니지먼트_00데이터저장소_02데이터소스상세 */
@import url('page/metatron.page.09WorkbenchDetail.css'); /* 09_워크벤치_03상세 */


/****************************************************************************
   Page
*************************************************************************/
@import url('popup/metatron.popup.05Management_Create.css'); /* 05_매니지먼트_00데이터저장소_01생성_01DB2 */
@import url('popup/metatron.popup.09WorkbenchDetail_scheme.css'); /* 09_워크벤치_03상세_01Scheme */
